.sponsorContainer
  color: white
  *
    word-break: break-word
    white-space: normal
  .tierRow
    margin-bottom: 60px
    &:last-of-type
      margin-bottom: 0
    &:first-of-type
      .slotWrap
        .sponsorSlot
          .sponsorName
            font-size: 16px
    &:nth-of-type(2)
      .slotWrap
        .sponsorSlot
          .sponsorName
            font-size: 14px
    &:nth-of-type(3)
      .slotWrap
        .sponsorSlot
          .sponsorName
            font-size: 12px
    :global(.ant-input-group-addon)
      padding: 2px
      width: 50px
      font-size: 13px
    label
      padding-right: 5px
      display: block
      font-size: 16px
    .tierTitle
      padding-right: 10px
      font-size: 13px
      @media screen and (min-width: 768px)
        font-size: 18px
      @media screen and (min-width: 992px)
        font-size: 16px
      &:global(.Diamond)
        color: #00FFF0
      &:global(.Gold)
        color: #FFD058
    .editTierWrap
      margin-bottom: 20px
      :global(.ant-typography)
        color: #ffffff
    .editTier
      width: 100%
      max-width: 205px
      height: 40px
      padding: 5px 10px
      font-size: 14px
      font-weight: 500
      background: rgba(255, 255, 255, 0.2)
      border: none
      &:focus
        background: rgba(255, 255, 255, 0.2)
        color: #ffffff
      @media screen and (min-width: 576px)
        font-size: 16px
    .slotWrap
      display: flex
      flex-wrap: wrap
      padding-top: 20px
      margin: 0 -5px
      @media screen and (min-width: 992px)
        margin: 0 -10px
      .sponsorSlot
        padding: 0 5px
        margin-bottom: 20px
        max-width: 300px
        @media screen and (min-width: 768px)
          padding: 0 10px
        .sponsorLogoWrap
          position: relative
          margin-bottom: 10px
          padding: 0 50px 0 5px
        .sponsorEdit
          display: block
          width: 42px
          height: 25px
          position: absolute
          bottom: 0
          right: 0
          background: rgba(255, 255, 255, 0.2)
          color: #ffffff
          padding: 2px 5px
          font-size: 14px
          font-weight: 500
          line-height: 1
          border: none
        .sponsorLogo
          width: 100%
        .sponsorName
          text-align: center
          font-size: 10px
  .collapse
    padding: 10px 0 10px
  :global(.ant-switch)
    background-color: #bbb !important
  :global(.ant-switch-checked)
    background-color: #0BEBD6 !important
  :global(.ant-btn[disabled])
    background: #8b8b8b
    color: #ffffff
  :global(.ant-input-number-group-addon)
    width: 60px
    padding: 0 5px
  .addNewSponsorBtn
    display: block
    background: linear-gradient(to right, rgba(24, 137, 228, 0.5), rgba(11, 235, 214, 0.5)) !important
    font-size: 14px
    font-weight: 500
    color: #00FFFF !important
    border: none
    padding: 10px
    line-height: 1
    &:disabled
      background: linear-gradient(to right, rgb(177 177 177 / 50%), rgb(74 74 74 / 50%)) !important
      color: #67cfcf !important
.sponsorDetailForm
  label
    color: #ffffff !important
  .btn
    display: flex
    justify-content: flex-end

.message_error
  font-size: 14px
  margin-top: 4px
  color: #cb3636

.becomeSponsor
  :global(.ant-row-middle)
    align-items: start
  :global(.ant-input[disabled])
    background: #8b8b8b
    color: #ffffff
.adsDescription
  font-size: 14px
  margin-bottom: 0
.formFieldBg
  background: linear-gradient(90.32deg, rgba(255, 255, 255, 0.2) 0%, rgba(217, 217, 217, 0.04) 100%)
  font-size: 18px
  color: #ffffff
  font-weight: 500
  line-height: 1.15
  padding: 12px 15px
  border: none
  width: 100%
  border-radius: 4px
  height: 40px
  &.formFieldNumber
    height: 40px
    padding: 0
    :global(.ant-input-number-input-wrap)
      height: 100%
      input
        height: 100%
        font-size: 18px
  &.formFieldSelect
    padding: 0
    :global(.ant-select-selector)
      background: none
      border: none
      padding: 5px 10px
      height: 40px
      :global(.ant-select-selection-item)
        line-height: 1.6
    :global(.ant-select-arrow)
      background: url("/assets/iconCarretDown.svg") no-repeat center
      background-size: contain
      width: 13px
      height: 13px
      transform: translateY(-50%)
      margin-top: 0
      *
        display: none
.amountCurrency
  display: flex
  align-items: center
  .currencySymbol
    color: #00FFFF
    font-size: 20px
    margin-left: 18px
    min-width: 55px
