.block_card
  display: flex
  flex-wrap: wrap
  @media (max-width: 767px)
    justify-content: center
  @media (min-width: 768px) and (max-width: 991px)
    justify-content: space-between

  :global(.ant-pagination)
    display: flex
    justify-content: center
    align-items: center
    :global(.ant-pagination-prev .ant-pagination-item-link),
    :global(.ant-pagination-next .ant-pagination-item-link)
      border: none
      width: 40px
      height: 40px
      border-radius: 100%
      position: relative
      display: flex
      align-items: center
      justify-content: center
      z-index: 2
      color: #0BEBD6
      font-weight: 700
      margin: 0px 20px
      background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%)
    :global(.ant-pagination-prev .ant-pagination-item-link::before),
    :global(.ant-pagination-next .ant-pagination-item-link::before)
      content: ''
      position: absolute
      top: 50%
      left: 50%
      height: 60px
      width: 60px
      background: linear-gradient(226.29deg, rgba(59, 226, 205, 0.7) -0.17%, rgba(51, 175, 212, 0.7) 93.89%)
      filter: blur(20px)
      border-radius: 100%
      transform: translate(-50%, -50%)
      z-index: 0
    :global(.ant-pagination-item)
      background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%)
      border: none
      height: 40px
      min-width: 40px
      display: flex
      align-items: center
      justify-content: center
    :global(.ant-pagination-item-active)
      background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%)
    :global(.ant-pagination-item a)
      color: #FFF
    :global(.ant-pagination-item a:active),
    :global(.ant-pagination-item a:focus)
      color: #0BEBD6
  .wrapper
    margin: 22px 0px
    @media (min-width: 0)
      width: 100%
      max-width: 352px
    // @media (min-width: 640px) and (max-width: 991px)
    //   width: 47%

    .container_card
      background: linear-gradient(292deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
      backdrop-filter: blur(42px)
       // box-shadow: inset 0px 6.44px 25.77px rgba(255, 255, 255, 0.4)
      min-height: 500px
      display: flex
      flex-direction: column
      position: relative
      transition: 0.3s
      overflow: hidden
      border-radius: 16px
      @media (min-width: 640px)
        min-height: auto
      .im_game
        max-height: 260px
        height: 100%
        overflow: hidden
        position: relative
        margin-top: 1px
        display: flex
        align-items: center
        justify-content: center
        border-radius: 16px 16px 0px 0px
        min-height: 260px
        padding: 1px
        @media (min-width: 640px) and (max-width: 768px)
          max-height: 250px
          min-height: 250px
        @media (min-width: 992px)
          max-height: 150px
          min-height: 150px
        @media (min-width: 1280px)
          max-height: 200px
          min-height: 200px
        @media (min-width: 1440px)
          max-height: 220px
          min-height: 220px
        @media (min-width: 1600px)
          max-height: 260px
          min-height: 260px
        .thumbnail
          background-size: cover
          background-position: center
          background-repeat: no-repeat
          padding: 130px 0px
          width: 100%
          cursor: pointer
          @media (min-width: 640px)
            padding: 125px 0px
          @media (min-width: 768px)
            padding: 135px 0px
          @media (min-width: 992px)
            padding: 90px 0px
          @media (min-width: 1280px)
            padding: 120px 0px
          @media (min-width: 1600px)
            padding: 130px 0px
        .info
          position: absolute
          top: 0
          background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
          width: 100%
          height: 30%
          color: #FFF
          display: flex
          justify-content: space-between
          align-items: center
          @media (min-width: 0px)
            padding: 20px
          @media (min-width: 640px)
            padding: 20px 8px
            font-size: 12px
          @media (min-width: 1440px)
            flex-direction: row
            padding: 20px
          p
            color: #0BEBD6
            font-weight: 600
            margin: 0
            @media (min-width: 0px)
              font-size: 14px
            @media (min-width: 640px)
              font-size: 12px
            @media (min-width: 992px)
              font-size: 10px
            @media (min-width: 1280px)
              font-size: 14px
          .number
            display: flex
            align-items: center
            span
              padding-left: 4px
              @media (min-width: 992px)
                font-size: 10px
              @media (min-width: 1280px)
                font-size: 14px
      .heading
        color: #FFF
        a
          color: #FFF
        @media (min-width: 0px)
          padding: 0px 12px 16px 12px
        @media (min-width: 640px)
          padding: 0px 8px 12px 8px
        @media (min-width: 1440px)
          padding: 12px 20px 20px 20px
        .im_logo_game
          padding: 4px 0px
          display: flex
          justify-content: space-between
          align-items: center
          @media (min-width: 768px)
            height: 60px
            margin-top: 12px
          @media (min-width: 992px)
            margin-top: 6px
            height: 40px
          @media (min-width: 1280px)
            margin-top: 20px
            max-height: 50px
          @media (min-width: 1440px)
            margin-top: 12px
          img
            padding: 5px
            @media (min-width: 0px)
              height: 72px
            @media (min-width: 992px)
              height: 50px
            @media (min-width: 1280px)
              height: 72px
            @media (min-width: 1440px)
              height: 82px

          .time
            text-transform: uppercase
            @media ( min-width: 992px )
              font-weight: 600
              font-size: 10px
              line-height: 115%
            @media ( min-width: 1280px )
              font-size: 14px
            @media ( min-width: 1440px )
              font-size: 16px
        h2
          overflow: hidden
          height: 64px
          word-break: break-word
          cursor: pointer
          @media (min-width: 992px)
            height: 46px
            margin: 0px
          @media (min-width: 1280px)
            padding-top: 8px
            height: 54px
          @media (min-width: 1440px)
            height: 68px
            margin: 0px
          .title
            color: #FFF
            font-weight: 700
            @media (min-width: 0px)
              font-size: 24px
              line-height: 28px 
            @media (min-width: 640px)
              padding-top: 8px
              font-size: 24px
            @media (min-width: 992px)
              font-size: 16px
              line-height: 20px
            @media (min-width: 1440px)
              font-size: 20px
              line-height: 28px   
            @media (min-width: 1600px)
              font-size: 24px

        .hosted_by
          display: flex
          align-items: center
          justify-content: space-between
          padding-top: 12px
          .hosted_by_detail
            display: flex
            align-items: center
            font-weight: 300
            @media (min-width: 0px)
              font-size: 14px
              line-height: 16px
            @media (min-width: 640px)
              font-size: 13px
            @media (min-width: 992px)
              font-size: 10px
              line-height: 14px
            @media (min-width: 1440px)
              font-size: 14px
              line-height: 16px
            span
              @media (min-width: 992px) and (max-width: 1919px)
                display: none
              @media (min-width: 0) and (max-width: 359px)
                display: none
            .user
              display: flex
              align-items: center
              .avt
                width: 25px
                height: 25px
                overflow: hidden
                border-radius: 100%
                @media (min-width: 0px)
                  margin: 0px 4px 0px 0px
                @media (min-width: 360px)
                  margin: 0px 4px 0px 8px
                @media (min-width: 992px)
                  margin: 0px 4px 0px 0px
                @media (min-width: 1600px)
                  margin: 0px 4px 0px 4px
                @media (min-width: 1920px)
                  margin: 0px 4px 0px 8px
              a
                color: #FFF
                text-decoration: revert
                height: 15px
                overflow: hidden
                @media (min-width: 0px)
                  width: 90px
                @media (min-width: 414px)
                  width: 92px
                @media (min-width: 540px)
                  width: 90px
                @media (min-width: 768px)
                  width: 110px
                @media (min-width: 992px)
                  width: 90px
                @media (min-width: 1280px)
                  width: 110px

          .prize_pool
            display: flex
            align-items: center
            img
              margin-right: 4px
            span
              @media (min-width: 0px)
                font-size: 12px
              @media (min-width: 992px)
                font-size: 8px
                line-height: 15px
              @media (min-width: 1024px)
                font-size: 9px
              @media (min-width: 1440px)
                font-size: 12px

        .ntf
          display: flex
          align-items: center
          justify-content: space-between
          padding-top: 28px
          @media (min-width: 0px)
            padding-top: 12px
          @media (min-width: 992px)
            padding-top: 8px
          @media (min-width: 1440px)
            padding-top: 16px
          .ic_ntf
            max-width: 20px
            line-height: 0
        .ntf > div
          display: flex
          align-items: center
        .ntf > div span
          color: #0BEBD6
          font-weight: 700
          line-height: 120%
          margin-left: 4px
          @media (min-width: 0px)
            font-size: 16px
            @media (min-width: 640px)
              font-size: 20px
            @media (min-width: 992px)
              font-size: 12px
            @media (min-width: 1280px)
              font-size: 14px
            @media (min-width: 1600px)
              font-size: 20px

        .ntf > span
          font-weight: 600
          line-height: 115%
          @media (min-width: 0px)
            font-size: 16px
          @media (min-width: 992px)
            font-size: 10px
          @media (min-width: 1440px)
            font-size: 14px
          @media (min-width: 1600px)
            font-size: 16px
        .btn_join_now
          border-radius: 8px
          font-weight: 600
          moz-transition: all .3s ease-in-out
          -o-transition: all .3s ease-in-out
          -webkit-transition: all .3s ease-in-out
          transition: all .3s ease-in-out
          background-size: 140% 50%
          @media (min-width: 992px)
            padding: 0px 12px
            font-size: 12px
          @media (min-width: 1280px)
            padding: 6px 20px
            font-size: 14px
          @media (min-width: 1600px)
            font-size: 16px
            height: auto
          @media (min-width: 1920px)
            font-size: 20px
        .btn_join_now:hover
          background-position: 50% 0% 
          moz-transition: all .3s ease-in-out
          -o-transition: all .3s ease-in-out
          -webkit-transition: all .3s ease-in-out
          transition: all .3s ease-in-out
  .pagination
    display: flex
    justify-content: center
    margin-top: 40px

.btn_load
  display: flex
  align-items: center
  justify-content: center
  position: relative
  margin-top: 40px
  button
    border: none
    background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%)
    border-radius: 100%
    height: 60px
    width: 60px
    backdrop-filter: blur(12px)
    color: #0bebd6
    font-weight: 700
    display: flex
    align-items: center
    justify-content: center
  button:hover,
  button:active,
  button:focus
    background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%)
    color: #0bebd6

.btn_load::before
  content: ''
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  height: 100px
  width: 100px
  background: linear-gradient(226.29deg, rgba(59, 226, 205, 0.7) -0.17%, rgba(51, 175, 212, 0.7) 93.89%)
  border-radius: 100%
  filter: blur(40px)


.container_card::before
  content: ''
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  border-radius: 16px
  padding: 1px
  background: linear-gradient(85deg, rgb(205 168 217 / 33%) 0%, rgba(0, 0, 0, 0.2) 100%)
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
  -webkit-mask-composite: xor
  mask-composite: exclude
  z-index: -1
.wrapper:hover .container_card
  box-shadow: inset 0px 6.44px 25.77px rgba(255, 255, 255, 0.4)

.listItems
  display: flex
  justify-content: center
  align-items: center
  gap: 10px 7px
  flex-wrap: wrap
  @media screen and (max-width: 374px)
    width: 360px !important
  @media screen and (min-width: 575px)
    gap: 15px 15px
  @media screen and (min-width: 768px)
    gap: 10px 7px
  @media screen and (min-width: 992px)
    gap: 20px 20px
  @media screen and (min-width: 1200px)
    //width: 992px !important
    gap: 32px 40px
  //@media screen and (min-width: 1400px)
  //  width: 1400px !important

  .item
    display: flex
    flex-direction: column
    color: #FFFFFF
    width: 176px
    position: relative
    cursor: pointer
    border-radius: 4px
    backdrop-filter: blur(40px)
    background: rgba(69, 80, 107, 0.4)
    @media screen and (min-width: 375px)
      width: 184px
    @media screen and (min-width: 768px)
      width: 235px
    @media screen and (min-width: 1200px)
      width: 320px
    > *
      z-index: 1
    &:after
      position: absolute
      content: ""
      background: rgba(69, 80, 107, 0.4)
      //backdrop-filter: blur(32.2681px)
      width: 100%
      height: 100%
      z-index: 0
    &:hover
      &:before
        position: absolute
        content: ""
        width: 100%
        height: 100%
        z-index: 2
        box-shadow: inset 0px 0px 40px rgba(11, 235, 214, 0.64)
    .itemImg
      position: relative
      &:hover
        box-shadow: inset 0px 0px 40px rgba(11, 235, 214, 0.64)
      .itemDescImg
        position: absolute
        display: flex
        justify-content: space-around
        background: linear-gradient(180deg, rgba(23, 29, 46, 0.8) 0%, rgba(23, 29, 46, 0.8) 0.01%, rgba(23, 29, 46, 0.48) 73.33%, rgba(0, 6, 37, 0) 100%)
        color: #FFFFFF
        padding: 8px 0
        width: 100%
        margin-bottom: 16px
        .itemDescImgL
          display: flex
          align-items: center
          img
            width: 10px
            height: 10px
            margin-right: 4px
            @media screen and (min-width: 768px)
              width: 14px
              height: 13px
              margin-right: 8px
          span
            font-family: 'Lexend', serif
            font-weight: 300
            font-size: 10px
            line-height: 15px
            @media screen and (min-width: 768px)
              font-size: 12px
              line-height: 18px
            @media screen and (min-width: 1200px)
              font-size: 14px
              line-height: 21px
        .itemDescImgLR
          display: flex
          align-items: center
          //background: linear-gradient(91.01deg, rgba(0, 6, 37, 0.4) 3.83%, rgba(0, 0, 0, 0.4) 108.05%)
          img
            width: 14px
            height: 15px
            margin-right: 4px
            @media screen and (min-width: 768px)
              width: 20px
              height: 20px
              margin-right: 8px
          span
            font-family: 'Lexend', serif
            font-weight: 300
            font-size: 10px
            line-height: 15px
            @media screen and (min-width: 768px)
              font-size: 12px
              line-height: 18px
            @media screen and (min-width: 1200px)
              font-size: 14px
              line-height: 21px
        .itemDescImgGameMode
          font-family: 'Lexend', serif
          font-weight: 300
          font-size: 10px
          line-height: 15px
          color: #DBE0E8
          @media screen and (min-width: 768px)
            font-size: 12px
            line-height: 15px
          @media screen and (min-width: 1200px)
            font-size: 14px
            line-height: 18px
      .thumbnail
        img
          width: 184px
          aspect-ratio: 350/180
          @media screen and (min-width: 768px)
            width: 245px
          @media screen and (min-width: 1200px)
            width: 350px
    .itemDesc
      display: flex
      //padding: 0 8px
      //margin-top: 10px
      //@media screen and (min-width: 768px)
      //  margin-top: 12px
      .itemFreeEntry
        padding: 4px
        min-width: 62px
        max-width: 62px
        position: relative
        overflow: hidden
        opacity: 0.8
        @media screen and (min-width: 575px)
          min-width: 80px
          max-width: 80px
        @media screen and (min-width: 768px)
          min-width: 106px
          max-width: 106px
          padding: 9px 20px 9px 9px
        &:after
          z-index: -1
          content: ''
          position: absolute
          right: 0
          top: 0
          background: linear-gradient(91.01deg, rgba(0, 6, 37, 0.4) 3.83%, rgba(0, 0, 0, 0.4) 108.05%)
          width: 100%
          height: 100%
          transform: skewX(340deg)
          transform-origin: top
        img
          width: 40px
          aspect-ratio: 72/25
          @media screen and (min-width: 768px)
            width: 72px
        p
          font-family: 'Lexend', serif
          font-weight: 300
          font-size: 6px
          line-height: 8px
          text-transform: uppercase
          margin-bottom: 0 !important
          width: 71px
          @media screen and (min-width: 375px)
            font-size: 7px
          @media screen and (min-width: 575px)
            font-size: 8px
            line-height: 10px
            margin-left: 2px
          @media screen and (min-width: 768px)
            font-size: 10px
            line-height: 12px
            margin-left: 7px
          @media screen and (min-width: 1200px)
            font-size: 12px
            line-height: 15px
            margin-left: 0
      //background: linear-gradient(91.01deg, rgba(0, 6, 37, 0.4) 3.83%, rgba(0, 0, 0, 0.4) 108.05%)
      .itemAva
        margin-top: 8px
        margin-right: 8px
        @media screen and (min-width: 768px)
          margin-top: 12px
        img
          width: 20px
          height: 20px
          border-radius: 50%
          @media screen and (min-width: 575px)
            width: 30px
            height: 30px
      .itemCreator
        margin-top: 6px
        @media screen and (min-width: 575px)
          margin-top: 9px
        @media screen and (min-width: 768px)
          margin-top: 13px
        p
          font-family: 'Lexend', serif
          font-weight: 300
          font-size: 10px
          line-height: 12px
          margin-bottom: 0
          color: #DBE0E8
          @media screen and (min-width: 575px)
            font-size: 12px
            line-height: 15px
        h2
          font-family: 'Lexend', serif
          font-weight: 400
          font-size: 10px
          line-height: 12px
          color: #00F9FF
          overflow: hidden
          display: -webkit-box
          -webkit-line-clamp: 1
          -webkit-box-orient: vertical
          margin-bottom: 0
          @media screen and (min-width: 575px)
            font-size: 12px
            line-height: 15px
    .itemTitle
      margin: 6px 8px
      @media screen and (min-width: 375px)
          margin: 10px 6px 13px 6px
      @media screen and (min-width: 768px)
        margin: 10px 15px 13px 15px
      p
        max-height: 31px
        min-height: 31px
        //display: flex
        align-items: center
        font-family: 'Lexend', serif
        font-weight: 600
        font-size: 13px
        line-height: 15px
        padding: 0
        letter-spacing: -0.04em
        text-overflow: ellipsis
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 2
        -webkit-box-orient: vertical
        margin-bottom: 0
        @media screen and (min-width: 768px)
          font-size: 20px
          line-height: 28px
          padding: 0 8px
          max-height: 56px
          min-height: 56px
    .itemGroupCT
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      padding: 4px
      background: linear-gradient(88.26deg, rgba(11, 235, 214, 0.4) 0%, rgba(57, 199, 255, 0) 100%)
      @media screen and (min-width: 575px)
        padding: 8px
      @media screen and (min-width: 768px)
        padding: 15px 15px
      .itemCurrency
        font-family: 'Lexend', serif
        font-weight: 500
        font-size: 14px
        line-height: 18px
        color: #FFD058
        @media screen and (min-width: 768px)
          font-size: 18px
          line-height: 22px
        @media screen and (min-width: 1200px)
          font-size: 24px
          line-height: 30px
      .itemTime
        display: flex
        align-items: center
        img
          width: 10px
          height: 10px
          margin-right: 4px
          @media screen and (min-width: 768px)
            width: 14px
            height: 14px
        span
          margin-bottom: 0
          font-family: 'Lexend', serif
          font-weight: 400
          font-size: 10px
          line-height: 15px
          margin-top: 3px
          color: #00F9FF
          @media screen and (min-width: 768px)
            font-size: 12px
            line-height: 16px
          @media screen and (min-width: 1200px)
            font-size: 13px
            line-height: 16px
