.wrapper
  @media (min-width: 0)
    justify-content: center
  @media (min-width: 640px)
    justify-content: space-between
  .card_item
    width: 23%
    @media (min-width: 0)
      width: 100%
      max-width: 352px
    @media (min-width: 640px)
      width: 47%
    @media (min-width: 992px)
      width: 24%

  .container_card
    background: linear-gradient(292deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    backdrop-filter: blur(42px)
    box-shadow: inset 0px 6.44px 25.77px rgba(255, 255, 255, 0.4)
    min-height: 500px
    display: flex
    flex-direction: column
    position: relative
    cursor: pointer
    transition: 0.3s
    overflow: hidden
    border-radius: 16px
    @media (min-width: 640px)
      min-height: 100%
    .im_game
      max-height: 268px
      height: 100%
      overflow: hidden
      position: relative
      margin-top: 1px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 16px 16px 0px 0px
      .info
        position: absolute
        top: 0
        background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%)
        width: 100%
        height: 30%
        color: #FFF
        display: flex
        justify-content: space-between
        align-items: flex-start
        @media (min-width: 0px)
          padding: 20px
        @media (min-width: 640px)
          padding: 20px 8px
          font-size: 12px
        @media (min-width: 992px)
          flex-direction: column
        @media (min-width: 1440px)
          flex-direction: row
          padding: 20px
        p
          color: #0BEBD6
          font-weight: 600
          margin: 0
          @media (min-width: 0px)
            font-size: 14px
          @media (min-width: 640px)
            font-size: 12px
          @media (min-width: 992px)
            order: -1
          @media (min-width: 1440px)
            order: 0
            font-size: 14px
        .number
          display: flex
          align-items: center
          span
            padding-left: 4px
    .heading
      color: #FFF
      @media (min-width: 0px)
        padding: 20px
      @media (min-width: 640px)
        padding: 20px 12px
      @media (min-width: 992px)
        padding: 12px 8px
      @media (min-width: 1440px)
        padding: 20px

      h2
        color: #FFF
        font-weight: 700
        padding-top: 24px
        @media (min-width: 0px)
          font-size: 24px
          line-height: 28px 
        @media (min-width: 640px)
          padding-top: 8px
          font-size: 18px
        @media (min-width: 992px)
          font-size: 15px
          line-height: 20px
        @media (min-width: 1440px)
          font-size: 20px
          line-height: 28px   
        @media (min-width: 1600px)
          font-size: 24px

      .hosted_by
        display: flex
        align-items: center 
        justify-content: space-between
        .hosted_by_detail
          display: flex
          align-items: center
          font-weight: 300
          @media (min-width: 0px)
            font-size: 14px
            line-height: 16px
          @media (min-width: 640px)
            font-size: 13px
          @media (min-width: 992px)
            font-size: 10px
            line-height: 20px
          @media (min-width: 1440px)
            font-size: 14px
            line-height: 16px
          .user
            display: flex
            align-items: center
            img
              @media (min-width: 0px)
                padding: 0px 4px 0px 8px
              @media (min-width: 992px)
                padding: 0px 4px
              @media (min-width: 1440px)
                padding: 0px 4px 0px 8px
            a
              color: #FFF
              text-decoration: revert
        .prize_pool
          display: flex
          align-items: center
          img
            margin-right: 4px
          span
            @media (min-width: 0px)
              font-size: 14px
            @media (min-width: 992px)
              font-size: 10px
            @media (min-width: 1440px)
              font-size: 14px


      .ntf
        display: flex
        align-items: center
        justify-content: space-between
        padding-top: 28px
        @media (min-width: 992px)
          padding-top: 8px
        @media (min-width: 1440px)
          padding-top: 28px
      .ntf > div
        display: flex
        align-items: center
      .ntf > div span
          color: #0BEBD6
          font-weight: 700
          line-height: 115%
          @media (min-width: 0px)
            font-size: 16px
          @media (min-width: 640px)
            font-size: 13px
          @media (min-width: 992px)
            font-size: 10px
          @media (min-width: 1440px)
            font-size: 14px
          @media (min-width: 1600px)
            font-size: 16px

      .ntf > span
        font-weight: 600
        line-height: 115%
        @media (min-width: 0px)
          font-size: 16px
        @media (min-width: 992px)
          font-size: 10px
        @media (min-width: 1440px)
          font-size: 14px
        @media (min-width: 1600px)
          font-size: 16px
  .container_card::before
    content: ''
    position: absolute
    top:0
    left:0
    right:0
    bottom:0
    border-radius: 4px
    padding: 1px
    background: radial-gradient(54.8% 53% at 50% 50%, #151515 0%, rgba(21, 21, 21, 0) 100%),radial-gradient(60% 51.57% at 50% 50%, #9854FE 0%, rgba(152, 84, 254, 0) 100%),radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%)
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
    -webkit-mask-composite: xor
    mask-composite: exclude




