.wrapper
    :global(.ant-table-thead > tr > th)
        text-align: center
        background: rgba(0, 240, 255, 0.15)
        color: #00F9FF
    :global(.ant-table-tbody .ant-table-cell-row-hover)
        background: rgba(0, 240, 255, 0.10) !important
    :global(.ant-table-tbody > tr > td)
        color: #DBE0E8
        text-align: center
    :global(.ant-table-tbody > tr:nth-child(even))
        background: rgba(0, 6, 37, 0.1)
    :global(.ant-table-tbody > tr)
        background: rgba(69, 80, 107, 0.1)
    :global(.ant-table)
        background: transparent