.content_modal
  min-height: 500px
  :global(.ant-modal-body)
    padding: 0
  :global(.ant-modal-close .ant-modal-close-x)
    color: #6c6b6b
    background: none

.wrapper
  min-height: 500px
  .rolling
