.container_card
  display: flex 
  align-items: center
  justify-content: space-between
  border: 1px solid #9b9b9b
  padding: 20px 16px
  cursor: pointer
  box-shadow: none
  margin-bottom: 30px
  transition: 0.3s
  background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
  backdrop-filter: blur(4px)
  border-radius: 8px
  color: #FFF

  .card_avt
    overflow: hidden
    max-width: 50px
    min-height: 50px
    width: 100%
    background: #FFF

  .start_time
    p
      margin: 0

  .daily
    width: 45%

  .status
    width: 12%
  .member
    text-align: center
.container_card:hover
  box-shadow: rgba(34, 116, 224, 0.2) 0px 13px 27px -5px, rgba(34, 116, 224, 0.3) 0px 8px 16px -8px