.mdl
  :global(.ant-modal-content)
    max-width: 372px
    margin: 0 auto
    @media (min-width: 1024px)
      max-width: 560px
  :global(.anticon )
    color: #CD28E8
  .avatar_team
    border-radius: 99%
    width: 70px
    height: 70px
    overflow: hidden
  .button_add
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
    padding: 4px 16px
    border-radius: 4px
    margin-top: 32px
    span
      color: #FFF
    img
      padding-right: 4px

