.pcMenu
  border-bottom: 1px solid #010242

.mobileMenu
  border-bottom: 1px solid #010242
.menuMobile
  margin-top: 0
  padding: 10px 30px
.mHumber
  position: absolute
  top: 10px
  right: 30px

.container
  padding: 0 30px



// .scale_bg
//   clip-path: circle(1200px at 262px 33px) 

//@media (min-width: 992px) and (max-width: 1024px)
//  .container
//    max-width: 992px
//    padding: 0px 3rem

.submenu
  transition: 0.5s
  overflow: hidden
  padding-top: 20px
  li
    padding: 8px 0px 0px 8px
    opacity: 1
    transition: 0.2s
    margin: 0 !important
    a
      font-size: 14px
  li:hover
    background: linear-gradient(121.07deg, rgba(255, 255, 255, 0.3) -26.88%, rgba(255, 255, 255, 0.1) 73.85%)
    opacity: 0.8

  .disabled
    opacity: 0.5
    pointer-events: none