.wrapper
  margin-bottom: 32px
  margin-top: 15px
  @media screen and (min-width: 1200px)
    margin-bottom: 64px
  :global(.ant-table)
    table
      border-collapse: collapse
      font-family: 'Lexend'
      font-weight: 300
      font-size: 16px
      line-height: 115%
      color: #DBE0E8
    :global(.ant-table-placeholder)
      &:hover
        td
          background: unset
  :global(.ant-table-content)
    overflow-x: auto
  :global(.ant-table-thead > tr > th)
    text-align: center
    background: rgba(0, 240, 255, 0.15)
    backdrop-filter: blur(40px)
    color: #00F9FF
    border: 1px solid transparent
    padding: 10px
    @media screen and (min-width: 768px)
      padding: 16px
      font-family: 'Revx Neue Demo'
      font-weight: 400
      font-size: 24px
      line-height: 115%
    &:first-of-type
      border-top-left-radius: 8px !important
    &:last-of-type
      border-top-right-radius: 8px !important
  :global(.ant-table-tbody .ant-table-cell-row-hover)
    background: rgba(0, 240, 255, 0.10) !important
  :global(.ant-table-tbody > tr)
    background: none
  :global(.ant-table-tbody > tr > td)
    color: #DBE0E8
    text-align: center
    border: 1px solid transparent
  :global(.ant-table-tbody > tr:nth-child(even) td)
    background: rgba(0, 6, 37, 0.1)
  :global(.ant-table-tbody > tr td)
    background: rgba(69, 80, 107, 0.1)
    backdrop-filter: blur(40px)
  :global(.ant-table)
    background: transparent
  h2
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 22px
    color: #00F9FF
    margin-bottom: 16px

  .prizeWrap
    display: block
    //align-items: center
    position: relative
    text-align: center
    @media screen and (min-width: 1200px)
      button
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%)
  .prizeInvited
    display: flex
    .avatar
      width: 30px
      height: 30px
      border-radius: 50px
      margin-right: 10px
  .prizeImg
    min-width: 50px
    max-width: 50px
    margin-right: 20px
    background: rgba(248, 237, 255, 0.2) radial-gradient(50% 50% at 50% 50%, rgba(236, 196, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    backdrop-filter: blur(40px)
    position: relative
    border-bottom: 2px solid
    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
    img
      width: 100%
      aspect-ratio: 1/1
      object-fit: cover
  .prize
    font-family: 'Revx Neue Demo'
    font-weight: 600
    font-size: 14px
    line-height: 15px
    flex: 1
    padding: 0 10px 0 0
    display: flex
    align-items: center
    @media screen and (min-width: 768px)
      font-weight: 600
      font-size: 20px
      line-height: 22px
    @media screen and (min-width: 1200px)
      padding: 0 120px
.contentDesc
  p
    font-family: 'Lexend'
    font-size: 14px
    font-weight: 400
    line-height: 22px
    margin-bottom: 5px
    color: #FFFFFF
    @media (min-width: 768px)
      font-size: 18px
.columnCounter
  text-align: center

.rewardItem
  display: flex
  align-items: center
  justify-content: center
  img
    box-shadow: 0px 0px 10.6312px rgba(11, 235, 214, 0.5)
    backdrop-filter: blur(19.6875px)
    border-radius: 50%
  span
    font-weight: 500
    font-size: 16px
    line-height: 30px
    margin-right: 8px
    display: flex
    align-items: center
  .lucisPoint
    color: #DF9B16
    margin-right: 5px

.info
  margin-bottom: 32px

.inputUrl
  color: white
  width: 50%
  border-radius: 2px
  border: 1px solid #fff
  padding: 0 10px
  font-size: 16px
  background: transparent !important