.group_ic
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 15px
  @media (min-width: 640px)
    gap: 20px
  @media (min-width: 768px)
    gap: 20px
  @media (min-width: 992px)
    gap: 50px
  .ic_item
