.group_ic
  display: flex
  align-items: center
  justify-content: flex-start
  gap: 15px
  @media (min-width: 640px)
    gap: 20px
  @media (min-width: 768px)
    gap: 20px
  @media (min-width: 992px)
    gap: 50px
  .ic_item
    width: 30px
    height: 30px
    display: flex
    align-items: center
    justify-content: center
    border: 1px solid #fff
    border-radius: 100%
    @media (min-width: 992px)
      width: 35px
      height: 35px
