.wrapper
    .btn
        border: 1px solid rgba(0, 249, 255, 1)
        padding: 8px 10px
        min-width: 69px
        height: 30px
        font-family: 'Revx Neue Demo'
        font-weight: 600
        font-size: 12px
        line-height: 14px
        text-align: center
        letter-spacing: 0.04em
        color: #000625
        position: relative
        text-align: center
        @media screen and (min-width: 768px)
            min-width: 90px
        span
            position: relative
            z-index: 1
            display: block
        &:before
            content: ''
            display: block
            position: absolute
            top: 1px
            left: 1px
            bottom: 1px
            right: 1px
            background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%)
            z-index: 0
        &:disabled
            border: 1px solid #808080
            color: #808080
            cursor: no-drop
            &:before
                content: none

