.luckyChestBg
    background: url('/assets/P2E/luckyChest/bgLuckyChestMobile.jpg') no-repeat fixed top center
    background-size: cover
    background-blend-mode: multiply
    position: relative
    overflow-x: unset
    &:after
        content: ''
        display: block
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        background: rgb(23 29 46 / 80%)
        z-index: 0
    > *
        z-index: 1
        position: relative
    @media screen and (min-width: 768px)
        background: url('/assets/P2E/luckyChest/bgLuckyChest.jpg') no-repeat fixed top center
        background-size: cover
.luckyChestContentWrapper
    margin-top: 120px !important
    @media screen and (min-width: 551px)
        margin-top: 142px !important
    @media screen and (min-width: 1024px)
        margin-top: 45px !important
    @media screen and (min-width: 1025px)
        margin-top: 15px !important
.wrapper
    position: relative
    z-index: 1

    .content_lucky_chest_top
        display: flex
        align-items: center
        flex-direction: column
        justify-content: space-between
        @media (min-width: 992px)
            flex-direction: row
        .heading
            flex: 45% 0 0
            padding-top: 40px
            text-align: center
            @media (min-width: 992px)
                text-align: left
            .content_top
                border-bottom: 1px solid  rgba(78, 134, 147, 0.32)
                h1
                    font-weight: 600
                    text-transform: uppercase
                    color: #00F9FF
                    margin: 0
                    font-size: 32px
                    line-height: 36px
                    @media (min-width: 768px)
                        font-size: 48px
                        line-height: 53px
                p
                    font-weight: 300
                    font-size: 16px
                    line-height: 22px
                    text-transform: capitalize
                    color: #DBE0E8
            h3
                font-weight: 600
                font-size: 24px
                line-height: 26px
                text-transform: capitalize
                color: #FFFFFF
                margin-top: 40px
            p
                font-weight: 300
                font-size: 16px
                line-height: 22px
                text-transform: capitalize
                color: #DBE0E8
    .group_btn
        display: flex
        align-items: center
        justify-content: center
        padding-bottom: 40px
        .number_coin
            padding-left: 20px
            display: flex
            align-items: center
            .n
                font-weight: 400
                font-size: 20px
                line-height: 25px
                text-transform: capitalize
                color: #00F9FF
            img
                width: 30px
                height: 30px
    .group_btn_pc
        @media (min-width: 0px)
            display: none
        @media (min-width: 992px)
            display: block
            display: flex
            align-items: center
            justify-content: flex-start
    .group_btn_mobile
        @media (min-width: 992px)
            display: none
.luckyChestTabsSection
    :global(.lucis-container-2)
        position: relative
        &:after
            content: ''
            display: block
            height: 1px
            position: absolute
            bottom: 10px
            left: 0
            right: 0
            background: #38505F
            z-index: -1
    .luckyChestTabs
        display: flex
        align-items: center
        justify-content: flex-start
        width: 100%
        overflow-x: auto
        padding-bottom: 20px
        position: relative
        .luckyChestTabsItem
            min-width: 125px
            padding: 10px
            text-align: center
            position: relative
            font-family: 'Revx Neue Demo'
            font-weight: 400
            font-size: 12px
            line-height: 13px
            color: rgba(255, 255, 255, 0.3)
            @media screen and (min-width: 768px)
                font-size: 16px
                line-height: 18px
            &:global(.active)
                color: #00F9FF
                font-weight: 600
                &:before
                    content: ''
                    width: 15px
                    height: 15px
                    background: url("/assets/P2E/lucky-chest/iconTabActive.svg") no-repeat top center
                    background-size: cover
                    display: block
                    position: absolute
                    left: 50%
                    transform: translateX(-50%)
                    bottom: -17px
            &:after
                content: ''
                position: absolute
            &:after
                width: 1px
                background: rgba(255, 255, 255, 0.3)
                top: 3px
                bottom: 3px
                right: 0
            &:last-of-type
                &:after
                    content: none
.luckyChestSponsor
    margin-bottom: 32px
    @media screen and (min-width: 768px)
        margin-bottom: 80px
    h2
        font-family: 'Revx Neue Demo'
        font-style: normal
        font-weight: 600
        font-size: 20px
        line-height: 22px
        color: #00F9FF
    .luckyChestSponsorList
        display: flex
        flex-wrap: wrap
        row-gap: 32px
        align-items: center
        justify-content: space-between
        width: 287px
        margin: 0 auto
        @media screen and (min-width: 768px)
            width: 500px
        @media screen and (min-width: 992px)
            justify-content: center
            width: 800px
            column-gap: 50px
        @media screen and (min-width: 1400px)
            width: 1160px
            column-gap: 100px
        .luckyChestSponsorItem
            min-width: 50%
            max-width: 50%
            &:nth-of-type(even)
                text-align: right
            :global(.ant-image)
                width: 80%
            @media screen and (min-width: 992px)
                width: calc((100% / 4) - 38px)
                min-width: 0
                max-width: calc((100% / 4) - 38px)
                &:nth-of-type(even)
                    text-align: unset
                :global(.ant-image)
                    width: auto
            @media screen and (min-width: 1400px)
                width: calc((100% / 4) - 75px)
                max-width: calc((100% / 4) - 75px)