.sort
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  background: rgba(69, 80, 107, 0.4)
  padding: 7px 10px
  @media screen and (min-width: 575px)
    padding: 11px 10px
  border-radius: 4px
  overflow: hidden
  &::before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding: 1px
    border-radius: 4px
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
    -webkit-mask-composite: xor
  p
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-weight: 400
    font-size: 14px
    line-height: 18px
    color: #FFFFFF
    @media screen and (min-width: 575px)
      font-size: 16px
  span
    color: #00FFEC
    font-size: 13px
