.button
    display: flex !important
    align-items: center !important
    border: 1px solid rgba(0, 249, 255, 1) !important
    padding: 1px !important
    // height: 30px
    // width: 96px
    font-family: 'Revx Neue Demo' !important
    font-weight: 600 !important
    font-size: 12px !important
    letter-spacing: 0.04em !important
    color: #002130 !important
    line-height: 1 !important
    display: flex !important
    justify-content: center !important
    align-items: center !important
    background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%) !important
    background-clip: content-box !important
    border-radius: 0px !important
    &:disabled
        border: 1px solid #808080 !important
        background: transparent !important
        color: #808080 !important
        cursor: no-drop !important
