.modal
    padding: 0
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    max-width: 100%
    border-radius: 0
    height: 100vh
    .content_box
        display: flex
        justify-content: space-between
        @media ( min-width: 0px )
            flex-direction: column
        @media ( min-width: 1024px )
            flex-direction: row
            padding: 100px 120px 40px 120px

        .content_left
            display: flex
            flex-direction: column
            align-items: center
            flex: 90% 0 0

            h3
                color: #00F9FF
                font-weight: 600
                font-size: 32px
                line-height: 35px
                @media ( min-width: 0px )
                    font-size: 20px
                    line-height: 22px
            p
                color: #DBE0E8
                font-weight: 300
                font-size: 24px
                line-height: 30px
                @media ( min-width: 0px )
                    font-size: 14px
                    line-height: 18px
            .im_box
                max-width: 440px
                .btn_open
                    display: flex
                    justify-content: center
                    align-items: center
                    .number_coin
                        display: flex
                        align-items: center
                        p
                            margin: 0
                            padding-left: 12px

        .content_right
            max-height: 460px
            position: relative
            @media (min-width: 0px)
                padding: 20px 0px
            .line
                position: absolute
                top: 5px
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                @media ( min-width: 1024px)
                    justify-content: flex-start
                    z-index: -1
                    left: -20px
            .block_item
                height: 100%
                overflow: auto
                margin-left: 16px
                @media ( min-width: 0px)
                    margin: 0
                    width: 190px
                    display: flex
                    align-items: center
                    margin: 0 auto
                @media ( min-width: 1024px)
                     flex-direction: column
                     width: auto
                     justify-content: space-between
                .item
                    height: 64px
                    width: 64px
                    overflow: hidden
                    display: flex
                    align-items: center
                    justify-content: center
                    background: rgba(69, 82, 107, 0.5) 
                    @media ( min-width: 0px)
                        min-width: 36px
                        min-height: 36px
                        max-height: 36px
                        margin: 0px 1px
                    @media ( min-width: 1024px)
                        min-width: 64px
                        min-height: 64px
                        max-height: 64px
                        margin: 4px 0px
                    img
                        width: 100%


    .reward_box
        h3
            font-weight: 600
            font-size: 24px
            line-height: 26px
            color: #00F9FF
            @media ( min-width: 0px )
                font-size: 14px
                line-height: 18px
    :global(.ant-modal-content)
        background: rgba(23, 29, 46, 0.9)
        border-radius: 0
        padding: 50px 100px 100px 100px
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        @media ( min-width: 0px )
            padding: 0         
            justify-content: flex-start
    :global(.ant-modal-footer)
        display: none