.arenaHomeWrapper
  padding-top: 73px
  background: url("/assets/home/bg_home.jpg") no-repeat center center fixed
  background-size: cover
  position: relative
  @media screen and (min-width: 1025px)
    padding-top: 88px
