.dailyContainer
  *
    color: #ffffff
  p
    margin: 0
  h2
    margin: 0
    font-weight: 600
    font-size: 32px
    line-height: 35.2px
    color: #16DADF
  :global(.ant-checkbox-checked .ant-checkbox-inner)
    background-color: #0BEBD6
    border-color: #0BEBD6 !important
  .dailyTitle
    margin-top: 50px
    margin-bottom: 34px
    h2
      font-weight: 600
      font-size: 32px
      line-height: 35.2px
      color: #16DADF
  .onUsingNFTs
    h2
      font-size: 30px
      margin-bottom: 20px
    .card
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 10px
    .buttonWrapper
      bottom: 0px
      position: absolute
      margin: 10px
  .missionsWrap
    .missionsWrapHeader
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      h2
        font-size: 30px
        margin: 0
      button
        margin-left: 20px
  .recentMatchTitle
    margin-top: 44px
    margin-bottom: 24px
    display: flex
    justify-content: space-between
    h2
      margin: 0
      font-weight: 600
      font-size: 32px
      line-height: 35.2px
      color: #16DADF
    .recentMatchRewardGeneral
      display: flex
      font-size: 14px
      font-weight: 400
      line-height: 21px
      justify-content: space-around
      align-items: center
      .recentMatchRewardLucisPoint
        display: flex
        align-items: center
        span
          color: #DF9B16
  .recentMatchesWrap
    h2
      font-size: 30px
    .recentMatchesList
      .recentMatchesItem
        display: flex
        justify-content: space-between
        align-items: center
        border: 1px solid rgb(255 255 255 / 57%)
        padding: 15px
        margin-bottom: 15px
        .recentMatchesLogo
          img
            width: 30px
            aspect-ratio: 1 / 1
            object-fit: contain
            object-position: center
      .recentMatchesBtn
        text-align: center
        margin-bottom: 15px
      .recentMatchesNodata
        text-align: center
        margin-bottom: 15px
        font-size: 18px
  .walletTitle
    margin-top: 50px
    margin-bottom: 16px
  .wallet
    font-weight: 600
    font-size: 16px
    line-height: 20px

    .lucisPointWallet
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      color: #DF9B16
      background: rgba(81, 100, 147, 0.5)
      backdrop-filter: blur(40px)
      height: 200px
    .busdClaim
      display: flex
      justify-content: center
      margin-top: 16px
    .BUSDWallet
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      color: #12B0B4
      background: rgba(81, 100, 147, 0.5)
      backdrop-filter: blur(40px)
      height: 200px
  .share
    margin-bottom: 32px
    h2
      margin-bottom: 16px
    .shareDiscordContent
      .shareDiscordText
        display: flex
        justify-content: space-between
        height: 106px
        width: 100%
        padding: 32px
        background: rgba(45, 52, 70, 0.5)
        backdrop-filter: blur(40px)
        border-radius: 4px 4px 0px 0px
        font-weight: 500
        font-size: 14px
        line-height: 21px
        p
          margin: 0
          padding: 0 30px 0 16px
      .shareBonus
        display: flex
        justify-content: space-between
        align-items: center
        height: 53px
        width: 100%
        background: rgba(69, 80, 107, 0.5)
        backdrop-filter: blur(40px)
        border-radius: 0px 0px 4px 4px
        padding: 16px 32px
  .sidebarRight
    position: sticky
    top: 0
  .viewAllHistory
    text-align: center
    margin-bottom: 30px
    span
      padding: 0 6px
      color: #00F9FF
      cursor: pointer
