.dailyContainer
  *
    color: #ffffff
  :global(.ant-btn)
    &[disabled]
      font-weight: 700
      background: #6a6a6a
      span
        color: #d7d7d7
  :global(.ant-checkbox-checked .ant-checkbox-inner)
    background-color: #0BEBD6
    border-color: #0BEBD6
  :global(.ant-checkbox:hover)
    border-color: #0BEBD6
  .dailyTitle
    margin-top: 50px
    margin-bottom: 34px
    h2
      font-weight: 600
      font-size: 32px
      line-height: 35.2px
      color: #16DADF

    .statistics
    .statisticsContent
      display: flex
      border: 1px solid rgb(255 255 255 / 57%)
      padding: 15px
      margin-bottom: 20px
      h2
        font-size: 30px
        margin: 0
      .lucisTokenArea
        text-align: center
  .onUsingNFTs
    h2
      font-size: 30px
      margin-bottom: 20px
    .card
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 10px
    .buttonWrapper
      bottom: 0px
      position: absolute
      margin: 10px
  .missionsWrap
    .missionsWrapHeader
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      h2
        font-size: 30px
        margin: 0
      button
        margin-left: 20px
  .recentMatchesWrap
    h2
      font-size: 30px
    .recentMatchesList
      .recentMatchesItem
        display: flex
        justify-content: space-between
        align-items: center
        border: 1px solid rgb(255 255 255 / 57%)
        padding: 15px
        margin-bottom: 15px
        .recentMatchesLogo
          img
            width: 30px
            aspect-ratio: 1 / 1
            object-fit: contain
            object-position: center
      .recentMatchesBtn
        text-align: center
        margin-bottom: 15px
      .recentMatchesNodata
        text-align: center
        margin-bottom: 15px
        font-size: 18px
