.dailyContainer
  *
    color: #ffffff
  // :global(.ant-btn-primary)
  //   background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%)
  //   // border: 1px solid #222837
  //   width: 88px
  // :global(.ant-btn-primary:hover)
  //   background: linear-gradient(91.09deg, #2f96eb 0.33%, #25f0dc 99.88%)
  //   // border: 1px solid #222837
  //   width: 88px
  // :global(.ant-btn)
  //   color: #000 !important
  //   &[disabled]
  //     font-weight: 700
  //     background: #6a6a6a
  //     span
  //       color: #d7d7d7
  :global(.ant-checkbox-checked .ant-checkbox-inner)
    background-color: #0BEBD6
    border-color: #0BEBD6 !important
  .dailyTitle
    margin-top: 50px
    margin-bottom: 34px
    h2
      font-weight: 600
      font-size: 32px
      line-height: 35.2px
      color: #16DADF
  .onUsingNFTs
    h2
      font-size: 30px
      margin-bottom: 20px
    .card
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 10px
    .buttonWrapper
      bottom: 0px
      position: absolute
      margin: 10px
  .missionsWrap
    .missionsWrapHeader
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      h2
        font-size: 30px
        margin: 0
      button
        margin-left: 20px
  .recentMatchesWrap
    h2
      font-size: 30px
    .recentMatchesList
      .recentMatchesItem
        display: flex
        justify-content: space-between
        align-items: center
        border: 1px solid rgb(255 255 255 / 57%)
        padding: 15px
        margin-bottom: 15px
        .recentMatchesLogo
          img
            width: 30px
            aspect-ratio: 1 / 1
            object-fit: contain
            object-position: center
      .recentMatchesBtn
        text-align: center
        margin-bottom: 15px
      .recentMatchesNodata
        text-align: center
        margin-bottom: 15px
        font-size: 18px
  .wallet
    font-weight: 600
    font-size: 16px
    line-height: 20px

    .lucisPointWallet
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      color: #DF9B16
      background: rgba(81, 100, 147, 0.5)
      backdrop-filter: blur(40px)
      height: 200px
    .busdClaim
      display: flex
      justify-content: center
      margin-top: 16px
    .BUSDWallet
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      color: #12B0B4
      background: rgba(81, 100, 147, 0.5)
      backdrop-filter: blur(40px)
      height: 200px
