.bracketContainer
  margin-top: 20px
  overflow: auto
.topSeed
  margin-bottom: 1px
.team
  width: 100%
  height: 100%
  padding: 5px
  background: #424B57
  color: #ffffff
  // single line ellipsis
  white-space: nowrap
  text-overflow: ellipsis
  max-width: 150px
  overflow: hidden
.teamJoined
  background: linear-gradient(to right, #292958, #1A3D64)
.teamWin
  background: linear-gradient(to right, #308785, #286FAA)
.score
  background: #656D78
  color: #ffffff
  padding: 5px
  width: 50px
  &.disabled
    cursor: initial
.scoreJoined
  background: #254B81
.scoreWin
  background: #18C3B9
// .wining
//     overflow: auto

// .seedItem
//     color: white
//     &:nth-child(even)::after 
//         border-right: 1px solid #b3b3b3 !important
//         border-bottom: 1px solid #b3b3b3 !important
//     &:nth-child(odd):not(:last-child)::after
//         border-right: 1px solid #b3b3b3 !important
//         border-top: 1px solid #b3b3b3 !important
//     &:nth-child(even)::before
//         border-top: 1px solid #b3b3b3 !important

// .seedLose
//     color: black
//     &:nth-child(odd):not(:last-child)::after
//         border-top: 1px solid #b3b3b3 !important
//         top: calc(50% - 0.5px)
//     &:nth-child(even)::after
//         border-bottom: 1px solid #b3b3b3 !important
//         top: -0.5px


    // &:nth-child(even)::before
    //     border-top: 1px solid #b3b3b3 !important

.seedFinal
  height: 100%
  border-left: 1px solid rgba(185, 185, 185, 0.2)
  padding-left: 30px

.seedItemContainer

  background: rgb(190,238,174)
  background: radial-gradient(circle, rgba(190,238,174,1) 0%, rgba(215,221,176,1) 52%, rgba(148,233,208,1) 100%)