.containerApp
  width: 100%
  min-height: 100vh
  padding-top: 120px
  p
    color: white

.bracketType
  display: flex
  flex-direction: column
  text-color: white

.textColor
  color: white

.radioFee 
  display: flex
  p 
    min-width: 100px
