.containerApp
  width: 100%
  min-height: 100vh
  p
    color: white

.bracketType
  display: flex
  flex-direction: column
  text-color: white
  :global(.ant-radio-disabled + span)
    color: grey
.textColor
  color: white

.radioFee
  display: flex
  p
    min-width: 100px
