.containerApp
  width: 100%
  min-height: 100vh
  padding-top: 40px
  p
    color: white
  :global(.ant-input)
    border-radius: 8px
    padding: 8px
  :global(.ant-select-dropdown)
    padding: 100px


.bracketType
  display: flex
  flex-direction: column
  text-color: white
  :global(.ant-radio-disabled + span)
    color: grey

.textColor
  color: white

.radioFee
  display: flex
  p
    min-width: 100px

.password
  margin-top: 20px
  :global(.ant-switch)
    background-color: grey !important
  :global(.ant-switch-checked)
    background-color: #1890ff !important
  :global(.ant-input[disabled])
    background-color: grey

.message_error
  font-size: 14px
  margin-top: 4px
  color: #cb3636

.containerApp
  :global(.ant-btn-default)
    border-color: #767295
  :global(.ant-table-container th),
  :global(.ant-table-container td)
    border-color: var(--line-color-light)!important
  :global(.ant-table.ant-table-bordered > .ant-table-container)
    border-color: var(--line-color-light)

  :global(.ql-toolbar.ql-snow),
  :global(.ql-container.ql-snow)
    border-color: var(--line-color)
  :global(.ql-snow .ql-stroke)
    stroke: #fff
  :global(.ql-snow .ql-picker-label::before)
    color: #fff !important


.pageTitle
  font-size: 20px
  font-weight: 500
  color: #00FFEC
.formItem
  margin-bottom: 15px
  &.formImgUpload
    @media screen and (min-width: 768px)
      display: flex
      justify-content: space-between
  .formLabel
    color: #ffffff
    font-size: 20px
    margin-bottom: 10px
  .inputName
    border: 1px solid #ffffff
    padding: 12px 15px
    font-size: 14px
.formImgUpload
  .imgUpload
    img
      width: 100%
      max-width: 100%
      object-fit: none
      object-position: center
      background: rgba(255, 255, 255, 0.45)
      border-radius: 8px
      border: 1px solid #A397CB
      cursor: pointer
  .imgUploaded
    img
      object-fit: cover
      background: none
  .coverUpload
    .imgUpload
      img
        aspect-ratio: 1600 / 400
  .thumbnailUpload
    .imgUpload
      img
        width: 150px
        aspect-ratio: 450 / 300
