.content_modal
  max-width: calc(100% - 30px)
  @media screen and (min-width: 768px)
    width: 500px
  :global(.ant-modal-body)
    padding: 15px
    @media screen and (min-width: 576px)
      padding: 24px
  :global(.ant-modal-footer)
    display: none
  .information
    display: flex
    flex-direction: column
    align-items: center
    @media screen and (min-width: 768px)
      align-items: flex-start
    .avt_member
      max-width: 100px
      min-width: 100px
      height: 100px
      background: #FFF
      overflow: hidden
      border-radius: 100%
      display: flex
      align-items: center
      justify-content: center
      img
        width: 100%
    p
      margin-top: 12px
      font-size: 20px
      font-weight: 600
  
  .input
    justify-content: space-between
    align-items: center
    :global(.ant-input)
      border-radius: 8px
  .message
    margin: 12px 0px
    :global(.ant-input)
      resize: none
    :global(.ant-input-textarea-show-count::after)
      color: #FFF
      font-size: 14px
      font-weight: 100
  
  .message_error
    font-size: 14px
    margin-top: 4px
    color: #cb3636

  .btn
    margin-top: 8px
    align-items: center
    justify-content: center