.button_add
  display: flex
  align-items: center
  justify-content: center
  background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
  padding: 4px 16px
  border-radius: 4px
  margin: 8px 0
  font-size: 14px
  width: 49%
  span
    color: #FFF
  img
    padding-right: 4px