.content_team
  padding: 12px 12px 12px 8px
  border: 1px solid #FFF
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px
  .img_team
    background: #FFF
    max-width: 40px
    min-height: 40px
    width: 100%
    overflow: hidden