.content_card
  background: linear-gradient(111.03deg, rgba(239, 238, 238, 0.32) 2.82%, rgba(239, 238, 238, 0.06) 90.94%)
  backdrop-filter: blur(40px)
  border-radius: 16px
  position: relative
  margin: 0px 4px
  min-height: 290px
  min-width: 240px
  @media (min-width: 0)
    margin: 30px 0px
    min-height: 180px
    min-width: 140px
  @media (min-width: 540px)
    margin: 0px 4px
    min-height: 270px
    min-width: 190px
  @media (min-width: 768px)
    min-height: 290px
    min-width: 240px
  @media ( min-width: 992px )
    margin: 0px
  .im_top_player
    position: absolute
    width: 100%
    display: flex
    justify-content: center
    z-index: 4
    @media (min-width: 0px)
      max-width: 90px
      left: 50%
      top: -56px
      transform: translateX(-50%)
    @media (min-width: 540px)
      max-width: 120px
      top: -22%
    @media (min-width: 640px)
      max-width: 100%
      top: -28%
  .content_player
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    z-index: 2
    position: relative
    @media (min-width: 0px)
      padding: 30px 0px 18px 0px
    @media (min-width: 540px)
      padding: 50px 0px 18px 0px
    .avt
      height: 100px
      width: 100px
      overflow: hidden
      background: #FFF
      border-radius: 100%
      position: relative
      display: flex
      justify-content: center
      @media ( max-width: 539px )
        height: 60px
        width: 60px
        
      .ic_like
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
    p
      padding: 16px 0px 2px 0px
      font-weight: 700
      font-size: 20px
      line-height: 115%
      color: #FFFFFF
      @media (min-width: 0px)
        font-size: 14px
        padding: 8px 0px 2px 0px
        margin-bottom: 4px
      @media (min-width: 540px)
        font-size: 18px
    .total_earning
      color: #0BEBD6
      font-size: 20px
      font-weight: 700
      @media (min-width: 0px)
        font-size: 14px
      @media (min-width: 768px)
        font-size: 18px

    // .btn
    //   position: relative
    //   padding: 8px 6px
    //   @media (min-width: 0px)
    //     padding: 0px 6px
    //   @media (min-width: 540px)
    //     padding: 4px 2px
    //   @media (min-width: 768px)
    //     padding: 8px 6px
    //   .content_btn
    //     font-weight: 700
    //     font-size: 20px
    //     line-height: 115%
    //     border: none
    //     color: #0BEBD6
    //     margin: 0
    //     @media (min-width: 0px)
    //       font-size: 14px
    //     @media (min-width: 540px)
    //       font-size: 18px
    //     @media (min-width: 768px)
    //       font-size: 20px
    //   .content_btn:active
    //     background: transparent
    //   .content_btn:focus
    //     background: transparent
    // .btn::before
    //   content: ''
    //   position: absolute
    //   top:0
    //   left:0
    //   right:0
    //   bottom:0
    //   border-radius: 4px
    //   padding: 2px
    //   background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
    //   -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
    //   -webkit-mask-composite: xor
    //   mask-composite: exclude
.content_card::before
  content: ''
  position: absolute
  top:0
  left:0
  right:0
  bottom:0
  border-radius: 16px
  padding: 1px
  background: linear-gradient(341.59deg, rgba(11, 235, 214, 0.5) -37.08%, rgba(255, 0, 214, 0.5) 96.75%), rgba(241, 241, 241, 0.1)
  -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
  -webkit-mask-composite: xor
  mask-composite: exclude
.top1
  box-shadow: 0px 0px 25px 4px rgba(250, 0, 255, 0.3)
  z-index: 2
  @media (min-width: 640px)
    margin-left: 26px
  @media (min-width: 768px)
    margin-top: -120px
.top2
  margin-top: 90px
  box-shadow: 0px 2px 40px rgba(255, 255, 255, 0.3)
  order: -1
  z-index: 1
  @media (min-width: 0)
    transform: scale(0.8) translateX(22%)
  @media (min-width: 640px)
    transform: scale(0.8) translateX(0%)
  @media (min-width: 768px)
    margin-top: 40px
.top3  
  @media (min-width: 0)
    box-shadow: inset 0px 6.44px 25.77px rgba(255, 255, 255, 0.4)
    transform: scale(0.6) translateX(-42%)
    z-index: 1
    margin-top: 140px
  @media (min-width: 540px)
    transform: scale(0.6) translateX(-45%)
    margin-top: 150px
  @media (min-width: 640px)
    transform: scale(0.6) translateX(0%)
  @media (min-width: 768px)
    margin-top: 120px



  