@import styles/common
.wrapper
  min-height: 100vh
  background: url("/assets/Banner/bg_banner.png") top left / contain no-repeat, url("/assets/TournamentDetail/bgTournamentDetail.png") top left / cover no-repeat
  .banner
    position: relative
    min-height: 400px
    .im_cover
      position: absolute
      width: 100%
      background-size: cover
      background-repeat: no-repeat
      background-position: bottom center
      min-height: 400px
  .group_button
    display: flex
    align-items: center
    width: 100%
    justify-content: space-between
    gap: 12px
    button
      min-width: 162px
      padding: 12px
      font-size: 20px
      font-weight: 700
      @include box-glass
      background: rgba(0, 0, 0, 0.3)
      @include border-grad-1(linear-gradient(290.92deg,#0bebd6,#cd28e8))

    // :global(.ant-btn-primary)
    //   background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
    //   margin-left: 12px
    //   border-radius: 10px
  .content_top
    .img_game
      width: 450px
      height: auto
      overflow: hidden
      border-radius: 20px
      background: #FFF
    h2
      color: #FFF
      font-size: 22px
      max-width: 258px
      text-align: center
      margin-top: 12px
      font-weight: 600
  .content_center
    h1
      color: #FFF
      font-size: 32px
      font-weight: 600
    p
      color: #FFF
      font-size: 20px
      margin: 0
    .free_entry
      .title
        font-size: 14px
        padding: 2px 0px
        max-width: 100px
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
        border-radius: 16px
        text-align: center
        line-height: 28px
  .text
    margin-top: 22px
    p
      font-size: 16px
      margin: 0
    span
      font-size: 20px
      color: #FFF
      font-weight: 600
  .container_Tabs
    min-height: 60vh
    :global(.ant-tabs-tab-btn)
      color: #FFF
      font-size: 26px

.lucis_offical
  margin-top: 30px

.tournament_by
  img
    border-radius: 50px

.communityC
  height: 50px
  margin-top: 50px
  margin-bottom: 50px
.bgCharacters
  position: relative
  *
    z-index: 1
  &::before, &::after
    content: ''
    display: block
    position: absolute
    z-index: 0
  &::before
    width: 748px
    height: 1180px
    top: 0
    left: 0
    background: url("/assets/TournamentDetail/leftCharacter.png")
  &::after
    width: 789px
    height: 880px
    bottom: 0
    right: -100px
    background: url("/assets/TournamentDetail/rightCharacter.png")
.tournamentInfo
  *
    color: #ffffff