@import styles/common
.wrapper
  min-height: 100vh
  background: url("/assets/TournamentDetail/bgTournamentDetail.png") top left / cover no-repeat
  padding-top: 70px
  overflow-x: hidden
  word-break: break-word
  @media screen and (min-width: 1024px)
    margin-top: 0
  .banner
    position: relative
    min-height: 400px
    .im_cover
      position: absolute
      width: 100%
      background-size: cover
      background-repeat: no-repeat
      background-position: bottom center
      min-height: 400px
  .group_button
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    justify-content: space-between
    gap: 12px
    margin-bottom: 20px
    @media screen and (min-width: 768px)
      flex-direction: row
    :global(.btn-blur)
      width: 100%
      font-size: 16px
      @media screen and (min-width: 768px)
        width: auto
    .gradientBtnWrap
      width: 100%
      margin-left: auto
      @media screen and (min-width: 768px)
        max-width: 60%
        display: flex
        justify-content: flex-end
      :global(.ant-spin-nested-loading)
        display: inline-block
        width: 100%
        @media screen and (min-width: 768px)
          width: auto
          margin: 0 20px 0 0
      button
        width: 100%
        padding: 12px
        font-size: 16px
        font-weight: 700
        margin: 0 20px 10px 0
        &:last-of-type
          margin-right: 0
        @include box-glass
        background: rgba(0, 0, 0, 0.3)
        @include border-grad-1(linear-gradient(290.92deg,#0bebd6,#cd28e8))
        @media screen and (min-width: 768px)
          width: auto
          font-size: 16px
    // :global(.ant-btn-primary)
    //   background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
    //   margin-left: 12px
    //   border-radius: 10px
  .content_top
    .img_game
      width: 450px
      height: auto
      overflow: hidden
      border-radius: 20px
      background: #FFF
    h2
      color: #FFF
      font-size: 22px
      max-width: 258px
      text-align: center
      margin-top: 12px
      font-weight: 600
  .content_center
    h1
      color: #FFF
      font-size: 32px
      font-weight: 600
    p
      color: #FFF
      font-size: 20px
      margin: 0
    .free_entry
      .title
        font-size: 14px
        padding: 2px 0px
        max-width: 100px
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
        border-radius: 16px
        text-align: center
        line-height: 28px
  .text
    margin-top: 22px
    p
      font-size: 16px
      margin: 0
    span
      font-size: 20px
      color: #FFF
      font-weight: 600
  .container_Tabs
    min-height: 60vh
    :global(.ant-tabs-tab-btn)
      color: #FFF
      font-size: 20px
    @media (min-width: 768px)
      font-size: 24px
    @media (min-width: 992px)
      font-size: 26px
    .block_tabs
      :global(.ant-tabs-nav-list)
        width: 100%
        justify-content: space-between

.lucis_offical
  margin-top: 30px

.tournament_by
  img
    border-radius: 50px

.communityC
  height: 50px
  margin-top: 50px
  margin-bottom: 50px
.bgCharacters
  position: relative
  padding-top: 40px
  margin-bottom: 30px
  @media screen and (min-width: 768px)
    padding-top: 70px
    margin-top: 70px
  *
    z-index: 1
  &::before, &::after
    content: ''
    display: block
    position: absolute
    z-index: 0
  &::before
    height: 40%
    aspect-ratio: 647 / 979
    top: 160px
    left: -60px
    background: url("/assets/TournamentDetail/leftCharacter.png") no-repeat center
    background-size: cover
    @media screen and (min-width: 768px)
      top: 0
      left: -50px
      height: 70%
    @media screen and (min-width: 1200px)
      top: 0
      left: 0
    @media screen and (min-width: 1600px)
      height: 100%
      left: -140px
    @media screen and (min-width: 1920px)
      left: -160px
  &::after
    aspect-ratio: 537 / 679
    height: 40%
    bottom: 90px
    right: -120px
    background: url("/assets/TournamentDetail/rightCharacter.png") no-repeat center
    background-size: cover
    @media screen and (min-width: 768px)
      bottom: -170px
      right: -140px
      height: 70%
    @media screen and (min-width: 1200px)
      bottom: 0
      right: -100px
    @media screen and (min-width: 1600px)
      right: -150px
    @media screen and (min-width: 1920px)
      right: -170px
.tournamentInfo
  margin-bottom: 20px
  *
    color: #ffffff
  .infoWrap
    display: flex
    flex-direction: column
    @media screen and (min-width: 768px)
      flex-direction: row
      align-items: flex-start
    .tournamentThumbnail
      border-radius: 16px
      overflow: hidden
      box-shadow: 0 0 25px -8px #0bebd6
      width: 100%
      margin-bottom: 20px
      @media screen and (min-width: 768px)
        min-width: 300px
        height: auto
        margin: 0 30px 0 0
      @media screen and (min-width: 992px)
        width: 450px
      @media screen and (min-width: 1200px)
        margin: 0 70px 0 0
      :global(.ant-image)
        width: 100%
        img
          width: 100%
    .tournamentMetadataWrap
      .tournamentTitle
        font-weight: 700
        font-size: 24px
        margin-bottom: 20px
        @media screen and (min-width: 1200px)
          font-size: 48px
      .tournamentMetadata
        margin-bottom: 20px
        .tournamentTagWrap
          margin: 0 0 10px 0
          .tournamentTag
            padding: 5px 8px
            background: linear-gradient(226.29deg, #3BE2CD -0.17%, #33AFD4 93.89%)
            border-radius: 10px
            display: inline-flex
            align-items: center
            margin: 0 10px 10px 0
            font-size: 12px
            line-height: 1
            :global(.ant-image)
              margin-right: 5px
          .joinDiscord
            display: inline-block
            text-decoration: underline
            margin: 0 10px 10px 0
            :global(.ant-image)
              margin-left: 5px
        .metadataTitle
          font-size: 16px
          margin-bottom: 5px
        .metadataValue
          font-weight: 600
          font-size: 18px
          color: #0BEBD6
          margin-bottom: 20px
          @media screen and (min-width: 1600px)
            font-size: 20px
        .gameInfo, .userInfo
          display: flex
          align-items: center
          :global(.ant-image)
            margin-right: 10px
            img
              width: 30px
          .gameName, .userName
            font-size: 12px
            @media screen and (min-width: 992px)
              font-size: 16px
        .gameInfo
          margin-bottom: 20px
          :global(.ant-image)
            img
              height: auto
          .gameName
            font-weight: 700
        .userInfo
          :global(.ant-image)
            img
              height: 30px
          .userAvatar
            border-radius: 50px
          .userName
            text-decoration: underline
      .generousSponsorsWrap
        .generousSponsorsTitle
          font-weight: 700
          font-size: 20px
        .generousSponsorsList
          display: flex
          flex-wrap: wrap
          align-items: flex-end
          padding-top: 30px
          .generousSponsor
            width: 70px
            min-width: 70px
            position: relative
            margin-right: 20px
            margin-bottom: 30px
            &:last-of-type
              margin-right: 0
            &:before
              content: ''
              display: block
              background: url("/assets/TournamentDetail/goldCoin.svg") no-repeat top center
              background-size: cover
              width: 30px
              height: 30px
              position: absolute
              top: -18%
              left: 50%
              transform: translateX(-50%)
              z-index: 1
            &.vip
              width: 80px
              min-width: 80px
              &:before
                background: url("/assets/TournamentDetail/diamond.svg") no-repeat top center
                background-size: cover
                width: 40px
                height: 37px
              .generousSponsorAvatar
                :global(.ant-image)
                  height: 80px
              .generousSponsorName
                font-size: 20px
                @media screen and (min-width: 1200px)
                  font-size: 14px
            .generousSponsorAvatar
              border-radius: 50px
              overflow: hidden
              margin-bottom: 5px
              :global(.ant-image)
                width: 100%
                height: 70px
                img
                  width: 100%
                  height: 100%
                  object-fit: cover
            .generousSponsorName
              font-size: 16px
              font-weight: 600
              line-height: 1.3
              text-align: center
              color: #0BEBD6
              @media screen and (min-width: 1200px)
                font-size: 12px
.container900
  @media screen and (min-width: 1200px)
    width: 900px
    margin: 0 auto