.notification
  margin-right: 5px
  cursor: pointer

.infinite
  .infiniteContainer
    height: 350px
    overflow: auto
    width: 350px
    @media screen and (min-width: 768px)
      width: 450px

.notificationIcon
  width: 23px
  min-width: 23px

.notificationItemUnseen
  background: rgb(256, 256, 256, 0.2)
.notificationSeenAll
  opacity: 0.5
  color: #fff !important
  cursor: pointer !important
.notificationItem
  cursor: pointer
  color: #ffffff
  width: 100%
  height: 105px
  padding: 8px
  &:hover
    background: rgb(256, 256, 256, 0.3)

  .notificationItemImage
    display: flex
    justify-content: center
    align-items: flex-start


  .notificationItemTime
    opacity: 0.7
    margin: 0

  .notificationItemTitle
    font-weight: 600
    font-size: 16px
    margin: 0
  .notificationItemContent
    display: flex
    flex-direction: column
    justify-content: center
    .notiContentTitle
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .notiContentDescription
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
      overflow: hidden


  img
    width: 60px
    height: 60px
    object-fit: contain
.notificationItemToast
  cursor: pointer
  display: flex
  color: #ffffff
  width: 100%
  padding: 8px
  img
    width: 60px
    height: 60px
    object-fit: contain
.loadMore
  width: 100%
  display: flex
  justify-content: center
  color: #fff
  text-decoration-line: underline
  cursor: pointer
  margin: 8px 0
.topOption
  display: flex
  justify-content: space-between
  color: #fff
  margin: 8px
  width: 100%
  .option
    color: #0BEBD6
    cursor: pointer
  .title
    font-weight: 600
    font-size: 18px
.unseenDot
  position: absolute
  right: 0
  color: #1889E4
  font-size: 30px
.subMenu
  color: white
  padding: 0px 16px

  & > li
    color: #fff
    font-size: 20px
    padding: 12px 0px
    cursor: pointer
    transition: 0.3s
    border-bottom: 2px solid #fff

  & > li:last-child
    border-bottom: none

  & > li:hover a
    color: white
    opacity: 0.8