.notification
  margin-right: 5px
  cursor: pointer
.infinite
  .infiniteContainer
    height: 350px
    overflow: auto
    width: 350px
    @media screen and (min-width: 768px)
      width: 450px

.notificationIcon
  width: 23px
  min-width: 23px

.notificationItem
  cursor: pointer
  color: #ffffff
  width: 100%
  .notificationItemImage
    display: flex
    justify-content: center
    align-items: flex-start
  .notificationItemTime
    opacity: 0.7
    margin: 0
  .notificationItemTitle
    font-weight: 600
    font-size: 16px
    margin: 0

  img
    width: 60px
    height: 60px

.subMenu
  color: white
  padding: 0px 16px
  & > li
    color: #fff
    font-size: 20px
    padding: 12px 0px
    cursor: pointer
    transition: 0.3s
    border-bottom: 2px solid #fff
  & > li:last-child
    border-bottom: none
  &  > li:hover a
    color: white
    opacity: 0.8