.notification
  margin-right: 20px
  cursor: pointer

.infinite
  .infiniteContainer
    height: 560px !important
    overflow: auto
    width: 350px
    @media screen and (min-width: 768px)
      width: 450px

.notificationIcon
  width: 23px
  min-width: 23px

.notificationItemUnseen
  background: rgb(256, 256, 256, 0.2)
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
.notificationSeenAll
  opacity: 0.5
  color: #fff !important
  cursor: not-allowed !important
.notificationItem
  cursor: pointer
  color: #ffffff
  width: 100%
  height: 105px
  padding: 8px
  border-bottom: 1px solid rgba(0, 0, 0, 0.3)
  &:hover
    background: rgb(256, 256, 256, 0.3)

  .notificationItemImage
    display: flex
    justify-content: center
    align-items: flex-start
    margin-top: 6px


  .notificationItemTime
    opacity: 0.7
    margin: 0

  .notificationItemTitle
    font-weight: 600
    font-size: 16px
    margin: 0
  .notificationItemContent
    display: flex
    flex-direction: column
    justify-content: center
    @media (max-width: 768px)
      padding: 0 4px
    .notiContentTitle
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
    .notiContentDescription
      display: -webkit-box
      -webkit-box-orient: vertical
      -webkit-line-clamp: 2
      overflow: hidden


  img
    width: 60px
    height: auto
    object-fit: contain
    align-self: flex-start
.loadMore
  width: 100%
  display: flex
  justify-content: center
  color: #fff
  margin: 8px 0
.sticky
  position: sticky
  top: 0
  left: 0
  z-index: 10
  background: rgba(100, 100, 115, 1)
  backdrop-filter: blur(20px)
  border-radius: 10px 10px 0 0
.topOption
  display: flex
  justify-content: space-between
  color: #fff
  margin: 8px
  width: 100%
  .option
    color: #0BEBD6
    cursor: pointer
  .title
    font-weight: 600
    font-size: 18px
.unseenDot
  position: absolute
  right: 0
  color: #1889E4
  font-size: 30px
.subMenu
  color: white
  padding: 0px 16px

.badge
  font-size: 10px
  min-width: 12px
  height: 12px

  & > li
    color: #fff
    font-size: 20px
    padding: 12px 0px
    cursor: pointer
    transition: 0.3s
    border-bottom: 2px solid #fff

  & > li:last-child
    border-bottom: none

  & > li:hover a
    color: white
    opacity: 0.8