.container_button_donate
  :global(.ant-btn-primary:active)
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
  :global(.ant-btn-primary:focus)
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
.content_modal
  :global(.ant-modal-footer)
    display: none