.sponsorContainer
  // margin-top: 100px
  // margin-bottom: 100px
  color: white
  // @media screen and (min-width: 768px)
  //   margin-top: 200px
  //   margin-bottom: 200px
  *
    word-break: break-word
    white-space: normal
  > :global(.ant-row)
    // @media screen and (min-width: 1200px)
    //   width: 1200px
    //   margin: auto

  .becomeWrap
    display: flex
    text-align: center
    justify-content: center
    margin-top: 50px

    @media screen and (min-width: 768px)
      text-align: right
      margin-bottom: 50px
    button
      background: linear-gradient(91.09deg, rgba(24, 137, 228, 0.4) 0.33%, rgba(11, 235, 214, 0.4) 99.88%) !important
      //opacity: 0.4
      border-radius: 4px !important
      width: 100%
      @media screen and (min-width: 576px)
        width: auto
  .tierRow
    width: 100%
    &:last-of-type
      margin-bottom: 0
    &:first-of-type
      .slotWrap
        padding-bottom: 20px
        padding-top: 20px
        background: linear-gradient(91.09deg, rgba(24, 137, 228, 0.2) 0.33%, rgba(11, 235, 214, 0.2) 99.88%)
        mix-blend-mode: normal
        //opacity: 0.4
        backdrop-filter: blur(20px)
        border-radius: 8px
        @media screen and (min-width: 768px)
          padding-bottom: 50px
          padding-top: 50px
        .sponsorSlot
          position: relative
          //margin-bottom: 40px
          //margin-bottom: 20px
          &:after
            content: ""
            display: block
            width: 180px
            height: 180px
            position: absolute
            //background: url("/assets/TournamentDetail/polygon.png") no-repeat center
            background-size: 135%
            top: -35px
            left: 50%
            transform: translateX(-50%)
            z-index: -1
          .sponsorLogoWrap
            //margin-bottom: 40px
            margin: 20px 0px
            //height: 60px
            //width: 110px
          .sponsorName
            font-size: 16px
            position: relative
            z-index: 1
    &:nth-of-type(2)
      .slotWrap
        margin-top: 40px
        .sponsorSlot
          .sponsorLogoWrap
            img
              height: 24px
              width: auto
              margin-bottom: 20px
              @media screen and (min-width: 575px)
                height: 50px
          .sponsorName
            font-size: 14px
    &:nth-of-type(3)
      .slotWrap
        .sponsorSlot
          .sponsorName
            font-size: 12px
    :global(.ant-input-group-addon)
      padding: 2px
      width: 50px
      font-size: 13px
    label
      padding-right: 5px
      display: block
    .tierTitle
      font-weight: 700
      padding-right: 10px
      font-size: 13px
      @media screen and (min-width: 768px)
        font-size: 18px
      @media screen and (min-width: 992px)
        font-size: 14px
    .editTierWrap
      border: 1px solid
      padding: 20px
      margin-bottom: 20px
      :global(.ant-typography)
        color: #ffffff
    .editTier
      width: 100%
      max-width: 170px
      height: auto
      padding: 5px
      font-size: 13px
      &:focus
        background: none
        border-color: #ffffff
        color: #ffffff
    .slotWrap
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      gap: 0 30px
      @media screen and (min-width: 768px)
        gap: 0 60px
      .sponsorSlot
        padding: 0 5px
        display: flex
        flex-direction: column
        align-items: center
        .sponsorLogoWrap
          position: relative
          margin-bottom: 10px
          text-align: center
          img
            height: 28px
            width: auto
            @media screen and (min-width: 575px)
              height: 60px
        .sponsorEdit
          display: block
          width: 40px
          position: absolute
          bottom: -5px
          left: 50%
          transform: translateX(-50%)
          background: #dddddd
          color: #000000
          padding: 2px 5px
          font-size: 12px
          line-height: 1
          height: auto
        .sponsorLogo
          width: 100%
          margin-bottom: 0
        .sponsorName
          text-align: center
          font-size: 10px
  .collapse
    padding: 10px 0 10px
  :global(.ant-switch)
    background-color: rgb(252 11 11 / 25%) !important
  :global(.ant-btn[disabled])
    background: #8b8b8b
    color: #ffffff
  :global(.ant-input-number-group-addon)
    width: 60px
    padding: 0 5px

  .addNewSponsorBtn
    display: block
.sponsorDetailForm
  label
    color: #ffffff !important
  .selectTier
    width: 100%
.message_error
  font-size: 14px
  margin-top: 4px
  color: #cb3636

.becomeSponsor
  :global(.ant-row-middle)
    align-items: start
  :global(.ant-input[disabled])
    background: #8b8b8b
    color: #ffffff
.sponsorSlotHidden
  display: none !important

.btnContainter
  display: flex
  justify-content: flex-end
  margin-top: 10px
  .btnConfirm
    color: #FFF !important
    background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%) !important
    border-radius: 4px
    border: none
  :global(.ant-btn-default:hover)
    background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%)

.sponsorBecome
  margin-bottom: 20px
  @media screen and (min-width: 867px)
    margin-top: 100px
    margin-bottom: 100px
  @media screen and (min-width: 1200px)
    margin-top: 200px
    margin-bottom: 200px
