.container
  position: relative
  min-height: 400px
  max-height: 400px
  overflow: hidden
  display: flex
  align-items: flex-end
  .banner
    position: absolute
    width: 100%
    background-size: cover
    background-repeat: no-repeat
    background-position: bottom center
    min-height: 400px
  .user_information
    display: flex
    align-items: flex-end
    justify-content: space-between
    z-index: 1
    width: 100%
    padding-bottom: 40px
    .user_information_left
      display: flex
      align-items: center
      justify-content: space-between
      .avt
        max-width: 120px
        max-height: 120px
        min-width: 120px
        min-height: 120px
        overflow: hidden
        border-radius: 100%
        background: #fff
        padding: 10px
        border: 10px solid rgb(233 233 233)
      .information
        background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
        backdrop-filter: blur(4px)
        padding: 20px 16px 12px 16px
        min-width: 200px
        margin-left: 30px
        border: 1px solid #cec9c9
        border-radius: 12px
        p
          margin: 0
          color: #FFF
        .share_info
          display: flex
          align-items: center
          justify-content: center
          background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
          padding: 4px 16px
          border-radius: 4px
          span
            color: #FFF
          img
            padding-right: 4px

    .user_information_right
      button
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
        padding: 8px 26px
        border-radius: 4px
        color: #FFF