.text
    font-family: 'Lexend'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 20px
    text-transform: capitalize
    color: rgba(255, 255, 255, 0.8)

.container
    height: 32px
    border-radius: 4px
    background: rgba(69, 80, 107, 0.4)
    padding: 6px 0px 6px 8px
    display: flex
    align-items: center
    position: relative
    margin-bottom: 16px
    width: 100%
    overflow: hidden
.prefix
    display: flex
    align-items: center
    min-width: 132px
    .left_text
        @extend .text
        margin-left: 8px
