.bracketContainer 
    margin-top: 20px
    overflow: auto
    color: white
    & > :first-child
        @media screen and (min-width: 1024px)
        // justify-content: center
        // justify-content: center

.seedItem
    color: white
    &:nth-child(even)::after 
        border-right: 2px solid #b3b3b3 !important
        border-bottom: 2px solid #b3b3b3 !important
    &:nth-child(odd):not(:last-child)::after
        border-right: 2px solid #b3b3b3 !important
        border-top: 2px solid #b3b3b3 !important
    &:nth-child(even)::before
        border-top: 2px solid #b3b3b3 !important
    
.refereeNotice
    margin-bottom: 30px
    font-size: 16px

.lucisDoubleBracket
    display: flex
    gap: 20px
.lucisFinalRounds
    display: flex
    position: relative
    div.rbg
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        overflow: hidden
        img
            opacity: 0.15
            height: 100%
            width: auto
            max-width: initial
            position: absolute
            right: -50%
.loseRoundSpacer
    height: 50px