.bracketContainer
    padding-top: 50px
    padding-bottom: 50px
    overflow: auto
    color: white

.seedItem
    color: white
    &:nth-child(even)::after 
        border-right: 2px solid #b3b3b3 !important
        border-bottom: 2px solid #b3b3b3 !important
    &:nth-child(odd):not(:last-child)::after
        border-right: 2px solid #b3b3b3 !important
        border-top: 2px solid #b3b3b3 !important
    &:nth-child(even)::before
        border-top: 2px solid #b3b3b3 !important
    
.refereeNotice
    margin: 20px 0 30px
    font-size: 16px

.lucisDoubleBracket
    display: flex
    gap: 20px
.lucisFinalRounds
    display: flex
    position: relative
    div.rbg
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        overflow: hidden
        img
            opacity: 0.15
            height: 100%
            width: 100%
            max-width: initial
            position: absolute
            top: 0
            left: 0
            object-fit: cover
.loseRoundSpacer
    height: 50px
.liveStream
    position: absolute
    top: -35px
    right: 0
    background: rgb(181, 82, 100)
    padding: 5px 10px
    border-radius: 5px
    color: #ffffff
    font-size: 12px
    &:hover
        background: rgb(227, 134, 149)
        color: #ffffff
        &:after
            border-top-color: rgb(227, 134, 149)
    &:after
        content: ""
        border-top: 5px solid rgb(181, 82, 100)
        border-left: 5px solid transparent
        border-right: 5px solid transparent
        position: absolute
        left: 11px
        bottom: -5px
    :global(.ant-image)
        width: 18px
        margin-right: 5px
        img
            color: #ffffff
.liveStreamEnded
    background: rgb(104 104 104)
    &:hover
        background: rgb(227, 134, 149)
        &:after
            border-top-color: rgb(227, 134, 149)
    &:after
        border-top: 5px solid rgb(104 104 104)
    :global(.ant-image)
        margin: 0
.imgLiveEnded
    width: 13px
