.container_footer
  :global(.lucis-container-2)
    @media screen and (min-width: 1600px)
      width: 1400px
  background: #000625
  backdrop-filter: blur(42px)
  height: 136px
  line-height: 136px
  @media (max-width: 992px)
    height: 70px
    line-height: 70px
  @media (max-width: 768px)
    height: 48px
    line-height: 48px
  .logo
    display: none
    @media screen and (min-width: 1800px)
      display: flex
      align-items: center
      position: absolute
      left: 62px
      top: 50%
      transform: translate(0, -50%)
    img
      height: 40px
      min-height: 40px
      max-height: 40px
      margin-bottom: 18px
  .logoTab
    img
      height: 40px
      min-height: 40px
      max-height: 40px
      margin-bottom: 18px
  .wrapper
    display: flex
    justify-content: flex-end
  .group_ic
    display: flex
    .ic_item
      max-width: 40px
      margin-right: 10px
  .block_item_menu
    height: 100%
    display: flex
    align-items: center
    margin: 0
    li
      margin-right: 36px
      display: flex
      justify-content: center
      align-items: center
      a
        font-family: 'Revx Neue Demo'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 18px
        display: flex
        align-items: center
        letter-spacing: 0.08em
        color: #FFFFFF
        @media (max-width: 1400px)
          font-size: 14px
      a:hover
        color: #00FFEC
  .btn_help
    display: flex
    align-items: center
    @media (max-width: 768px)
      display: none
    span
      font-family: 'Revx Neue Demo'
      font-style: normal
      font-weight: 400
      font-size: 16px
      text-transform: uppercase
      letter-spacing: 4px


