.container_footer
  background: #000625
  backdrop-filter: blur(42px)
  height: 136px
  display: flex
  align-items: center
  @media (max-width: 992px)
    height: 70px
  @media (max-width: 768px)
    height: 48px
  .logo
    display: flex
    align-items: center
  .group_ic
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    .ic_item
      max-width: 40px
      margin-right: 10px
  .block_item_menu
    height: 100%
    display: flex
    align-items: center
    margin: 0
    li
      margin-right: 36px
      display: flex
      justify-content: center
      align-items: center
      a
        font-family: 'Revx Neue Demo'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 18px
        display: flex
        align-items: center
        letter-spacing: 0.08em
        color: #FFFFFF
        @media (max-width: 1400px)
          font-size: 14px
      a:hover
        color: #00FFEC
  .btn_help
    display: flex
    justify-content: center
    align-items: center
    span
      font-family: 'Revx Neue Demo'
      font-style: normal
      font-weight: 400
      font-size: 16px
      text-transform: uppercase


