.container_footer
  background: #070a45
  // background: linear-gradient(177.34deg, rgba(0, 0, 0, 0.2) 2.22%, rgba(255, 255, 255, 0) 97.78%)
  backdrop-filter: blur(42px)
  .content
    padding: 20px 0px
    height: 100%
    backdrop-filter: blur(42px)
    position: relative
    background: linear-gradient(302deg, rgba(0, 0, 0, 0.2) 2.22%, rgba(255, 255, 255, 0) 97.78%)
    .r
      display: flex
      align-items: center
      justify-content: space-between
      @media ( max-width: 639px )
        flex-direction: column
        align-items: flex-end
      .logo
        @media (min-width: 0px)
          display: none
        @media (min-width: 640px)
          display: block
      .group_ic
        display: flex
        align-items: center
        justify-content: center
        width: 100%
        @media ( max-width: 639px )
          padding: 20px 0px
          justify-content: space-between
        .ic_item
          max-width: 40px
          margin: 0px 15px
          @media ( max-width: 539px )
            margin: 0 8px

  .content::before
    content: ''
    position: absolute
    top:0
    left:0
    right:0
    bottom:0
    border-radius: 16px 16px 0px 0px
    padding: 2px
    background: linear-gradient(111.03deg, rgba(239, 238, 238, 0.32) 2.82%, rgba(239, 238, 238, 0.06) 90.94%)
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
    -webkit-mask-composite: xor
    mask-composite: exclude