.nftCategories
  h2
    font-size: 25px
    color: #fff
    margin: 0
  .cardWrap
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 10px
  .card
    height: 300px,
    background: rgba(45, 52, 70, 0.5),
    backdrop-filter: blur(12px),
    width: 100%,
    margin-fottom: 10px,
    position: relative,
    display: flex,
    flex-direction: column
    justify-content: center
    align-items: center
  .buttonWrapper
    margin: 10px
    button
      text-align: center
  .tier
    border: 1px solid rgb(255 255 255 / 57%)
    padding: 15px
    margin-bottom: 20px
  .tierTitle
    font-size: 20px
  img
    width: 162px
    height: 216px
    margin-top: 25px
  .coin
    display: flex
    justify-content: space-between
    font-size: 12px
    img
      width: 28px
      height: 28px
      margin: 0

.missionsWrap
  margin-top: 20px
  .missionsWrapHeader
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    h2
      font-size: 30px
      margin: 0
      button
        margin-left: 20px
    .missionsList
      .missionItem
        display: flex
        border: 1px solid rgb(255 255 255 / 57%)
        padding: 15px
        margin-bottom: 20px
        .missionLogo
          width: 80px
          height: 80px
          background: #ffffff
          :global(.ant-image)
            width: 100%
            height: 100%
            object-fit: contain
            object-position: center
        .missionInfo
          flex: 1
          padding: 0 15px
          h4
            font-size: 20px
            font-weight: 700
        .missionProgress
          display: flex
          align-items: center
          :global(.ant-progress)
            margin: 0 15px
            :global(.ant-progress-outer)
              padding-right: 0
.missionsList
  .missionsWrap
    .missionsWrapHeader
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      h2
        font-size: 30px
        margin: 0
      button
        margin-left: 20px
  .missionItem
    display: flex
    border: 1px solid rgb(255 255 255 / 57%)
    padding: 15px
    margin-bottom: 20px
    .missionLogo
      width: 80px
      height: 80px
      background: #ffffff
      :global(.ant-image)
        width: 100%
        height: 100%
        object-fit: contain
        object-position: center
    .missionInfo
      flex: 1
      padding: 0 15px
      h4
        font-size: 20px
        font-weight: 700
      .missionProgress
        display: flex
        align-items: center
        :global(.ant-progress)
          margin: 0 15px
        :global(.ant-progress-outer)
          padding-right: 0
  .header
    display: flex
    .checkListMission
      display: flex
      .checkListMissionItem
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 16px
        // justify-content: flex-start
        img
          width: 40px
          height: 40px
    .headerCenter
      background-image: url("/assets/P2E/bg-header-right.png")
      height: 62px
      width: 470px
      position: relative
      display: flex
      align-items: center
      justify-content: center
      img
        position: absolute
        right: -30px
        bottom: -10px
    .updateButton
      display: flex
      justify-content: flex-end
      align-items: center
      cursor: pointer
      img
        width: 20px
        height: 20px
        margin-left: 40px
