.nftCategories
  h2
    font-size: 25px
    color: #fff
    margin: 0
  .cardWrap
    display: flex
    flex-direction: column
    align-items: center
    margin-bottom: 10px
  .card
    height: 300px,
    background: rgba(45, 52, 70, 0.5),
    backdrop-filter: blur(12px),
    width: 100%,
    margin-fottom: 10px,
    position: relative,
    display: flex,
    flex-direction: column
    justify-content: center
    align-items: center
  .buttonWrapper
    margin: 10px
    button
      text-align: center
  .tier
    border: 1px solid rgb(255 255 255 / 57%)
    padding: 15px
    margin-bottom: 20px
  .tierTitle
    font-size: 20px
  img
    width: 162px
    height: 216px
    margin-top: 25px
  .coin
    display: flex
    justify-content: space-between
    font-size: 12px
    img
      width: 28px
      height: 28px
      margin: 0
.rewardItem
  display: flex
  align-items: center
  span
    font-weight: 500
    font-size: 16px
    line-height: 30px
    margin-right: 8px
    display: flex
    align-items: center
  .lucisPoint
    color: #DF9B16
.missionsList
  .missionItem
    display: flex
    align-items: center
    border-radius: 4px
    background: rgba(69, 80, 107, 0.5)
    backdrop-filter: blur(6px)
    padding: 16px
    // padding: 15px
    margin-bottom: 20px
    .missionLogo
      background: #ffffff
      border-radius: 4px
    .missionInfo
      flex: 1
      .missionContent
        display: flex
        justify-content: space-between
      .missionTitle
        margin-left: 24px
        width: 300px
        h4
          font-size: 16px
          font-weight: 500
          line-height: 24px
        span
          font-size: 14px
          line-height: 21px
          font-weight: 400
          opacity: 0.5
          text-transform: capitalize
        img
          margin-bottom: 3px
          opacity: 1

      .missionReward
        display: flex
        font-size: 14px
        font-weight: 400
        line-height: 21px
        // flex-direction: column
        justify-content: space-around
        align-items: center
        .missionRewardItem
          display: flex
          align-items: center
        span
          font-size: 16px
          line-height: 24px
          color: #DF9B16
    .missionState
      align-items: center
      .missionAction
        width: 120px
        justify-content: center
        display: flex
        img
          text-align: center
      .missionProgress
        margin-right: 50px
        :global(.ant-progress-text)
          color: rgba(255, 255, 255, 0.5)
        :global(.ant-progress-circle-trail)
          stroke: #6B6C6C
      .missionProgressFinish
        margin-right: 50px
        :global(.ant-progress-text)
          color: #fff
        :global(.ant-progress-circle-trail)
          stroke: #6B6C6C
  .header
    display: flex
    margin-bottom: 16px
    position: relative
    width: 100%
    justify-content: space-between
    .checkListMission
      display: flex
      .checkListMissionItem
        display: flex
        flex-direction: column
        align-items: center
        margin-right: 16px
        .csgoImage
          width: 40px
          height: 40px
          margin-bottom: 8px
    .headerRight
      .rewardBox
        background: linear-gradient(90.88deg, rgba(156, 248, 241, 0) 5.37%, rgba(0, 240, 255, 0.26) 99.25%)
        backdrop-filter: blur(12px)
        height: 62px
        // width: 500px
        margin-right: 60px
        position: relative
        display: flex
        align-items: center
        justify-content: center
        color: #12B0B4
        font-size: 14px
        line-height: 20px
        // @media only screen and (max-width: 1200px)
        //   width: 300px
        img
          position: absolute
          right: -65px
          bottom: -10px
      .updateButton
        display: flex
        justify-content: flex-end
        align-items: center
        cursor: pointer
        text-align: right
        line-height: 62px

        img
          margin-left: 40px
          margin-right: 5px
          height: 18px
        .spinner
          animation: spin 2s linear 0s infinite

  .subHeader
    p
      font-size: 16px
      margin-bottom: 12px

.recentMatchList
  margin-bottom: 20px
  .recentMatchHeaderList
    background: rgba(23, 29, 46, 0.8)
    backdrop-filter: blur(40px)
    h2
      font-weight: 600
      font-size: 18px
      line-height: 27px
      margin: 0
    .recentMatchHeaderItem
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      h2
        color: #fff
  .recentMatchContentItem
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 50px
    margin-top: 22.5px
    border-right: 0.5px solid rgba(166, 166, 166, 0.32)
    img
      margin-bottom: 6px
  .recentMatchItem
    height: 95px
    // background-image: url("/assets/P2E/csgo/daily-item-1.png")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    cursor: pointer
  .recentMatchItem:hover
    border: 1px solid rgba(0, 255, 255, 0.8)
    box-shadow: inset 0px 1px 16px rgba(0, 255, 255, 0.8)

  .recentMatchResult
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    height: 100%
    color: #DBE0E8
    span
      font-size: 16px
      font-weight: bold
      line-height: 24px
    .mapName
      font-style: normal
      font-weight: 400
      font-size: 12px
      line-height: 18px
      border-bottom: 1px solid #DBE0E8
    .endTime
      font-weight: 500
      font-size: 14px
      line-height: 21px
  .scoreMatch
    display: flex
    height: 95px
    font-size: 24px
    font-weight: 500
    line-height: 36px
    // flex-direction: column
    justify-content: center
    align-items: center
  .recentMatchTime
    display: flex
    height: 95px
    font-size: 14px
    font-weight: 400
    line-height: 21px
    // flex-direction: column
    justify-content: center
    align-items: center
  .recentMatchReward
    display: flex
    height: 95px
    font-size: 14px
    font-weight: 400
    line-height: 21px
    // flex-direction: column
    justify-content: space-around
    align-items: center

/* Chrome, Safari, Opera */ 
@keyframes spin
  0%
    transform: rotate(360deg)
  100%
    transform: rotate(0deg)
