@import styles/common

.container
  height: 100vh
  padding: 100px
  @include flex-center
  align-items: flex-start

.errorBox
  @include box-glass
  color: white
  width: 100%
  padding: 20px

  p
    color: white
    font-size: 16px