.content_team
  padding: 12px 12px 12px 8px
  border: 1px solid #FFF
  display: flex
  align-items: center
  justify-content: space-between
  margin-bottom: 10px
  //aspect-ratio: 1/1
  .img_team
    background: #FFF
    max-width: 40px
    //min-height: 40px
    //aspect-ratio: 1/1
    width: 100%
    overflow: hidden
    img
      aspect-ratio: 1/1
  .name_team
    flex: 1
    text-align: left
    padding-left: 12px
  .member
    display: flex
    align-items: center
    span
      padding-left: 2px