.boxItem
  width: 400px
  text-align: center
  background: linear-gradient(0deg, rgba(248, 237, 255, 0.2), rgba(248, 237, 255, 0.2)), radial-gradient(50% 50% at 50% 50%, rgba(236, 196, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
  backdrop-filter: blur(40px)
  color: #fff
  padding: 20px
  .boxItemTitle
    color: rgba(240, 185, 11, 0.8)
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-weight: 600
    font-size: 32px
    line-height: 35px
  .boxImage
    img
      width: 300px
      margin-top: 20px
  .boxItemAction
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    padding: 8px
    .boxItemAmount
      font-family: "Revx Neue Demo"
      font-weight: 600
      font-size: 16px
      line-height: 13px
      letter-spacing: 0.04em
      background: rgba(69, 80, 107, 0.5)
      padding: 12px 16px
      color: #FFFFFF
      -webkit-backdrop-filter: blur(40px)
      backdrop-filter: blur(40px)
      border-radius: 72px
      margin-bottom: 12px