.nftForm
  color: white
  flex-flow: row wrap

.errMsg
  color: #ff4009
  margin-top: 20px

.infoMsg
  margin-top: 20px

.previewWrapper
  padding: 25px 50px
  display: flex
  justify-content: center
  align-items: center
  flex-flow: column wrap
  color: white

  @media screen and (min-width: 576px)
    padding: 25px 30px
  @media screen and (min-width: 768px)
    padding: 25px 50px
  @media screen and (min-width: 992px)
    padding: 25px 50px

  .previewImgC
    border: 1px solid #000
    width: 100%

    //@media screen and (min-width: 576px)
    //@media screen and (min-width: 768px)
    @media screen and (min-width: 992px)
      width: 60%
