@import "/styles/playcore/variables"

.content_modal
  :global(.ant-modal)
    max-width: 100%
  :global(.ant-modal-body)
    padding: 0
    height: 100vh
  :global(.ant-modal-close .ant-modal-close-x)
    color: #6c6b6b
    background: none
  :global(.ant-modal-content)
    background: transparent
    backdrop-filter: blur(0)

.container
  display: flex
  align-items: center
  flex-direction: column
  height: 100%
  //max-width: 1080px
  background: rgba(23, 29, 46, 1)
  //@media (min-width: 360px)
  //  margin-top: 85px
  @media (min-width: 992px)
    justify-content: center
  .wrapper
    //max-width: 1080px
    text-align: center
    margin: 0 16px
    @media (min-width: 360px)
      min-width: 360px
      margin-top: 85px
    @media (min-width: 768px)
      min-width: 768px !important
    @media (min-width: 992px)
      margin: 0
      min-width: 992px !important
    @media (min-width: 1024px)
      min-width: 1024px !important
  .reward_title
    color: #FF7607
    font-weight: 600
    font-size: 20px
    line-height: 22px
    padding-bottom: 16px
    border-bottom: 1px solid #FF7607
    margin: 0 40px
    //width: 100%
    @media (min-width: 768px)
      font-size: 36px
      padding-bottom: 24px
    @media (min-width: 992px)
      font-size: 48px
      line-height: 53px
      padding-bottom: 32px
  .reward_img
    margin: 48px auto
    display: flex
    align-items: center
    justify-content: center
    background: rgba(248, 237, 255, 0.2) radial-gradient(50% 50% at 50% 50%, rgba(236, 196, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    backdrop-filter: blur(40px)
    width: 280px
    aspect-ratio: 1/1
    @media (min-width: 768px)
      width: 400px
    &:before
      content: ''
      display: block
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
    &:global(.Common)
      &:before
        background: $bgPrizeCommon
    &:global(.Uncommon)
      &:before
        background: $bgPrizeUncommon
    &:global(.Rare)
      &:before
        background: $bgPrizeRare
    &:global(.Epic)
      &:before
        background: $bgPrizeEpic
    &:global(.Legendary)
      &:before
        background: $bgPrizeLegendary
    &:global(.Mythic)
      &:before
        background: $bgPrizeMythic
    img
      width: 100%
      aspect-ratio: 1/1
      object-fit: cover
  .reward_des
    font-family: 'Lexend'
    font-style: normal
    font-weight: 300
    font-size: 14px
    line-height: 18px
    text-transform: capitalize
    color: #DBE0E8
    @media (min-width: 992px)
      font-size: 16px
      line-height: 20px