@import "styles/common"

.rafflesBg
  background: url('/assets/P2E/raffles/bgRafflesMobile.jpg') no-repeat fixed top center
  background-size: cover
  background-blend-mode: multiply
  position: relative
  overflow-x: unset
  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    background: rgb(23 29 46 / 80%)
    z-index: 0
  > *
    z-index: 1
    position: relative
  @media screen and (min-width: 768px)
    background: url('/assets/P2E/raffles/bgRafflesPC.jpg') no-repeat fixed top center
    background-size: cover
.rafflesWrapper, .rafflesDetailWrapper
  padding: 24px 0
  @media screen and (min-width: 768px)
    padding: 56px 0
  @media screen and (min-width: 1200px)
    padding: 56px 0 151px
  :global(.ant-empty)
    opacity: 0.6
  :global(.ant-empty-description)
    color: white
.sectionTitleFlex
  @media screen and (min-width: 414px)
    display: flex
    align-items: center
    justify-content: space-between
    .sectionTitle
      margin-bottom: 0
.sectionTitle
  font-family: 'Revx Neue Demo'
  font-size: 20px
  font-weight: 600
  line-height: 22px
  //background: linear-gradient(91.09deg, #00FFFF 0.33%, #0BEBD6 99.88%)
  //-webkit-background-clip: text
  //-webkit-text-fill-color: transparent
  color: #0BEBD6
  margin-bottom: 16px
  text-transform: capitalize
  @media screen and (min-width: 768px)
    margin-bottom: 24px
  @media screen and (min-width: 1400px)
    font-size: 24px
    line-height: 26px
.raffleCountdown
  display: flex
  align-items: center
  :global(.ant-image)
    margin-right: 8px
    display: flex
    align-items: center
    img
      min-width: 14px
      max-width: 14px
      height: 14px
  .raffleCountdownText
    font-family: 'Lexend'
    font-weight: 400
    font-size: 14px
    line-height: 21px
    color: #00FFFF
    .countdownTextColored
      color: #DF9B16
.rafflePrice
  font-family: 'Lexend'
  font-weight: 600
  font-size: 16px
  line-height: 1
  color: #00FFEC
  display: flex
  align-items: center
  .rafflePriceText
    margin-right: 4px
    margin-bottom: -2px
    line-height: 1
  :global(.ant-image)
    img
      min-width: 14px
      max-width: 14px
      height: 14px
.raffleTag
  display: inline-block
  width: 59px
  text-align: center
  border: 1px solid #00FFFF
  border-radius: 4px
  font-family: 'Lexend'
  font-weight: 400
  font-size: 10px
  line-height: 15px
  color: #00FFFF
  padding: 5px
  margin-right: 8px
  &:last-of-type
    margin-right: 0
  @media screen and (min-width: 1200px)
    font-size: 16px
    line-height: 24px
    width: auto
    padding: 4px 9.5px
    border-radius: 4px
.btnViewAll
  display: block
  margin-left: auto
  font-family: 'Revx Neue Demo'
  font-weight: 400
  font-size: 14px
  line-height: 15px
  color: #00FFFF
  &:disabled
    color: #dddddd
    cursor: no-drop
.raffleSearch
  min-width: 180px
  max-width: 180px
  display: flex
  align-items: center
  border: 1px solid #FFFFFF
  border-radius: 4px
  height: 40px
  padding: 10px
  @media screen and (min-width: 1400px)
    min-width: 318px
    max-width: 318px
  :global(.ant-input)
    border-radius: 0
    border: none
    background: none !important
    backdrop-filter: none
    padding: 0 5px 0 0
    &:focus
      outline: none
      box-shadow: none
  :global(.ant-image)
    img
      min-width: 20px
      height: 20px
.sectionRecentWinners
  margin-bottom: 32px
  @media screen and (min-width: 768px)
    margin-bottom: 43px
  .recentWinnersList
    display: flex
    column-gap: 8px
    overflow-x: auto
    margin-bottom: 16px
    padding-bottom: 7px
    &::-webkit-scrollbar
      display: block
      height: 2px
    &::-webkit-scrollbar-track
      background: rgb(116 116 116 / 66%)
      border-radius: 5px
    &::-webkit-scrollbar-thumb
      background: rgb(2 253 251 / 56%)
      border-radius: 5px
    @media screen and (min-width: 768px)
      column-gap: 13px
    @media screen and (min-width: 1400px)
      column-gap: 20px
    .recentWinnersItem
      min-width: 124px
      max-width: 124px
      border-radius: 4px
      overflow: hidden
      display: flex
      flex-direction: column
      @media screen and (min-width: 768px)
        min-width: 170px
        max-width: 170px
      @media screen and (min-width: 992px)
        min-width: 220px
        max-width: 220px
      @media screen and (min-width: 1200px)
        min-width: 250px
        max-width: 250px
      @media screen and (min-width: 1400px)
        min-width: 335px
        max-width: 335px
      .recentWinnerThumbnail
        width: 100%
        :global(.ant-image)
          width: 100%
          height: 100%
          img
            width: 100%
            object-fit: cover
            aspect-ratio: 335 / 146
      .recentWinnerInfo
        background: rgba(69, 80, 107, 0.3)
        backdrop-filter: blur(40px)
        padding: 8px
        height: 100%
        @media screen and (min-width: 992px)
          display: flex
          justify-content: space-between
          align-items: center
          padding: 10px 13px
        .winner
          display: flex
          align-items: center
          margin-bottom: 4px
          @media screen and (min-width: 992px)
            margin-bottom: 0
            max-width: 50%
            word-break: break-word
          .winnerAvatar
            margin-right: 4px
            :global(.ant-image)
              img
                min-width: 24px
                max-width: 24px
                height: 24px
                object-fit: cover
                border-radius: 4px
          .winnerUsername
            color: #FFFFFF
            font-family: 'Lexend'
            font-size: 12px
            line-height: 21px
            display: -webkit-box
            -webkit-line-clamp: 1
            -webkit-box-orient: vertical
            overflow: hidden
            @media screen and (min-width: 1400px)
              font-size: 14px
              line-height: 18px
        .winnerValued
          font-family: 'Lexend'
          font-size: 12px
          line-height: 18px
          background: linear-gradient(90deg, #BB7239 0%, #FCEEAE 22.75%, #E09E5B 52.16%, #FCE9A4 75.29%, #F1D693 82.75%, #E1BD7C 92.16%, #D08A4A 100%)
          -webkit-background-clip: text
          -webkit-text-fill-color: transparent
          text-fill-color: transparent
          @media screen and (min-width: 992px)
            max-width: 50%
          @media screen and (min-width: 1200px)
            font-size: 14px
            line-height: 21px
.sectionFeaturedRaffle
  margin-bottom: 32px
  @media screen and (min-width: 768px)
    margin-bottom: 80px
  .titleFlex
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 16px
    @media screen and (min-width: 768px)
      margin-bottom: 24px
    .sectionTitle
      margin-bottom: 0
      max-width: 50%
      padding-right: 5px
    .raffleCountdown
      max-width: 50%
      padding-left: 5px
      @media screen and (min-width: 768px)
        display: none
  .featuredRaffle
    border-radius: 4px
    overflow: hidden
    position: relative
    .featuredRaffleThumbnail
      position: relative
      :global(.ant-image)
        width: 100%
        img
          aspect-ratio: 343 / 194
          object-fit: cover
          width: 100%
    .featuredRaffleInfo
      background: rgba(69, 80, 107, 0.5)
      backdrop-filter: blur(9.807px)
      padding: 16px
      display: flex
      justify-content: space-between
      position: relative
      @media screen and (min-width: 768px)
        justify-content: unset
        position: absolute
        bottom: 0
        left: 0
        right: 0
      @media screen and (min-width: 992px)
        padding: 25px 30px
      .btnViewRaffle
        position: absolute
        right: 16px
        top: -48px
        display: flex
        align-items: center
        border: 1px solid rgba(0, 249, 255, 1)
        padding: 5px 17px
        height: 33px
        font-family: 'Revx Neue Demo'
        font-weight: 600
        font-size: 12px
        letter-spacing: 0.04em
        color: #FFFFFF
        line-height: 1
        text-transform: uppercase
        @media screen and (min-width: 1200px)
          padding: 19px 26px
          font-size: 18px
          line-height: 20px
          letter-spacing: 0.2em
          height: auto
          right: 30px
          top: -88px
        span
          position: relative
          z-index: 1
        &:before
          content: ''
          display: block
          position: absolute
          top: 1px
          left: 1px
          bottom: 1px
          right: 1px
          background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%)
          z-index: 0
      .featuredRaffleTitleWrap
        @media screen and (min-width: 768px)
          display: flex
          align-items: center
          margin-right: 15px
          max-width: 51%
        h3
          font-family: 'Revx Neue Demo'
          font-style: normal
          font-weight: 600
          font-size: 16px
          line-height: 18px
          letter-spacing: 0.04em
          text-transform: uppercase
          color: rgba(255, 255, 255, 0.8)
          margin-bottom: 24px
          @media screen and (min-width: 768px)
            margin-bottom: 0
            margin-right: 15px
            max-width: 66%
            display: -webkit-box
            -webkit-line-clamp: 2
            -webkit-box-orient: vertical
            overflow: hidden
          @media screen and (min-width: 1200px)
            font-size: 32px
            line-height: 35px
            max-width: 75%
        p
          font-family: 'Lexend'
          font-weight: 400
          font-size: 14px
          line-height: 21px
          color: rgba(255, 255, 255, 0.7)
          margin-bottom: 0
      .featuredRafflePriceWrap
        display: flex
        flex-direction: column
        align-items: flex-end
        justify-content: space-between
        @media screen and (min-width: 768px)
          flex-direction: row
          align-items: center
          flex: 1
        .rafflePrice
          margin-bottom: 11px
          @media screen and (min-width: 768px)
            margin-bottom: 0
            margin-right: auto
            margin-top: -2px
            justify-self: flex-start
        .raffleCountdown
          display: none
          @media screen and (min-width: 768px)
            display: flex
            margin-right: 15px
            margin-left: 15px
          @media screen and (min-width: 1200px)
            margin-right: 48px
      .featuredRaffleTagWrap
        .raffleTag
          @media screen and (min-width: 1200px)
            margin-right: 40px
            &:last-of-type
              margin-right: 0
.sectionRafflesSponsor
  margin-bottom: 32px
  @media screen and (min-width: 768px)
    margin-bottom: 80px
  .rafflesSponsorList
    display: flex
    flex-wrap: wrap
    row-gap: 32px
    align-items: center
    justify-content: space-between
    width: 287px
    margin: 0 auto
    @media screen and (min-width: 768px)
      width: 500px
    @media screen and (min-width: 992px)
      justify-content: center
      width: 800px
      column-gap: 50px
    @media screen and (min-width: 1400px)
      width: 1160px
      column-gap: 100px
    .raffleSponsorItem
      min-width: 50%
      max-width: 50%
      &:nth-of-type(even)
        text-align: right
      :global(.ant-image)
        width: 80%
      @media screen and (min-width: 992px)
        width: calc((100% / 4) - 38px)
        min-width: 0
        max-width: calc((100% / 4) - 38px)
        &:nth-of-type(even)
          text-align: unset
        :global(.ant-image)
          width: auto
      @media screen and (min-width: 1400px)
        width: calc((100% / 4) - 75px)
        max-width: calc((100% / 4) - 75px)
.sectionRaffles
  .raffleTitleWrap
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 16px
    @media screen and (min-width: 768px)
      margin-bottom: 24px
    .sectionTitle
      margin-bottom: 0
    .raffleSearchBar
      display: flex
      align-items: center
      gap: 0 30px
      :global(.ant-radio-group)
        display: flex
        span
          font-family: 'Revx Neue Demo'
          font-style: normal
          color: #FFFFFF
          font-weight: 400
          font-size: 16px
          line-height: 18px
          padding-left: 0
          //width: 24px
          //height: 24px
        :global(.ant-radio-wrapper)
          display: flex
          flex-direction: row-reverse
          margin-left: 32px
          margin-right: 0
        :global(.ant-radio-inner::after)
          background-color: #0BEBD6
        :global(.ant-radio-checked, .ant-radio-inner)
          border-color: #0BEBD6
        :global(.ant-radio-inner)
          background-color: none
  .rafflesList
    display: grid
    gap: 15px
    grid-template-columns: 1fr 1fr
    grid-auto-rows: 1fr
    @media screen and (min-width: 360px)
      gap: 24px
    @media screen and (min-width: 768px)
      grid-template-columns: 1fr 1fr 1fr
      gap: 24px
    @media screen and (min-width: 768px)
      gap: 46px
    .rafflesItem
      background: rgba(0, 0, 0, 0.5)
      border-radius: 4px
      overflow: hidden
      display: flex
      flex-direction: column
      justify-content: space-between
      &:global(.comingSoon)
        background: rgba(69, 80, 107, 0.5)
        backdrop-filter: blur(14.8009px)
        display: flex
        align-items: center
        justify-content: center
        text-align: center
        font-family: 'Revx Neue Demo'
        font-weight: 400
        font-size: 16px
        line-height: 18px
        text-transform: uppercase
        color: #D9D9D9
        @media screen and (min-width: 1200px)
          font-size: 28px
          line-height: 31px
    .raffleTagWrap
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 10px
      @media screen and (min-width: 768px)
        margin-bottom: 16px
    .raffleTag
      width: auto
      font-size: 6px
      line-height: 9px
      padding: 1px 4px
      border-radius: 2px
      &:global(.disabled)
        border-color: rgba(255, 255, 255, 0.5)
        color: rgba(255, 255, 255, 0.5)
      @media screen and (min-width: 768px)
        font-size: 12px
        line-height: 1.5
      @media screen and (min-width: 1200px)
        font-size: 16px
        line-height: 24px
        width: auto
        padding: 4px 9.5px
        border-radius: 4px
    .raffleThumbnail
      :global(.ant-image)
        width: 100%
        img
          width: 100%
          aspect-ratio: 436 / 296
    .raffleInfo
      padding: 5px
      @media screen and (min-width: 768px)
        padding: 16px 24px
      .raffleTitle
        font-family: 'Revx Neue Demo'
        font-weight: 600
        font-size: 14px
        line-height: 15px
        letter-spacing: 0.04em
        text-transform: uppercase
        color: rgba(255, 255, 255, 0.8)
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
        margin-bottom: 4px
        @media screen and (min-width: 1200px)
          font-size: 24px
          line-height: 26px
          letter-spacing: 0.04em
          margin-bottom: 8px
      .rafflePriceWrap
        display: flex
        align-items: center
        justify-content: space-between
        .raffleValued
          font-family: 'Lexend'
          font-weight: 400
          font-size: 12px
          line-height: 18px
          color: rgba(255, 255, 255, 0.7)
          @media screen and (min-width: 1200px)
            font-size: 14px
            line-height: 21px
//======================================================
.tableResponsive
  width: 100%
  overflow-x: auto
.rafflesDetailWrapper
  section:not(.breadcrumbSection, .buyTicketSection, .rafflesRollingSection)
    @media screen and (min-width: 992px)
      width: calc(100% - 350px)
    @media screen and (min-width: 1400px)
      width: calc(100% - 475px)
  .rafflesDetailContainer
    @media screen and (min-width: 992px)
      display: flex
      flex-wrap: wrap
      position: relative
  .breadcrumbSection
    width: 100%
    display: flex
    align-items: center
    margin-bottom: 16px
    @media screen and (min-width: 1400px)
      margin-bottom: 48px
    button
      img
        width: 23px
    .sectionTitle
      margin-bottom: 0
      margin-left: 14px
  .rafflesDetailSidebar
    @media screen and (min-width: 992px)
      position: absolute
      top: 40px
      right: 0
      width: 320px
      margin-left: auto
      height: 100%
    @media screen and (min-width: 1400px)
      width: 424px
      top: 74px
    .stickySidebar
      @media screen and (min-width: 992px)
        position: sticky
        top: 100px
      @media screen and (min-width: 1024px)
        top: 50px
  .sectionFeaturedRaffle
    margin-bottom: 12px
    @media screen and (min-width: 1400px)
      margin-bottom: 80px
    .featuredRaffle
      .featuredRaffleInfo
        .featuredRaffleTitleWrap
          @media screen and (min-width: 768px)
            margin-right: auto
            width: 70%
            max-width: 70%
          h3
            @media screen and (min-width: 768px)
        .featuredRafflePriceWrap
          @media screen and (min-width: 768px)
            flex: none
    .featuredRaffleDesc
      font-family: 'Lexend'
      font-weight: 400
      font-size: 12px
      line-height: 18px
      text-align: justify
      color: rgba(255, 255, 255, 0.8)
      margin-top: 16px
      @media screen and (min-width: 1400px)
        font-size: 16px
        line-height: 24px
  .sidebarSection
    padding: 30px 16px
    background: rgba(69, 80, 107, 0.5)
    backdrop-filter: blur(40px)
    border-radius: 4px
    margin-bottom: 32px
    @media screen and (min-width: 1400px)
      padding: 48px 32px
  .sidebarHidden
    display: none
  .buyTicketSection
    .raffleCountdown, .sectionTitle
      margin-bottom: 21px
    .buyTicketInfo
      border-bottom: 1px solid rgba(118, 108, 108, 0.4)
      margin-bottom: 21px
      :global(.ant-input-number)
        border: none
        width: 61px
        height: 21px
        background: none
      :global(.ant-input-number-input)
        background: rgba(69, 80, 107, 0.6)
        backdrop-filter: blur(40px)
        border: none
        outline: none !important
        font-family: 'Lexend'
        font-weight: 400
        font-size: 14px
        line-height: 21px
        text-align: center
        color: #FFFFFF
        padding: 0 5px
        display: block
        height: 100%
        border-radius: 2px
      .buyTicketInfoItem
        margin-bottom: 16px
        display: flex
        align-items: center
        justify-content: space-between
        @media screen and (min-width: 1400px)
          margin-bottom: 18px
        .buyTicketInfoLabel
          font-family: 'Lexend'
          font-weight: 400
          font-size: 16px
          line-height: 24px
          text-transform: capitalize
          color: rgba(255, 255, 255, 0.8)
          min-width: calc(100% - 100px)
          max-width: calc(100% - 100px)
        .buyTicketInfoValue
          font-family: 'Lexend'
          font-weight: 600
          font-size: 16px
          line-height: 24px
          color: #DF9B16
          :global(.ant-input-number-input-wrap)
            height: 100%
    .sidebarBtn
      border: 1px solid rgba(0, 249, 255, 1)
      padding: 8px 16px
      min-width: 90px
      font-family: 'Revx Neue Demo'
      font-weight: 600
      font-size: 12px
      line-height: 12px
      color: #000000
      text-transform: uppercase
      position: relative
      span
        position: relative
        z-index: 1
      &:before
        content: ''
        display: block
        position: absolute
        top: 1px
        left: 1px
        bottom: 1px
        right: 1px
        background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%)
        z-index: 0
      &:disabled
        border: 1px solid rgba(255, 255, 255, 0.5)
        color: rgba(255, 255, 255, 0.5)
        cursor: no-drop
        &:before
          content: none
    .buyTicket
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 36px
      .buyTicketTotal
        display: flex
        align-items: center
        font-family: 'Revx Neue Demo'
        font-weight: 600
        font-size: 20px
        line-height: 22px
        text-transform: capitalize
        color: #FFFFFF
        flex: 1
        justify-content: flex-end
        .rafflePrice
          margin-left: 8px
          .rafflePriceText
            font-size: 18px
            margin-bottom: 0
            white-space: normal
            word-break: break-all
    .buyTicketDesc
      h2
        font-family: 'Revx Neue Demo'
        font-weight: 600
        font-size: 20px
        line-height: 22px
        text-transform: uppercase
        color: rgba(219, 224, 232, 0.8)
      p
        font-family: 'Lexend'
        font-weight: 400
        font-size: 16px
        line-height: 24px
        color: rgba(255, 255, 255, 0.8)
        margin-bottom: 18px
  .myTicketsSection
    margin-bottom: 32px
    @media screen and (min-width: 1400px)
      margin-bottom: 80px
    .myTicketsList
      display: flex
      column-gap: 28px
      row-gap: 16px
      flex-wrap: wrap
      @media screen and (min-width: 1400px)
        column-gap: 22px
        row-gap: 24px
      .ticketItem
        display: inline-block
        background: rgba(69, 80, 107, 0.5)
        border-radius: 4px
        font-family: 'Revx Neue Demo'
        font-weight: 600
        font-size: 14px
        line-height: 15px
        color: #FFFFFF
        padding: 6px 5px
        min-width: 64px
        height: 25px
        text-align: center
        @media screen and (min-width: 1400px)
          font-size: 24px
          line-height: 34px
          min-width: 113px
          height: 41px
  .allTicketsSection
    margin-bottom: 32px
    @media screen and (min-width: 1400px)
      margin-bottom: 80px
    .sectionTitleFlex
      margin-bottom: 24px
    .raffleSearch
      width: 100%
      max-width: 100%
      @media screen and (min-width: 414px)
        width: auto
    .allTicketsList
      table
        width: 100%
        text-align: center
        .allTicketItem
          &:nth-of-type(odd)
            background: rgba(0, 6, 37, 0.5)
          &:nth-of-type(even)
            background: rgba(69, 80, 107, 0.5)
          &:global(.crown)
            .ownerName
              color: #FFE600
              text-shadow: 0 0 4px rgba(254, 255, 185, 0.64)
            .ownerAvatar
              :global(.ant-image)
                img
                  box-shadow: 0 0 9px rgba(255, 255, 255, 0.9)
          td
            padding: 5px
            white-space: nowrap
            @media screen and (min-width: 1400px)
              padding: 20px 10px
            &:first-of-type
              padding-left: 10px
              @media screen and (min-width: 1400px)
                padding-left: 40px
            &:last-of-type
              padding-right: 10px
              @media screen and (min-width: 1400px)
                padding-right: 40px
          .ownerReward
            font-family: 'Revx Neue Demo'
            font-weight: 600
            font-size: 12px
            line-height: 120%
            letter-spacing: 0.04em
            color: #FFFFFF
            @media screen and (min-width: 1400px)
              font-size: 24px
          .ownerInfo
            text-align: left
            .ownerInfoFlex
              display: inline-flex
              justify-content: flex-start
              align-items: center
              .ownerAvatar
                min-width: 30px
                max-width: 30px
                height: 30px
                object-fit: cover
                object-position: center
                border-radius: 2.5px
                margin-right: 8px
                @media screen and (min-width: 1400px)
                  min-width: 80px
                  max-width: 80px
                  height: 80px
                  border-radius: 5px
                  margin-right: 40px
              .ownerName
                font-family: 'Revx Neue Demo'
                font-weight: 600
                font-size: 14px
                line-height: 120%
                letter-spacing: 0.04em
                color: rgba(255, 255, 255, 0.8)
                @media screen and (min-width: 1400px)
                  font-size: 24px
          .ticketID
            font-family: 'Lexend'
            font-weight: 400
            font-size: 14px
            line-height: 120%
            letter-spacing: 0.04em
            color: #00F9FF
            @media screen and (min-width: 1400px)
              font-size: 20px
          .ticketCrown
            :global(.ant-image)
              img
                min-width: 16px
                max-width: 16px
                @media screen and (min-width: 768px)
                  min-width: 20px
                  max-width: 20px
                @media screen and (min-width: 1400px)
                  min-width: 30px
                  max-width: 30px
  .sectionRafflesSponsor
    @media screen and (min-width: 1400px)
      margin-bottom: 80px
    .rafflesSponsorList
      @media screen and (min-width: 992px)
        width: auto
