.wrapper
  @media (min-width: 0px)
    flex-direction: column
  @media (min-width: 768px)
    flex-direction: row
  :global(*)
    color: #ffffff
  .btnMore
    margin-top: 10px
    border: 1px solid #ffffff
    background: none !important
    padding: 0 10px !important
    border-radius: 5px !important
  .btnLink
    span
      text-decoration: underline
  .address
    p
      margin-bottom: 10px !important
    input
      color: #ffffff
  .container_left
    flex: 55%
    padding-right: 50px
    @media (min-width: 0px)
      flex: 1
      order: 1
      padding-right: 0px
    @media (min-width: 768px)
      flex: 45%
      order: 0
      padding-right: 50px
    @media (min-width: 1280px)
      flex: 55%
    h2
      margin: 20px 0px
      color: #FFF
      @media (min-width: 0px)
        font-size: 24px
      @media (min-width: 768px)
        font-size: 32px

      svg
        display: inline-block
        width: 26px
        margin-right: 10px
      span
        display: inline-block
    .player_tournament
      margin-left: 30px
      @media (min-width: 0px)
      margin-left: 0px
      button
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
        padding: 10px 20px
        border-radius: 12px
        color: #FFF

    .favorite_game
      display: flex
      flex-wrap: wrap
      align-items: flex-start
      gap: 20px
      color: #FFF
      .content_favorite_game
        display: flex
        flex-direction: column
        align-items: center
        flex-basis: 100px
        position: relative
        &:hover
          .deleteFavoriteGameBtn
            display: block
        .img_game
          width: 100%
          padding: 10px
          border: 1px solid #FFF
          min-width: 200px 
          min-height: 200px 
          border-radius: 8px
          background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
          backdrop-filter: blur(4px)
          display: flex
          :global(.ant-image)
            width: 100%
            img
              height: 100%
              object-fit: contain
        p
          margin-top: 20px
        .deleteFavoriteGameBtn
          display: none
          position: absolute
          top: -15px
          right: -15px
          background: #FFFFFF
          border: 1px solid #d9d9d9
          border-radius: 50px
          width: 30px
          height: 30px
          line-height: 1
          *
            color: red
      
      .add_favorite_game
          width: 100%
          max-width: 20%
          padding: 10px
          border: 1px solid #FFF
          border-radius: 8px
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
          background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
          backdrop-filter: blur(4px)
          @media (min-width: 0px)
            flex-direction: column
            min-width: 140px 
            min-height: 140px 
            text-align: center
          @media (min-width: 992px)
            min-width: 180px 
            min-height: 180px 
          svg
            font-size: 20px
          p
            @media (min-width: 0px)
              margin-top: 8px
              margin-left: 0px
  .container_right
    flex: 1
    padding-top: 30px
    color: #FFF
    p
      margin: 0
      font-size: 20px
    .biography
      .des
        border: 1px solid #FFF
        min-height: 100px
        padding: 10px
        margin: 20px 0
        white-space: pre-line
        word-wrap: break-word
    .social
      margin-bottom: 20px
      .group_ic
        display: flex
        align-items: center
        justify-content: space-between
        .ic_item
          margin: 20px 8px 20px 0px
          &:last-of-type
            margin-right: 0
          a
            display: block
          img
            width: 40px
            height: 40px
            max-width: 40px
            max-height: 40px
            @media (min-width: 1440px)
              width: 50px
              height: 50px
              max-width: 50px
              max-height: 50px
          &.social_disabled
            opacity: 0.6
            a
              pointer-events: none
.walletAddress
  &:global(.ant-input-disabled)
    background: none