.wrapper
  :global(*)
    color: #ffffff
  .btnMore
    margin-top: 10px
    border: 1px solid #ffffff
    background: none !important
    padding: 0 10px !important
    border-radius: 5px !important
  .btnLink
    span
      text-decoration: underline
  .address
    p
      margin-bottom: 10px !important
    input
      color: #ffffff
  .container_left
    h1
      margin: 20px 0px
      color: #FFF
      font-size: 32px
    .player_tournament
      margin-left: 30px
      button
        background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
        padding: 10px 20px
        border-radius: 12px
        color: #FFF

    .favorite_game
      display: flex
      align-items: flex-start
      justify-content: space-between
      color: #FFF
      .content_favorite_game
        display: flex
        flex-direction: column
        align-items: center
        .img_game
          width: 100%
          max-width: 20%
          padding: 10px
          border: 1px solid #FFF
          min-width: 200px 
          min-height: 200px 
          border-radius: 8px
          background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
          backdrop-filter: blur(4px)
        p
          margin-top: 20px
      
      .add_favorite_game
          width: 100%
          max-width: 20%
          padding: 10px
          border: 1px solid #FFF
          min-width: 200px 
          min-height: 200px 
          border-radius: 8px
          display: flex
          align-items: center
          justify-content: center
          cursor: pointer
          background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
          backdrop-filter: blur(4px)

  .container_right
    padding-top: 100px
    padding-left: 50px
    color: #FFF
    p
      margin: 0
      font-size: 20px
    .biography
      .des
        border: 1px solid #FFF
        min-height: 100px
        padding: 10px
        margin: 20px 0px
    
    .social
      margin-bottom: 20px
      .group_ic
        display: flex
        align-items: center
        justify-content: space-between
        .ic_item
          margin: 20px 8px 20px 0px