.wrapper
  margin-bottom: 32px
  margin-top: 15px
  @media screen and (min-width: 1200px)
    margin-bottom: 64px
  h2
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 22px
    color: #00F9FF
    margin-bottom: 16px
  .groupInventory
    display: flex
    align-items: center
    .listPiecesInventory
      margin-top: 50px
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      align-items: center
      flex-grow: 3
      .item
        display: flex
        flex-direction: column
        img
          width: 200px
    .btnCombine
      flex-grow: 1
      text-align: center