.wrapper
  margin-bottom: 32px
  margin-top: 15px
  @media screen and (min-width: 1200px)
    margin-bottom: 64px
  h2
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 22px
    color: #00F9FF
    margin-bottom: 16px
  .groupInventory
    display: flex
    //align-items: center
    .listPiecesInventory
      margin-top: 50px
      display: flex
      flex-direction: column
      gap: 40px 0
      width: 100%
      .itemPieces
        display: flex
        justify-content: center
        flex-wrap: wrap
        //align-items: center
        flex-grow: 3
        gap: 20px 20px
        @media screen and (min-width: 575px)
          gap: 20px 48px
        @media screen and (min-width: 768px)
          gap: 20px 96px
        @media screen and (min-width: 992px)
          gap: 20px 120px
        @media screen and (min-width: 1200px)
          gap: 20px 180px
          //justify-content: flex-start
        @media screen and (min-width: 1440px)
          gap: 20px 96px
          justify-content: flex-start
        .itemPrize
          display: flex
          flex-direction: column
          img
            width: 150px
            @media screen and (min-width: 640px)
              width: 180px
            @media screen and (min-width: 768px)
              width: 214px
          h2
            text-align: center
      .btnCombine
        flex-grow: 1
        display: flex
        align-items: center
    .rowPieces
      display: flex
      flex-direction: column
      align-items: center
      gap: 20px 0
      @media screen and (min-width: 640px)
        flex-direction: row
.groupSearch
  display: flex
  gap: 20px 0
  flex-direction: column
  margin-top: 25px
  @media screen and (min-width: 768px)
    justify-content: space-between
    flex-direction: row

  :global(.ant-select-selector)
    background: rgba(69, 80, 107, 0.5) !important
    color: #DBE0E8
  :global(.ant-select-arrow)
    color: #DBE0E8
  .dropdownSearch
    width: 100%
    @media screen and (min-width: 768px)
      min-width: 343px
  .searchText
    color: rgba(219, 224, 232, 0.5)
    font-family: 'Lexend'
    font-weight: 400
    font-size: 16px
    line-height: 20px
    padding: 8px 16px
    background: rgba(69, 80, 107, 0.5)
    backdrop-filter: blur(40px)
    border-radius: 50px
    width: 100%
    @media screen and (min-width: 768px)
      min-width: 343px
.listItemsInventory
  display: flex
  //justify-content: center
  gap: 20px 20px
  flex-wrap: wrap
  margin-top: 50px
  @media screen and (min-width: 575px)
    gap: 20px 48px
  @media screen and (min-width: 768px)
    gap: 20px 64px
  @media screen and (min-width: 1200px)
    gap: 20px 96px
  .item
    p
      color: #FFFFFF
      text-align: center
      font-size: 18px
    img
      width: 150px
      @media screen and (min-width: 640px)
        width: 180px
      @media screen and (min-width: 768px)
        width: 214px
    .btnClaim
      text-align: center
.contentPrize
  background: rgba(45, 52, 70, 0.5)
  backdrop-filter: blur(40px)
.chestPrize
  img
    width: 150px !important
    @media screen and (min-width: 640px)
      width: 180px !important
    @media screen and (min-width: 768px)
      width: 214px !important
  .prizeAmount
    padding-bottom: 12px
    .prizeAmountQty
      font-family: 'Revx Neue Demo'
      font-weight: 600
      font-size: 10px
      line-height: 13px
      letter-spacing: 0.04em
      background: rgba(69, 80, 107, 0.5)
      padding: 8px 10px
      color: #FFFFFF
      backdrop-filter: blur(40px)
      border-radius: 72px
      @media screen and (min-width: 768px)
        font-size: 12px
        padding: 8px 15px
  .prizeTitle
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 22px
  .prizeAmount
    display: flex
    //gap: 0 24px
    align-items: center
    background: rgba(45, 52, 70, 0.5)
    backdrop-filter: blur(40px)
    width: 100%
    justify-content: space-around

.emptyItem
  display: block
  text-align: center
  color: #FFFFFF
  font-size: 24px

.iconCopy
  width: 22px !important
  height: 22px
  cursor: pointer
  margin-left: 8px
.cross
  width: 100%
  height: 1px
  border: 1px solid #38505F
  transform: matrix(1, 0, 0, -1, 0, 0)
.connectWallet
  display: flex
  justify-content: center
  align-items: center
  width: 100%
  margin-top: 50px

.backdrop
  position: fixed
  top: 0
  left: 0
  display: flex
  -webkit-box-align: center
  align-items: center
  -webkit-box-pack: center
  justify-content: center
  inset: 0px
  background-color: rgba(0, 0, 0, 0.6)
  -webkit-tap-highlight-color: transparent
  color: rgb(255, 255, 255)
  z-index: 1201


.nftPreview
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  padding: 0 16px
  .nftPreviewImage
    width: 400px
    margin-bottom: 16px
    animation: animation_open_box 2s ease-in-out
.nftInventory
  display: flex
  justify-content: center
  gap: 30px 30px
  flex-wrap: wrap
  margin-top: 50px
  @media screen and (min-width: 575px)
    gap: 30px 48px
  @media screen and (min-width: 768px)
    gap: 30px 64px
  @media screen and (min-width: 1200px)
    gap: 30px 96px
  .item
    p
      color: #FFFFFF
      text-align: center
      font-size: 18px
    img
      width: 150px
      @media screen and (min-width: 640px)
        width: 180px
      @media screen and (min-width: 768px)
        width: 214px
    .btnClaim
      text-align: center

@keyframes animation_open_box
  0%
    width: 0
  100%
    width: 400px
