.wrapper
  margin-bottom: 32px
  margin-top: 15px
  @media screen and (min-width: 1200px)
    margin-bottom: 64px
  h2
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-weight: 600
    font-size: 20px
    line-height: 22px
    color: #00F9FF
    margin-bottom: 16px
  .listPiecesInventory
    margin-top: 50px
    display: flex
    gap: 0 20px
    //grid-template-columns: 100px 100px 100px 100px 100px
    //grid-template-rows: 50px 50px
    flex-wrap: wrap
    .item
      display: flex
      flex-direction: column
      align-items: center
      img
        width: 220px