.mdl
  :global(.ant-modal-content)
    max-width: 372px
    margin: 0 auto
  :global(.anticon )
    color: #CD28E8

.content_search
  :global(.ant-btn-primary)
    background: transparent
    display: flex
    align-items: center
    margin: 0 auto
  :global(.ant-btn-primary:hover)
    background: transparent
  :global(.ant-input-search-button)
    border: none
    color: white !important
