.score 
    border: 1px solid white
    padding: 10px
.inputScore
    color: white
    text-align: center
    background:  none
    width: 50px
    padding: 5px
    border: 1px solid white
    border-radius: 4px