.wrapper_banner
  background-image: url("/assets/Banner/bg_banner.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: bottom center
  position: relative
  .container
    padding-top: 70px
    @media ( max-width: 1024px )
      padding-top: 100px

    .marquee
      display: flex
      align-items: center
      color: #FFF
      line-height: 24px
      font-weight: 400
      position: relative
      @media (min-width: 0px)
        font-size: 14px
        padding-bottom: 380px
        padding-top: 24px
        flex-direction: column
        align-items: flex-start
        justify-content: center
      @media (min-width: 540px)
        font-size: 16px
      @media (min-width: 640px)
        padding-top: 40px
        flex-direction: row
        align-items: center
        padding-bottom: 290px
        font-size: 18px
      img
        position: absolute
        left: 8px
        @media (min-width: 0px)
          max-width: 28px
          top: 5%
          margin-top: 4px
        @media (min-width: 640px)
          max-width: 50px
          margin-top: 0
          top: 9%
      .time
        position: relative
        font-weight: 600
        font-size: 14px
        line-height: 150%
        color: #3BE2CD
        background: linear-gradient(111.29deg, rgba(255, 255, 255, 0.13) -1.83%, rgba(255, 255, 255, 0) 109.95%)
        @media (min-width: 0px)
          min-width: 190px
          padding-left: 46px
          min-height: 30px
          display: flex
          align-items: center
        @media (min-width: 640px)
          padding-left: 70px
          min-height: 40px
          min-width: 210px

        .line
          position: absolute
          top: 0
          left: 0
          background: linear-gradient(99.92deg, #CD28E8 0%, #0BEBD6 100%)
          box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05)
          width: 5px
          height: 100%
          @media (max-width: 640px)
            width: 2px
      .marquee_title
        margin: 0 12px
        max-width: 1420px
        background: none
        @media (min-width: 0px)
          font-size: 14px
        @media (min-width: 540px)
          font-size: 16px
        @media (min-width: 640px)
          font-size: 18px
        :global(.overlay::before)
          // background: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0))
          background: none
        :global(.overlay::after)
          background: none

        :global(.marquee)
          padding: 0px 100px

