.container
  position: relative
  display: flex
  align-items: center
  @media (max-width: 991px)
    flex-direction: column
    align-items: flex-start
  @media (max-width: 768px)
    margin-top: 30px
  .key
    width: 110px
    @media (max-width: 540px)
      width: 80px
  .item
    color: #FFF
    font-weight: 400
    font-size: 16px
    line-height: 115%
    display: flex
    align-items: center
    margin-bottom: 16px
    .ic
      display: flex
      align-items: center
      @media (max-width: 540px)
        flex-direction: column
        align-items: flex-start
        margin-right: 8px
        max-width: 42px
  .item > div
    @media (min-width: 992px)
      padding-right: 0px
    @media (min-width: 1280px)
      padding-right: 20px
    img
      padding-right: 12px
      @media (max-width: 413px)
        padding-right: 0px
  :global(.ant-select),
  .m
    margin-right: 16px
    margin-bottom: 16px
    @media (max-width: 414px)
      margin-right: 10px

  :global(.ant-select-single .ant-select-selector .ant-select-selection-item)
    display: flex
    align-items: center
    @media (min-width: 0px)
      font-size: 10px
      padding: 0

  :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector)
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05)
    color: #FFF
    border-radius: 8px
    border: none
    position: relative
  :global(.ant-select-arrow)
    color: #FFF

  :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector::before)
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 8px
    padding: 1px
    background: linear-gradient(341.59deg, rgba(11, 235, 214, 0.5) -37.08%, rgba(255, 0, 214, 0.5) 96.75%), rgba(241, 241, 241, 0.1)
    -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
    -webkit-mask-composite: xor
    mask-composite: exclude
