.container
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  margin-bottom: 16px
  @media screen and (min-width: 575px)
    margin-bottom: 24px
  gap: 16px 0
  :global(.ant-select-item-option-content)
    color: #FFFFFF
    font-family: 'Revx Neue Demo'
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 18px
  :global(.ant-select-item)
      color: #FFFFFF
  :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector)
    border-radius: 4px
  .leftGroupItem
    display: flex
    flex-wrap: wrap
    gap: 0 8px
    color: #FFFFFF
    @media screen and (max-width: 375px)
      margin-top: 16px
      justify-content: space-between

    .time
      width: 75px
      margin-right: auto
    .leftTypeItem
      @media screen and (min-width: 376px)
        display: none
      .leftType
        width: 121px
        @media screen and (min-width: 375px)
          width: 130px
  .rightGroupItem
    display: flex
    width: 100% 
    flex-wrap: wrap
    @media screen and (min-width: 360px)
      gap: 8px 8px
    @media screen and (min-width: 768px)
      gap: 12px 12px
    :global(.ant-select-selection-placeholder)
      font-family: 'Revx Neue Demo'
      font-style: normal
      font-weight: 400
      font-size: 14px
      line-height: 18px
      color: #FFFFFF
      @media screen and (min-width: 575px)
        font-size: 16px
    :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector)
      background: rgba(69, 80, 107, 0.4)
      border: none
      //backdrop-filter: blur(40px)
    :global(.ant-select-single:not(.ant-select-customize-input) .ant-select-selector)
      padding: 7px 10px
      height: 32px
      @media screen and (min-width: 575px)
        padding: 11px 10px
        height: 40px
    :global(.ant-select-selection-item)
      color: #ffffff
      line-height: 18px
    :global(.ant-select:not(.ant-select-disabled):hover .ant-select-selector)
      border-color: rgba(69, 80, 107, 0.4)
      box-shadow: 0 0 0 0
      border: none
    :global(.ant-select-arrow)
      color: #00FFEC
      font-size: 12px
    :global(.ant-select-dropdown)
      background: rgba(69, 80, 107, 0.4)
      padding: 0
      backdrop-filter: blur(10px)
    .prizepool
      order: 0
      cursor: pointer
      @media screen and (min-width: 360px)
        width: 129px
      @media screen and (min-width: 575px)
        width: 122px
      @media screen and (min-width: 1200px)
        width: 143px
    .time
      width: 75px
      order: 0
      cursor: pointer
      @media screen and (min-width: 1200px)
        margin-right: auto
        width: 94px
    .game_uid
      order: 3
      div
        width: 108px
        @media screen and (min-width: 375px)
          width: 122px
        @media screen and (min-width: 1200px)
          width: 140px
        @media screen and (min-width: 1400px)
          width: 170px
    .item_bracket
      order: 3
      div
        width: 130px
        @media screen and (min-width: 1200px)
          width: 157px
    .rightTeamSize
      order: 3
      div
        width: 75px
        @media screen and (min-width: 1200px)
          width: 81px
    .selectType
      order: 3
      :global(.ant-select:not(.ant-select-customize-input) .ant-select-selector)
        background: linear-gradient(93.02deg, rgba(24, 137, 228, 0.4) 0.52%, rgba(11, 235, 214, 0.4) 100.48%)
      div
        width: 107px
        @media screen and (min-width: 375px)
          width: 122px
        @media screen and (min-width: 1400px)
          width: 143px
    .container_search
      width: 360px
      order: -1
      @media screen and (min-width: 575px) and (max-width: 991px)
        order: 2
        width: calc(100% - 221px)
      @media screen and (min-width: 992px)
        width: 242px
        order: 4
      @media screen and (min-width: 1200px)
        width: 330px
      @media screen and (min-width: 1320px)
        width: 332px
      :global(.ant-input-group-addon)
        background: rgba(255, 255, 255, 0.1)
      :global(.ant-input)
        background: rgba(255, 255, 255, 0.1)
        border-radius: 4px
        backdrop-filter: blur(40px)
        font-family: 'Revx Neue Demo'
        font-style: normal
        font-weight: 400
        font-size: 16px
        line-height: 18px
        height: 40px
      :global(.ant-btn)
        border: none
      :global(.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary))
        color: #FFFFFF
      :global(.ant-select-item-option-selected:not(.ant-select-item-option-disabled))
        background-color: var(--ant-primary-1)
      :global(.ant-select-item-option-active:not(.ant-select-item-option-disabled))
        background-color: #f5f5f5