.container_card_tournament
  background-image: url("/assets/Banner/bg_card_tournament.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: top left
  min-height: 100vh
  margin-top: -230px
  @media (max-width: 639px)
    margin-top: -344px
  .top_tab
    justify-content: space-between
    @media ( min-width: 1024px )
      flex-wrap: nowrap
  .tabs
    display: flex
    align-items: center
    color: #FFF
    min-height: 50px
    padding-bottom: 40px
    cursor: pointer
    .tab_item
      font-weight: 300
      transition: 0.1s
      padding: 8px 20px
      transition: 0.2s
      box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05)
      border-radius: 4px
      @media ( min-width: 0px )
        margin-right: 8px
        font-size: 14px
      @media ( min-width: 414px )
        margin-right: 20px
        font-size: 16px
      @media ( min-width: 1440px )
        margin-right: 40px
        font-size: 20px
    .active
      font-weight: 700
      background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
      backdrop-filter: blur(12px)
      position: relative
      .ic_tab
        position: absolute
        top: 0
        right: 0
        line-height: 0
    .active::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      border-radius: 4px
      padding: 1px
      background: linear-gradient(341.59deg, rgba(11, 235, 214, 0.5) -37.08%, rgba(255, 0, 214, 0.5) 96.75%), rgba(241, 241, 241, 0.1)
      -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
      -webkit-mask-composite: xor
      mask-composite: exclude
  .container_create
    margin-top: 190px
    box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05)
    padding: 30px 0px 30px 0px
    position: relative
    .im_create_tournament
      position: absolute
      top: -20%
      left: 170px
      backdrop-filter: blur(100px)
      z-index: 1
      @media (min-width: 0)
        top: -2%
        left: 20px
        right: 20px
        z-index: 12
      @media (min-width: 414px)
        left: 40px
        right: 40px
      @media (min-width: 540px)
        left: 80px
        right: 80px
      @media (min-width: 640px)
        left: 120px
        right: 120px
      @media (min-width: 768px)
        left: 80px
        right: 300px
      @media (min-width: 992px)
        left: 80px
        right: 500px
      @media (min-width: 1280px)
        top: -24%
        left: 120px
        right: 0px
        max-width: 488px
    .line
      position: absolute
      top: 40px
      left: -40px
      background: linear-gradient(111.41deg, rgba(255, 255, 255, 0.48) 0%, rgba(255, 255, 255, 0.12) 100%)
      backdrop-filter: blur(100px)
      width: 84px
      height: 84px
      border-radius: 100%
      z-index: 6
    .line::before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      border-radius: 100%
      z-index: 10
      padding: 1px
      background: linear-gradient(341.59deg, rgba(11, 235, 214, 0.5) -37.08%, rgba(255, 0, 214, 0.5) 96.75%), rgba(241, 241, 241, 0.1)
      -webkit-mask: linear-gradient(#fff 0 0) content-box,linear-gradient(#fff 0 0)
      -webkit-mask-composite: xor
      mask-composite: exclude
    .lin1
      position: absolute
      top: 0
      left: -80px
      background: linear-gradient(226.29deg, #3BE2CD -0.17%, #33AFD4 93.89%)
      filter: blur(70px)
      width: 250px
      height: 250px
      border-radius: 100%
      z-index: 5
    .creat_tournament
      border: 1px solid #3BE2CD
      border-radius: 10px
      backdrop-filter: blur(12px)
      justify-content: space-between
      align-items: center
      padding: 30px
      @media ( min-width: 0px )
        flex-direction: column
        padding: 30px 12px
      @media ( min-width: 1280px )
        flex-direction: row
        padding: 30px
      .heading
        color: #FFF
        text-align: right
        @media ( min-width: 0px )
          text-align: left
          margin-top: 140px
        @media ( min-width: 1280px )
          width: 45%
          margin-top: 0px
          text-align: right
          padding-left: 30px
        h2
          color: #FFF
          font-size: 32px
          line-height: 36px
          font-weight: 700
          @media ( min-width: 0px )
            font-size: 24px
            line-height: 28px
          @media ( min-width: 1280px )
            font-size: 32px
            line-height: 36px
        p
          font-weight: 300
          font-size: 20px
          line-height: 150%
          @media ( min-width: 0px )
            font-size: 16px
          @media ( min-width: 1280px )
            font-size: 20px
        :global(.ant-btn-primary)
          padding: 12px 40px
          height: auto
          border-radius: 10px
          font-weight: 600
          font-size: 20px
          line-height: 115%
          @media ( min-width: 0px )
            width: 100%
            font-size: 14px
          @media ( min-width: 1280px )
            font-size: 20px
          @media ( min-width: 1280px )
            width: auto
            font-size: 20px
        .btn_create_now
          moz-transition: all .3s ease-in-out
          -o-transition: all .3s ease-in-out
          -webkit-transition: all .3s ease-in-out
          transition: all .3s ease-in-out
          background-size: 140% 50%
        .btn_create_now:hover
          background-position: 60% 0% 
          moz-transition: all .3s ease-in-out
          -o-transition: all .3s ease-in-out
          -webkit-transition: all .3s ease-in-out
          transition: all .3s ease-in-out
.container_search
  @media (max-width: 640px)
    width: 100%
  .search
    :global(.ant-input-group .ant-input:hover),
    :global(.ant-input-group .ant-input:focus)
      border-color: transparent
      box-shadow: none
    :global(.ant-btn-primary)
      background: transparent
      display: flex
      align-items: center
      margin: 0 auto
    :global(.ant-btn-primary:hover)
      background: transparent
    :global(.ant-input-search-button)
      border: none
      color: white !important
    :global(.ant-btn)
      border: none
      color: white !important
      outline: none
      &:active
        border: none
        outline: none
        background: none !important
      &:focus
        border: none
        outline: none
        background: none !important
      &:hover
        border: none
        outline: none
        color: none !important
        background: none !important
