.container
  :global(.ant-input)
    border-radius: 8px
    padding: 8px
    backdrop-filter: blur(0px)

.bracketType
  display: flex
  flex-direction: column
  text-color: white

.textColor
  color: white

.radioFee
  display: flex
  p
    min-width: 100px

.item
  position: relative

.itemCheckbox
  position: absolute
  top: 2px
  right: 5px

.avatar
  width: 60px
  height: 60px
  border-radius: 30px
  overflow: hidden
  margin-bottom: 5px
  @media (max-width: 1024px)
    width: 46px
    height: 46px

.avBig
  width: 90px
  height: 90px
  img
    width: 100%
    border-radius: 50%

.searchText
  margin-bottom: 10px

  :global(.ant-input-group-addon)
    position: relative
    overflow: hidden
    :global(.ant-input-search-button)
      display: block
      width: 100%
      height: 100%
      position: absolute
      top: 0

.container
  margin-top: 10px
  color: white
  :global(.ant-checkbox-group)
    display: grid
    color: white

.message_error
  font-size: 14px
  margin-top: 4px
  color: #cb3636
  text-align: center

.button_add
  display: flex
  align-items: center
  justify-content: center
  background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
  padding: 4px 16px
  border-radius: 4px
  margin: 8px 0
  font-size: 14px
  width: 100%
  span
    color: #FFF
  img
    padding-right: 4px
