.myTournament
  margin-bottom: 20px
  :global(*)
    color: #ffffff
  h2
    margin: 20px 0px
    color: #FFF
    @media ( min-width: 0px)
      font-size: 24px
    @media ( min-width: 768px)
      font-size: 32px
    svg
      display: inline-block
      width: 26px
      margin-right: 10px
    span
      display: inline-block
.tournamentList
  margin-bottom: 20px