.mdl
  :global(.ant-modal-content)
    margin: 0 auto
  :global(.anticon )
    color: #CD28E8
.mdlPopConfirm
  :global(.ant-popover-placement-top, .ant-popover-placement-topLeft, .ant-popover-placement-topRight)
    padding-bottom: 0 !important
.wrapper
  .chestPrize
    img
      width: 164px
      @media screen and (min-width: 768px)
        width: 200px
  .desc
    margin-top: 20px
    p
      font-family: 'Lexend', serif
      font-size: 14px
      font-weight: 400
      margin-bottom: 0
      @media screen and (min-width: 575px)
        font-size: 16px
      @media screen and (min-width: 768px)
        font-size: 18px
  .form
    margin-top: 20px

.descPopConfirm
  p
    font-family: 'Lexend', serif
    font-size: 10px
    font-weight: 300
    margin-bottom: 0
    @media screen and (min-width: 575px)
      font-size: 12px
    @media screen and (min-width: 768px)
      font-size: 14px