.container
  h1
    color: #FFF
    font-size: 24px
    font-weight: 600
  .container_table
    margin-top: 16px
    :global(.ant-table)
      color: #FFF
      background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
      backdrop-filter: blur(4px)
      padding: 0px 
    :global(.ant-table-thead > tr > th)
      color:#FFF
      font-size: 18px
      font-weight: 600
      background: transparent
    :global(.ant-table-tbody > tr:hover > td)
      background: rgba(255, 255, 255, 0.2)
    :global(.ant-pagination)
      display: none
    :global(.ant-table table)
      text-align: center
    :global(.ant-table-thead > tr > th)
      text-align: center