.dailyContainer
  *
    color: #ffffff
  :global(.ant-btn)
    &[disabled]
      font-weight: 700
      background: #6a6a6a
      span
        color: #d7d7d7
  .gameInfo
    display: flex
    align-items: center
    margin-bottom: 30px
    :global(.ant-image)
      width: 80px
      margin-right: 20px
    h3
      margin: 0
      font-size: 26px
  .missionsWrap
    .missionsWrapHeader
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      h2
        font-size: 30px
        margin: 0
      button
        margin-left: 20px
    .missionsList
      .missionItem
        display: flex
        border: 1px solid rgb(255 255 255 / 57%)
        padding: 15px
        margin-bottom: 20px
        .missionLogo
          width: 80px
          height: 80px
          background: #ffffff
          :global(.ant-image)
            width: 100%
            height: 100%
            object-fit: contain
            object-position: center
        .missionInfo
          flex: 1
          padding: 0 15px
          h4
            font-size: 20px
            font-weight: 700
        .missionProgress
          display: flex
          align-items: center
          :global(.ant-progress)
            margin: 0 15px
            :global(.ant-progress-outer)
              padding-right: 0
  .recentMatchesWrap
    h2
      font-size: 30px
    .recentMatchesList
      .recentMatchesItem
        display: flex
        justify-content: space-between
        align-items: center
        border: 1px solid rgb(255 255 255 / 57%)
        padding: 15px
        margin-bottom: 15px
        .recentMatchesLogo
          img
            width: 30px
            aspect-ratio: 1 / 1
            object-fit: contain
            object-position: center
