.homeWrap
  :global(.ant-tabs-tab)
    color: #ffffff
  :global(.ant-tabs-tab-disabled)
    color: #898989
  .p2eWrap
    padding-top: 70px
    @media screen and (min-width: 1024px)
      padding-top: 0