.backgroundDefault
  position: relative
  backface-visibility: hidden
  &::before
    content: ''
    position: fixed
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-repeat: no-repeat
    background-position: center
    will-change: transform
    background: linear-gradient(0deg, rgba(23, 29, 46, 0.8), rgba(23, 29, 46, 0.8))
    z-index: -1
.backgroundCSGO
  position: relative
  backface-visibility: hidden
  &::before
    content: ''
    position: fixed
    z-index: -1
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-size: 99.9%
    background-repeat: no-repeat
    background-position: center
    will-change: transform
    background-image: linear-gradient(0deg, rgba(23, 29, 46, 0.92), rgba(23, 29, 46, 0.92)), url("/assets/P2E/csgo/background.jpg")
    @media screen and ( max-width: 992px )
      background-size: cover
.backgroundLOL
  position: relative
  backface-visibility: hidden
  &::before
    content: ''
    position: fixed
    z-index: -1
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    will-change: transform // creates a new paint layer
    background-image: linear-gradient(0deg, rgba(23, 29, 46, 0.92), rgba(23, 29, 46, 0.92)), url("/assets/P2E/lol/background.jpg")
    @media screen and ( max-width: 992px )
      background-size: cover
.homeWrap
  font-family: 'Lexend'
  overflow-x: hidden
  button
    font-family: 'Revx Neue Demo'
    font-weight: 600
    font-size: 12px
  :global(.lucis-container-2)
    @media screen and (min-width: 1600px)
      width: 1400px
  .tabsWrap
    height: 60px
    background: rgba(255, 255, 255, 0.1)
    // position: sticky
    backdrop-filter: blur(40px)
    position: relative
    z-index: 1
    top: 0
    @media screen and ( max-width: 1024px )
      position: fixed
      width: 100%
      top: 70px
      z-index: 24
    @media screen and ( max-width: 550px )
      height: 39px
  .tabs
    font-family: 'Revx Neue Demo'
    height: inherit
    display: flex
    color: #fff
    justify-content: flex-start
    align-items: center
    font-size: 16px
    line-height: 18px
    overflow-x: auto
    position: relative

    .tabItem
      padding: 12px 24px
      height: 60px
      display: flex
      align-items: center
      cursor: pointer
      white-space: nowrap
      @media screen and ( max-width: 550px )
        font-size: 14px
        line-height: 15px
        padding: 12px 16px
        height: 39px
    .tabItem:hover
      background: rgba(18, 176, 180, 0.2)
      color: #00FFEC
    .tabActive
      background: rgba(18, 176, 180, 0.2)
      color: #00FFEC
      cursor: pointer
      font-weight: 600
    .tabDisabled
      cursor: default
      opacity: 0.6
  .chooseGame
    display: flex
    align-items: center
    justify-content: flex-end
    .csgoGame
      cursor: pointer
      border-radius: 4.5px
      margin: 0px 32px
      filter: grayscale(1)
      @media screen and ( max-width: 550px )
        margin: 0px 12px
        width: 28px
        height: 28px
    .lolGame
      cursor: pointer
      border-radius: 4.5px
      filter: grayscale(1)
      @media screen and ( max-width: 550px )
        width: 28px
        height: 28px
    .addGame
      cursor: pointer
    .gameActive
      filter: drop-shadow(0px 0px 14px #12B0B4) !important
      cursor: pointer !important
  .p2eContent
    @media screen and ( max-width: 1024px )
      margin-top: 130px
  :global(ant-tabs-tab-active)
    background: #12B0B41A
  :global(.ant-tabs-nav::before)
    border-bottom: 0
  :global(.ant-tabs-tab)
    color: #ffffff
  :global(.ant-tabs-tab-disabled)
    color: #898989
  // .p2eWrap
  //   padding-top: 70px
  //   @media screen and (min-width: 1024px)
  //     padding-top: 100px

// popup


