$colorPrizeCommon: #EBEBEB
$colorPrizeUncommon: #19B800
$colorPrizeRare: #00C0CC
$colorPrizeEpic: #F00B0B
$colorPrizeLegendary: #F0B90B
$colorPrizeMythic: #CC00FF

$bgPrizeCommon: linear-gradient(360deg, rgba(184, 184, 184, 0.5) 0%, rgba(108, 108, 108, 0.1) 50%)
$bgPrizeUncommon: linear-gradient(360deg, rgba(30, 188, 64, 0.5) 0%, rgba(62, 167, 26, 0.1) 50%)
$bgPrizeRare: linear-gradient(360deg, rgba(30, 183, 183, 0.5) 0%, rgba(16, 173, 164, 0.1) 50%)
$bgPrizeEpic: linear-gradient(360deg, rgba(255, 62, 62, 0.56) 0%, rgba(255, 0, 0, 0.16) 50%)
$bgPrizeLegendary: linear-gradient(360deg, rgba(240, 185, 11, 0.5) 0%, rgba(215, 196, 23, 0.1) 50%)
$bgPrizeMythic: linear-gradient(360deg, rgba(128, 0, 255, 0.5) 0%, rgba(250, 0, 255, 0.1) 50%)