.wrapper_banner
  .im_cover
    aspect-ratio: 925 / 476
    background-size: 100%
    // min-height: 250px
    //@media screen and (max-width: 574px)
    //  aspect-ratio: 2 / 1
      
  .container
    padding-top: 70px
    @media ( max-width: 1024px )
      padding-top: 100px
