.wrapper
    .block_reward_box
        width: 1752px
        display: flex
        align-items: center
        justify-content: flex-start
        overflow: auto
        .item
            min-width: 130px
            max-width: 130px
            background: rgba(69, 82, 107, 0.5)
            backdrop-filter: blur(24.2991px)
            margin: 0px 6px 0px 0px
        .title
            font-weight: 400
            font-size: 12px
            line-height: 13px
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            height: 100%
            background: rgba(45, 52, 70)
            padding: 6px 0px
            border-top: 3px solid #618FC5
            p
                margin: 0