.titleTopSponsors
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  @media screen and (max-width: 575px)
    padding: 0 16px
  .imgTitle
    img
      width: 100%
      aspect-ratio: 868/134
      @media screen and (min-width: 768px)
        width: 614px
      @media screen and (min-width: 992px)
        width: 868px
  .textTitle
    h2
      font-family: 'Revx Neue Demo'
      font-style: normal
      font-weight: 400
      font-size: 24px
      line-height: 26px
      letter-spacing: 0.2em
      color: #FFFFFF
      margin-bottom: 32px
      @media screen and (min-width: 575px)
        font-size: 32px
        line-height: 36px
      @media screen and (min-width: 768px)
        font-size: 42px
        line-height: 48px
        margin-bottom: 48px
      @media screen and (min-width: 992px)
        font-size: 48px
        line-height: 53px
.wrapper
  background: rgba(0, 6, 37, 0.5)
  backdrop-filter: blur(4px)
  padding: 20px 0
  @media screen and (min-width: 768px)
    padding: 40px 0
.container
  display: flex
  justify-content: center
  flex-direction: row
  align-items: center
  flex-wrap: wrap
  gap: 8px 7.5px
  @media screen and (min-width: 768px)
    gap: 16px 16px
  .item
    width: 120px
    height: 40px
    @media screen and (min-width: 768px)
      width: 160px
      height: 52px
    @media screen and (min-width: 992px)
      width: 220px
      height: 80px
    @media screen and (min-width: 1200px)
      width: 302px
      height: 100px
    img
      //max-width: 40%
      height: auto
      &:hover
        transform: scale(1.1)
        transition: transform 0.3s ease 0s
      @media screen and (min-width: 1200px)
        max-width: 100%

  .itemLg
    width: 120px
    height: 40px
    background: rgba(45, 52, 70, 0.5)
    border-radius: 8px
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    @media screen and (min-width: 768px)
      width: 160px
      height: 52px
    @media screen and (min-width: 992px)
      width: 220px
      height: 80px
    @media screen and (min-width: 1200px)
      width: 302px
      height: 100px
    img
      width: 70%
      height: auto
      &:hover
        transform: scale(1.1)
        transition: transform 0.3s ease 0s
      @media screen and (min-width: 992px)
        width: 80%
      @media screen and (min-width: 1200px)
        width: 85%

.lgAiza
  img
    width: 30% !important
    @media screen and (min-width: 992px)
      width: 30% !important
.lgBizverse
  img
    width: 60% !important
    @media screen and (min-width: 992px)
      width: 70% !important
.lgAnimverse
  img
    width: 40% !important
.lgCoinbay
  img
    width: 85% !important
.lgGalaxy
  img
    margin-bottom: 6px
    width: 55% !important
    @media screen and (min-width: 992px)
      width: 58% !important
.lgFltrend
  img
    width: 85% !important
    @media screen and (min-width: 992px)
      width: 85% !important
.lgMifu
  img
    margin-bottom: 5px
    margin-right: 5px
    width: 50% !important
.lgMetawork
  img
    width: 65% !important
    @media screen and (min-width: 992px)
      width: 75% !important
.lgSpac3ship
  img
    width: 34% !important
