.wrapper_banner
  padding: 50px 0 30px
  @media screen and (min-width: 1024px)
    padding: 0 0 50px
  .im_cover
    border-radius: 0px !important
    aspect-ratio: 4 / 1
  .container
    padding-top: 70px
    @media ( max-width: 1024px )
      padding-top: 100px
