.wrapper_banner
  padding: 70px 0 30px
  .im_cover
    border-radius: 16px
    min-height: 200px
    @media screen and (min-width: 768px)
      min-height: 400px
  .container
    padding-top: 70px
    @media ( max-width: 1024px )
      padding-top: 100px
