.wraper
  position: relative
  width: 130px
  display: flex
  align-items: center
  justify-content: center
  .bt_btn
    position: absolute
    z-index: -1
  span
    margin-bottom: 6px
    font-weight: 400
    font-size: 20px
    line-height: 30px
    text-transform: capitalize
    color: #00F9FF
