.wrapper
  position: relative
  width: 130px
  display: flex
  align-items: center
  justify-content: center
  @media (min-width: 1024px)
    cursor: pointer
  &:global(.disabled)
    cursor: no-drop
    pointer-events: none
  .bt_btn
    position: absolute
    z-index: -1
    .btnImgSm
      display: none
      @media (max-width: 574px)
        width: 100px
        display: block
    .btnImg
      display: none
      @media (min-width: 575px)
        display: block
  span
    font-weight: 400
    line-height: 30px
    text-transform: capitalize
    color: #00F9FF
    font-size: 10px
    user-select: none
    font-size: 14px
    @media (min-width: 1024px)
      font-size: 16px
    @media (min-width: 1024px)
      font-size: 20px
      margin-bottom: 6px
