.mdl
  :global(.ant-modal-content)
    margin: 0 auto
  :global(.anticon )
    color: #CD28E8
  .button
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
    padding: 4px 16px
    border-radius: 4px
    margin-bottom: 8px
    color: #FFF
    width: 100%
    span
      color: #FFF
    img
      padding-right: 4px
  .button_select
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
    padding: 4px 16px
    border-radius: 4px
    margin-top: auto
    margin-bottom: 8px
    color: #FFF
    width: 100%
    span
      color: #FFF
    img
      padding-right: 4px