.mdl
  :global(.ant-modal-content)
    margin: 0 auto
  :global(.anticon )
    color: #CD28E8
  .button
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
    padding: 4px 8px
    border-radius: 4px
    margin-bottom: 8px
    color: #FFF
    width: 100%
    &:disabled
      background: gray
      opacity: 0.7
    span
      color: #FFF
    img
      padding-right: 4px
    @media (min-width: 575px) and (max-width: 767px)
      width: 49%
  :global(.ant-btn)
    height: auto
  .button_select
    display: flex
    align-items: center
    justify-content: center
    background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
    padding: 4px 16px
    border-radius: 4px
    margin-top: auto
    margin-bottom: 8px
    color: #FFF
    width: 100%
    &:disabled
      background: gray
      opacity: 0.7
    span
      color: #FFF
    img
      padding-right: 4px

  .table
    table
      border-radius: 8px !important
      overflow: hidden
      border-color: rgb(255 255 255 / 50%) !important
      min-width: 767px
      thead
        tr
          th
            border-color: rgb(255 255 255 / 50%) !important
            &:last-child
              border-top-right-radius: 8px !important
              overflow: hidden
      tbody
        tr:last-child
          td:last-child
            border-bottom-right-radius: 8px !important
            overflow: hidden
    :global(.ant-table-container)
      border-color: rgb(255 255 255 / 50%) !important
      border-radius: 8px !important
      overflow: scroll
    :global(.ant-table-cell)
      background: #3f3279 !important
      color: white !important
      font-weight: 600 !important
      border-color: rgb(255 255 255 / 50%) !important
    :global(.ant-table-bordered)
      background-color: #9854fe33
      color: white
      border-color: rgb(255 255 255 / 50%) !important
    :global(.editable-row)
      &:hover > td
        background: none
  .prize_input
    :global(.ant-input-number-group-addon)
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
      border: none
      border-radius: 0 8px 8px 0
      color: white
    :global(.ant-input-number)
      background: linear-gradient( 152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100% ) !important
      -webkit-backdrop-filter: blur(42px)
      backdrop-filter: blur(42px)
      transition: 0.3s
      border: 1px solid #d9d9d933
      border-radius: 8px 0 0 8px !important
      color: #fff
      padding: 4px 0px
      overflow: hidden
  .password_input
    padding: 4px 12px
    height: 40px
    border-radius: 8px
    background: #3f3279 !important
    border-color: rgb(255 255 255 / 50%) !important
    :global(.ant-input)
      background: none !important
    :global(.anticon)
      color: white
  .checkbox
    :global(.ant-checkbox-wrapper)
      &:first-child
        display: none
    :global(.ant-checkbox-group-item)
      display: block
      display: flex
      font-size: 20px
      color: white
    :global(.ant-checkbox-inner)
      width: 20px
      height: 20px
      &::after
        left: 24%
    :global(.ant-checkbox-disabled + span )
      color: rgb(201 200 200 / 50%)

  .toolTip
    display: flex !important
    background: gray

  .chooseGame
    display: flex
    justify-content: space-between
    vertical-align: top
    flex-direction: column-reverse
    margin-bottom: 10px
    @media (min-width: 768px)
      font-size: 18px
      align-items: flex-start
      flex-direction: row
    @media (min-width: 992px)
      font-size: 20px
    .chooseGameBtn
      display: inline
      @media (min-width: 575px)
        display: flex
        justify-content: inherit
      @media (min-width: 767px)
        display: inline
  .teamListChoosGame
    display: grid
    grid-template-columns: repeat(1, minmax(0, 1fr))
    @media (min-width: 424px)
      grid-template-columns: repeat(2, minmax(0, 1fr))
      gap: 0 5px
    @media (min-width: 767px)
      grid-template-columns: repeat(3, minmax(0, 1fr))
      gap: 0 10px
.prizingJoinTeam
  font-size: 18px
  // :global(.ant-table-wrapper)
  //   @media (max-width: 767px)
  //     width: 1000px
  //     max-width: 1000px
  .titlePrizingJoinTeam
    font-size: 22px
    margin-top: 10px
  @media (max-width: 768px)
    .tablePrizingJoinTeam
      overflow-x: scroll
      padding-bottom: 20px
  @media (min-width: 992px)
    font-size: 20px
    .titlePrizingJoinTeam
      font-size: 24px
  .prizingBtn
    display: flex
    justify-content: center
    margin-top: 10px
    @media (max-width: 426px)
      flex-direction: column-reverse
    .buttonBack
      display: flex
      align-items: center
      justify-content: center
      padding: 4px 16px
      border-radius: 4px
      margin-bottom: 8px
      color: #FFF
      width: 100%
      font-size: 16px
      &:disabled
        background: gray
        opacity: 0.7
      span
        color: #FFF
      img
        padding-right: 4px
      @media (min-width: 767px)
        width: auto !important
        font-size: 18px
    .buttonComplete
      display: flex
      align-items: center
      justify-content: center
      background: linear-gradient(99.92deg, #cd28e8 0%, #0bebd6 100%)
      padding: 4px 8px
      border-radius: 4px
      margin-bottom: 8px
      color: #FFF
      width: 100%
      font-size: 16px
      &:disabled
        background: gray
        opacity: 0.7
      span
        color: #FFF
      img
        padding-right: 4px
      @media (min-width: 767px)
        width: auto !important
        font-size: 18px !important

  // :global(.ant-table-container::-webkit-scrollbar)
  //   width: 0px
  //   height: 4px
  //   border-radius: 16px
  //   display: block
  //   background: rgba(255,255,255,.3)
  // :global(.ant-table-container::-webkit-scrollbar-thumb)
  //   border-radius: 16px
  //   background: linear-gradient(290.92deg,#0bebd6,#cd28e8)
