.top
  transform-style: preserve-3d
  //perspective: 1000px
  margin-top: 60px

.top_players
  display: flex
  align-items: center
  justify-content: center
  position: relative
  top: 10px
  @media screen and (min-width: 575px)
    top: 40px
  @media screen and (min-width: 768px)
    top: 0
    gap: 0 40px

.top_player
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  position: relative
  align-self: flex-end

.player_top1
  top: -40px
  .top_medal
    scale: 0.95
    @media screen and (min-width: 575px)
      scale: 0.85
    @media screen and (min-width: 768px)
      scale: 1
      margin-top: 15px
  @media screen and (min-width: 575px)
    top: -45px
    left: -15px
  @media screen and (min-width: 768px)
    top: -75px
    left: 5px
.player_top2
  order: -1
  .top_medal
    scale: 0.9
    @media screen and (min-width: 575px)
      scale: 0.95
    @media screen and (min-width: 768px)
      scale: 1

.player_top3
  top: 15px
  .top_medal
    scale: 0.8
    @media screen and (min-width: 768px)
      scale: 1
  @media screen and (min-width: 768px)
    top: 0
.player_name
  font-family: 'Lexend'
  color: #fff
  font-weight: 600
  font-size: 14px
  line-height: 110%
  letter-spacing: 0.04
  display: block
  text-align: center
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  width: 110px
  max-width: 110px

  @media screen and (min-width: 768px)
    font-size: 24px
    width: 214px
    max-width: 214px

.top_platform
  width: 100%
  display: block
  margin-top: -45px
  //transform: translateX(-10px) translateZ(-100px) scale(1.1)
  @media screen and (min-width: 768px)
    margin-top: -100px

.top_mission
  color: #FFDE9D
  font-size: 12px
  line-height: 13px
  letter-spacing: 0.04
  font-family: 'Revx Neue Demo'
  margin: 12px 0 6px 0

  @media screen and (min-width: 768px)
    font-size: 16px
    line-height: 18px
    margin-bottom: 4px

.top_mission_top1
  font-size: 14px
  line-height: 15px

  @media screen and (min-width: 768px)
    font-size: 18px
    line-height: 20px

.top_reward
  display: flex
  gap: 10px
  //margin-bottom: 28px

.reward_point
  color: #DF9B16
  font-family: 'Lexend'
  font-weight: 300
  font-size: 8px
  line-height: 125%
  @media screen and (min-width: 575px)
    font-size: 10px
    line-height: 16px
  @media screen and (min-width: 768px)
    font-size: 14px
    line-height: 18px

.reward_token
  color: #12B0B4
  font-family: 'Lexend'
  font-weight: 300
  font-size: 8px
  line-height: 125%
  @media screen and (min-width: 575px)
    font-size: 10px
    line-height: 16px
  @media screen and (min-width: 768px)
    font-size: 14px
    line-height: 18px

.reward_point_icon
  background: linear-gradient(99.92deg, rgba(205, 40, 232, 0.2) 0%, rgba(11, 235, 214, 0.2) 100%)
  box-shadow: 0px 0px 8.1px rgba(11, 235, 214, 0.5)
  backdrop-filter: blur(15px)
  border-radius: 50%
  width: 10px
  @media screen and (min-width: 575px)
    width: 18px

.reward_token_icon
  background: linear-gradient(99.92deg, rgba(205, 40, 232, 0.2) 0%, rgba(11, 235, 214, 0.2) 100%)
  box-shadow: 0px 0px 8.1px rgba(11, 235, 214, 0.5)
  backdrop-filter: blur(15px)
  border-radius: 50%
  width: 10px
  @media screen and (min-width: 575px)
    width: 18px
