.wrapper_player
  background-image: url("/assets/home/bg_player.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: top center
  min-height: 100vh
  position: relative
  z-index: 1
  margin-top: -20px
  h1
    color: #FFF
    padding-top: 170px
    font-weight: 700
    font-size: 48px
    line-height: 115% 
  .block_card
    display: flex
    align-items: center
    justify-content: center
    padding-top: 100px