.wrapper_player
  position: relative
  z-index: 1
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column
  margin-top: 64px
  @media ( min-width: 992px )
    margin-top: 80px
  h1
    text-align: center
    font-family: 'Revx Neue Demo'
    font-weight: 400
    letter-spacing: 0.2em
    text-transform: uppercase
    color: #FFFFFF
    font-size: 24px
    line-height: 26px
    margin-bottom: 24px
    @media ( min-width: 768px )
      font-size: 30px
      line-height: 36px
    @media ( min-width: 992px )
      font-size: 36px
      line-height: 40px
    @media ( min-width: 1200px )
      font-size: 42px
      line-height: 48px
    @media ( min-width: 1400px )
      font-size: 48px
      line-height: 53px

  .block_card
    display: flex
    align-items: center
    justify-content: center

  .btn_see_all
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px
    @media (min-width: 768px)
      margin-left: 30px
      margin-top: -60px
    button
      font-weight: 700
      line-height: 115%
      border-radius: 10px
      height: auto
      @media (min-width: 0px)
        font-size: 16px
        padding: 12px 20px
      @media (min-width: 640px)
        font-size: 20px
        padding: 14px 20px
  .ranking
    min-width: 100%
    margin-top: -40px
    @media screen and (min-width: 768px)
      margin-top: -80px
