.wrapper_player
  background-image: url("/assets/home/bg_player.png")
  background-repeat: no-repeat
  background-size: cover
  background-position: top center
  position: relative
  z-index: 1
  margin-top: -20px
  display: flex
  align-items: center
  justify-content: center
  @media ( min-width: 0 )
    padding: 100px 0px
  @media ( min-width: 540px )
    padding-bottom: 180px
  @media ( min-width: 640px )
    padding-bottom: 200px
  @media ( min-width: 768px )
    padding-bottom: 240px

  h1
    color: #FFF
    font-weight: 700
    font-size: 48px
    line-height: 115% 
    margin-top: -160px
    padding-bottom: 160px
    @media ( min-width: 0 )
      margin: 0
      font-size: 28px 
      padding-bottom: 0px
    @media ( min-width: 414px )
      font-size: 32px 
    @media ( min-width: 540px )
      padding-bottom: 40px
    @media ( min-width: 768px )
      padding-bottom: 160px
    @media ( min-width: 992px )
      padding-bottom: 150px
      font-size: 48px
    @media ( min-width: 1920px )
      padding-bottom: 200px

  .block_card
    display: flex
    align-items: center
    justify-content: center
    @media (min-width: 0px)
      margin-left: 8%
    @media (min-width: 640px)
      margin-left: 4%
    @media (min-width: 992px)
      margin-left: 0

  .btn_see_all
    display: flex
    align-items: center
    justify-content: center
    margin-top: 20px
    @media (min-width: 768px)
      margin-left: 30px
      margin-top: -60px
    button
      font-weight: 700
      line-height: 115%
      border-radius: 10px
      height: auto
      @media (min-width: 0px)
        font-size: 16px
        padding: 12px 20px
      @media (min-width: 640px)
        font-size: 20px
        padding: 14px 20px

