.container
  :global(.ant-input-number-affix-wrapper .ant-input-number-input)
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    backdrop-filter: blur(4px)
    border: 1px solid #d9d9d933
  :global(.editable-cell-value-wrap)
    padding: 5px 12px
    cursor: pointer
.editable-cell
  position: relative



.editable-row:hover
  //padding: 4px 11px
  border: 1px solid #d9d9d9
  //border-radius: 2px
  color: black

  [data-theme='dark'] .editable-row:hover
    border: 1px solid #434343

.container_table
  margin-top: 16px
  :global(.ant-table)
    color: #FFF
    background: none
    //border: 1px solid #FFF
    padding: 0
    border-radius: 8px
  :global(.ant-table table)
    border-radius: 8px
    border: none !important
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    backdrop-filter: blur(4px)
    th
      border: 1px solid rgba(255, 255, 255, 0.2)
      border-left: none !important
      text-align: center
      &:first-of-type
        border-left: 1px solid rgba(255, 255, 255, 0.2) !important
        border-top-left-radius: 8px !important
      &:last-of-type
        border-top-right-radius: 8px !important
    td
      background: none
      text-align: center
      &:first-of-type
        border-left: 1px solid rgba(255, 255, 255, 0.2)
    tbody
      tr
        &:nth-of-type(odd)
          background: linear-gradient(91.09deg, rgba(24, 137, 228, 0.2) 0.33%, rgba(11, 235, 214, 0.2) 99.88%)
        &:last-of-type
          td
            &:first-of-type
              border-bottom-left-radius: 8px !important
            &:last-of-type
              border-bottom-right-radius: 8px !important
  :global(.ant-table-container)
    border: none !important
  :global(.ant-table-thead > tr > th)
    color: #FFF
    font-size: 14px
    font-weight: 600
    background: rgb(15 13 13 / 50%)
  :global(.ant-table-tbody > tr:last-child > td)
    //border: none
  font-size: 16px
  :global(.ant-table-tbody > tr:hover > td)
    background: rgba(255, 255, 255, 0.2)

.message_error
  font-size: 14px
  margin-top: 4px
  color: #cb3636
.initialPoolSizeWrap
  display: flex
  flex-wrap: wrap
  h4
    font-size: 16px
    color: #FFFFFF
    margin-right: 45px
    padding-top: 8px
    width: 100%
    @media screen and (min-width: 768px)
      width: auto
  .inputPoolSizeWrap
    width: 100%
    margin-bottom: 10px
    @media screen and (min-width: 360px)
      margin-bottom: 0
      padding-right: 15px
      width: 50%
    @media screen and (min-width: 768px)
      width: 250px
    @media screen and (min-width: 992px)
      width: 405px
      padding-right: 0
  .poolSizeCurrencyWrap
    width: 100%
    @media screen and (min-width: 360px)
      padding-left: 15px
      width: 50%
      :global(.ant-select-selection-item)
        font-size: 14px
        display: flex
        align-items: center
    @media screen and (min-width: 768px)
      width: 200px
    @media screen and (min-width: 992px)
      width: auto
      min-width: 140px
      padding-left: 20px

.formFieldBg
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(217, 217, 217, 0.04)) !important
  backdrop-filter: blur(40px) !important
  font-size: 18px
  color: #ffffff
  font-weight: 500
  line-height: 1.15
  padding: 12px 15px
  border: none
  width: 100%
  border-radius: 4px
  height: 40px
  &.formFieldNumber
    padding: 5px 10px
    height: 40px
    :global(.ant-input-number)
      background: none !important
      backdrop-filter: blur(0) !important
      border: none
      padding: 0
      height: 100%
    :global(.ant-input-number-input-wrap)
      input
        height: 100%
        font-size: 18px
        border: none
        background: none
  &.formFieldEditable
    height: auto
    padding: 0
    input
      font-size: 14px !important
  &.formFieldSelect
    padding: 0
    :global(.ant-select-selector)
      background: none
      border: none
      padding: 5px 10px
      height: 40px
      :global(.ant-select-selection-item)
        line-height: 1.6
    :global(.ant-select-arrow)
      background: url("/assets/iconCarretDown.svg") no-repeat center
      background-size: contain
      width: 13px
      height: 13px
      transform: translateY(-50%)
      margin-top: 0
      *
        display: none

.btnAddRow
  background: rgba(255, 255, 255, 0.2) !important
  border: none
.btnDeleteRow
  padding: 0
  background: none !important
  height: auto
  line-height: 1
  border: none
  font-size: 24px
  font-weight: 700
  &:disabled
    color: rgb(255 255 255 / 43%)
.paidWrap
  display: flex
  flex-wrap: wrap
  margin-top: 25px
  .fee
    display: flex
    align-items: center
    width: 50%
    @media screen and (min-width: 576px)
      width: auto
    &:first-of-type
      padding-right: 5px
      @media screen and (min-width: 768px)
        padding-right: 0
        margin-right: 15px
    &:last-of-type
      padding-left: 5px
      @media screen and (min-width: 768px)
        padding-left: 0
    label
      color: #ffffff
      margin-right: 15px
    .feeValue
      background: linear-gradient(90.32deg, rgba(255, 255, 255, 0.2) 0%, rgba(217, 217, 217, 0.04) 100%)
      color: rgba(255, 255, 255, 0.5)
      width: 80px
      height: 40px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 4px
  .totalPaid
    margin-top: 10px
    margin-left: auto
    color: #ffffff
    font-size: 20px
    font-weight: 500
    display: flex
    align-items: center
    width: 100%
    @media screen and (min-width: 768px)
      width: auto
.customQuill
  :global(.ql-toolbar)
    background: rgba(86, 84, 84, 0.5)
.tableResponsive
  width: 100%
  overflow-x: auto
  padding-bottom: 3px
  &::-webkit-scrollbar
    height: 5px
    display: block
  &::-webkit-scrollbar-thumb
    background: linear-gradient(to right, rgba(24, 137, 228, 0.8), rgba(11, 235, 214, 0.8))
    border-radius: 5px
