.container
  border: 1px solid white
  padding: 20px 40px
  :global(.ant-input-number-affix-wrapper .ant-input-number-input)
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    backdrop-filter: blur(4px)
    border: 1px solid #d9d9d933

.editable-cell
  position: relative

.editable-cell-value-wrap
  padding: 5px 12px
  cursor: pointer

.editable-row:hover
  //padding: 4px 11px
  border: 1px solid #d9d9d9
  //border-radius: 2px
  color: black

  [data-theme='dark'] .editable-row:hover
    border: 1px solid #434343

.container_table
  margin-top: 16px
  :global(.ant-table)
    color: #FFF
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
    backdrop-filter: blur(4px)
    //border: 1px solid #FFF
    padding: 0px
  :global(.ant-table-thead > tr > th)
    color: #FFF
    font-size: 18px
    font-weight: 600
    background: transparent
  :global(.ant-table-tbody > tr:last-child > td)
    //border: none
  :global(.ant-table-tbody > tr:hover > td)
    background: rgba(255, 255, 255, 0.2)

.message_error
  font-size: 14px
  margin-top: 4px
  color: #cb3636
