.loginModal
  h1, h2, h3, h4, h5, h6
    color: #ffffff
  h2
    font-size: 30px
  h4
    font-size: 24px
  .loginBtn
    width: 100%
    border-radius: 5px
    &.fb
      background: #2c88d9
      border-color: #2c88d9
.signupInfoModal
  :global(.ant-select-selection-search)
    padding-left: 40px
  :global(.ant-form-item-label)
    text-align: left
    label
      color: #ffffff

.btn
  //@apply text-white leading-28px
  @media (min-width: 0px)
    font-size: 20px
    padding: 8px 30px
  @media (min-width: 1280px)
    font-size: 24px
    padding: 8px 20px
  @media (min-width: 1600px)
    padding: 8px 30px
