.loginModal
  h1, h2, h3, h4, h5, h6
    color: #ffffff
  h2
    font-size: 30px
  h4
    font-size: 24px
  .loginBtn
    width: 100%
    border-radius: 5px
    &.fb
      background: #2c88d9
      border-color: #2c88d9
.signupInfoModal
  :global(.ant-select-selection-search)
    padding-left: 40px
  :global(.ant-form-item-label)
    text-align: left
    label
      color: #ffffff
  :global(.ant-input-status-error)
    background: linear-gradient(152.97deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%) !important
  .formFieldBg
    background: linear-gradient(to right, rgba(255, 255, 255, 0.2), rgba(217, 217, 217, 0.04)) !important
    backdrop-filter: blur(40px) !important
    font-size: 18px
    color: #ffffff
    font-weight: 500
    line-height: 1.15
    padding: 12px 15px
    border: none !important
    width: 100%
    border-radius: 4px
    height: 40px
    &.formFieldSelect
      padding: 0
      :global(.ant-select-selector)
        background: none
        border: none
        padding: 5px 10px
        height: 40px
        :global(.ant-select-selection-item)
          line-height: 1.6
      :global(.ant-select-arrow)
        background: url("/assets/iconCarretDown.svg") no-repeat center
        background-size: contain
        width: 13px
        height: 13px
        transform: translateY(-50%)
        margin-top: 0
        *
          display: none
      input
        height: 100% !important
.btn
  //@apply text-white leading-28px
  @media (min-width: 0px)
    font-size: 20px
    padding: 8px 30px
  @media (min-width: 1280px)
    font-size: 24px
    padding: 8px 20px
  @media (min-width: 1600px)
    padding: 8px 30px
