.wrapper
  overflow-x: scroll
  width: 100%
  border-radius: 16px 16px 0px 0px
.containerTab
  min-width: 600px
  border-radius: 16px 16px 0px 0px
  margin-top: 50px
  background: linear-gradient(333deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
  backdrop-filter: blur(42px)
  padding: 32px
.container_table
  :global(.ant-table)
    color: #FFF
    background: none
    padding: 0px

  :global(.ant-table table)
    text-align: center
  :global(.ant-table-thead > tr > th)
    color: #FFF
    font-size: 18px
    font-weight: 600
    background: transparent
    text-align: center
    @media ( max-width: 640px )
      padding: 12px 8px
      font-size: 13px
  :global(.ant-table.ant-table-bordered > .ant-table-container)
    border-left: none
    :global(.ant-table-content > table)
      border-top: none
  :global(.ant-table-container table > thead > tr > th:last-child)
    border-right: none !important
  :global(.ant-table-container table > tbody > tr > td:last-child)
    border-right: none !important
  :global(.ant-table-container table > tbody > tr > td)
    border-color: rgb(189 189 189 / 42%) !important
  :global(.ant-table-container table > thead > tr > th)
    border-color: rgb(189 189 189 / 42%) !important
  :global(.ant-table-tbody > tr:hover > td)
    background: rgba(255, 255, 255, 0.2) !important
  :global(.ant-pagination)
    display: none

  :global(.ant-table-tbody > tr > td)
    @media (max-width: 640px)
      padding: 12px 8px
      font-size: 13px

  .title
    display: flex
    align-items: center
    .im_team
      max-width: 32px
      overflow: hidden
      border-radius: 100%
    span
      margin-left: 12px

  .avt
    max-width: 32px
    border-radius: 100%

.wrapper::-webkit-scrollbar
  width: 4px
  height: 4px
  border-radius: 16px
  display: block
  background: rgba(255,255,255,.3)
.wrapper::-webkit-scrollbar-thumb
  border-radius: 16px
  background: linear-gradient(290.92deg,#0bebd6,#cd28e8)
