.container
  .im_conver
    width: 100%
    height: auto
    position: relative
    max-height: 400px
    .im_banner
      background-size: 100%
      background-repeat: no-repeat
      background-position: center
      @media (min-width: 0)
        padding: 100px 0px
      @media (min-width: 640px)
        padding: 140px 0px
        height: 0
      @media (min-width: 1280px)
        padding: 160px 0px
      @media (min-width: 1600px)
        padding: 180px 0px
      @media (min-width: 1920px)
        padding: 200px 0px

    .title
      background: linear-gradient(175deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%)
      backdrop-filter: blur(12px)
      position: absolute
      top: 0
      @media (min-width: 0px)
        margin: 40px 0px 0px 0px
        padding: 12px
        min-width: 260px
        border-radius: 16px
        left: 10px
      @media (min-width: 992px)
        left: 0
        border-radius: 16px
        min-width: 336px
        padding: 20px
        margin-top: 38px
        margin-left: 60px

      .line
        position: absolute
        width: 4px
        height: 50px
        background: #FFF
        @media (min-width: 0px)
          top: -67%
        @media (min-width: 992px)
          top: -54%
      .line:nth-child(1)
        left: 12px
      .line:nth-child(2)
        right: 12px
      p
        color: #FFF
        font-size: 24px
        line-height: 28px
        font-weight: 700
        @media (max-width: 992px)
          font-size: 18px
          margin-bottom: 0px
      .detail
        display: flex
        align-items: center
        justify-content: space-between
        p
          margin: 0
          font-size: 16px
          font-weight: 300
          @media (max-width: 992px)
            font-size: 14px
        .total
          display: flex
          align-items: center
          justify-content: space-between
          span
            font-size: 18px
            color: #0BEBD6
            font-weight: 700
            margin-left: 4px
            @media (max-width: 992px)
              font-size: 13px
        .btn
          padding: 4px 12px
          font-size: 14px
      .line::before
        content: ""
        position: absolute
        top: 99%
        left: -2px
        width: 8px
        height: 8px
        border-radius: 100%
        background: #FFF
        box-shadow: 0px 0px 9px 8px rgba(67, 224, 247, 0.37)
    .title::before
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      z-index: -1
      border-radius: 16px
      padding: 1px
      background: linear-gradient(341.59deg, rgba(11, 235, 214, 0.5) -37.08%, rgba(11,235, 214, 0.5) 96.75%), rgba(241, 241, 241, 0.1)
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0)
      -webkit-mask-composite: xor
      mask-composite: exclude
