.chestPrize
  min-width: 130px
  margin-right: 16px
  height: 100%
  display: flex
  flex-direction: column
  &:global(.Common)
    color: #787878
  &:global(.Uncommon)
    color: #618FC5
    .prizeImg
      border-bottom-color: #618FC5
  &:global(.Rare)
    color: #07FF3E
    .prizeImg
      border-bottom-color: #07FF3E
  &:global(.Epic)
    color: #07D2FF
    .prizeImg
      border-bottom-color: #07D2FF
  &:global(.Legendary)
    color: #EBFF07
    .prizeImg
      border-bottom-color: #EBFF07
  &:global(.Mythic)
    color: #FA07FF
    .prizeImg
      border-bottom-color: #FA07FF
  &:global(.Divine)
    color: #FF7607
    .prizeImg
      border-bottom-color: #FF7607
  &:last-of-type
    margin-right: 0
  .prizeImg
    display: flex
    align-items: center
    justify-content: center
    padding: 34px
    background: rgba(69, 82, 107, 0.5)
    backdrop-filter: blur(24.2991px)
    border-bottom: 2px solid #787878
    img
      width: 60px
      object-fit: contain
  .prizeTitle
    background: rgba(45, 52, 70, 0.5)
    backdrop-filter: blur(40px)
    height: 100%
    display: flex
    align-items: center
    justify-content: center
    text-align: center

