@import styles/common
.registrationPhase
  @media screen and (min-width: 768px)
    margin-bottom: 70px
  *
    color: #ffffff
  button
    min-width: 162px
    padding: 12px
    font-size: 20px
    font-weight: 500
    @include box-glass
    background: rgba(0, 0, 0, 0.3)
    @include border-grad-1(linear-gradient(290.92deg,#0bebd6,#cd28e8))

  .startTime
    display: flex
    align-items: center
    font-size: 16px
    margin-bottom: 20px
    @media screen and (min-width: 768px)
      justify-content: flex-end
    :global(.ant-image)
      margin-right: 10px
      width: 38px
      height: 38px
      img
        width: 100%
        height: 100%
  .registrationPhaseMetadata
    display: flex
    flex-direction: row
    flex-wrap: wrap
    //align-items: center
    @media screen and (min-width: 768px)
      flex-direction: row
      justify-content: center
      align-items: flex-start
    @media screen and (min-width: 1200px)
      justify-content: space-between
    .item
      text-align: center
      margin-bottom: 10px
      width: 49%
      display: flex
      flex-direction: column
      @media screen and (min-width: 576px)
        padding: 0px 10px
      @media screen and (min-width: 768px)
        min-width: calc(100% / 3)
        max-width: calc(100% / 3)
        padding: 0px 15px
      &:first-of-type
        .itemText
          h3
            text-transform: uppercase
            color: #FFD058 !important
            text-shadow: 0 0 20px #FFD058
            font-size: 20px
            font-weight: 500
            margin-bottom: 0px
          p
            font-size: 18px
          @media screen and (min-width: 767px)
            h3
              font-size: 30px
              p
                font-size: 20px
          @media screen and (min-width: 1023px)
            h3
              font-size: 34px
              p
                font-size: 20px
        .itemImg
          margin-bottom: 19px
          :global(.ant-image)
            &:after
              bottom: -30px
              right: -10px
          img
            @media screen and (max-width: 767px)
              width: 120px
      .itemClosed
        display: flex
        flex-direction: row
        margin-top: 15px
        .itemImgClosed
          :global(.ant-image)
            width: 18px
            img
              padding-bottom: 5px
        .itemParticipantClosed
          font-size: 30px
          text-transform: uppercase
          color: #32D2FF !important
          text-shadow: 0 0 20px #32D2FF
          font-weight: 700
          margin-left: 5px

      &:nth-of-type(2)
        .itemText
          h3
            text-transform: uppercase
            color: #32D2FF !important
            text-shadow: 0 0 20px #32D2FF
            font-size: 20px
            font-weight: 500
            margin-bottom: 0px
          p
            font-size: 18px
          @media screen and (min-width: 768px)
            h3
              font-size: 30px
              p
                font-size: 20px
          @media screen and (min-width: 1023px)
            h3
              font-size: 34px
              p
                font-size: 20px
        .itemImg
          :global(.ant-image)
            &:after
              top: 50%
              right: -30px
              transform: translateY(-50%)
          @media screen and (max-width: 767px)
            //margin-top: 40px
          img
            @media screen and (max-width: 767px)
              width: 120px
      &:nth-of-type(3)
        background: linear-gradient(91.09deg, rgba(24, 137, 228, 0.2) 0.33%, rgba(11, 235, 214, 0.2) 99.88%)
        //background-clip: content-box
        opacity: 1
        border-radius: 4px
        padding: 0px 30px
        width: 100%
        //backdrop-filter: blur(40px)
        .itemTitle
          margin-top: 34px
          margin-bottom: 50px
          font-size: 18px
          font-weight: 400
        .itemText
          margin-bottom: 35px
          span
            text-transform: uppercase
            color: #32D2FF !important
            text-shadow: 0 0 20px #32D2FF
            font-size: 48px
            font-weight: 500
            margin-bottom: 0px
        @media screen and (max-width: 767px)
          margin-top: 20px
          .itemTitle
            margin-top: 20px
            margin-bottom: 20px
          .itemText
            margin-bottom: 10px
            span
              font-size: 34px
        @media screen and (min-width: 768px)
          .joinWrap
            button
              width: auto
              border-radius: 4px
          .itemText
            span
              font-size: 50px
        .itemImg
          //padding-top: 30px
          :global(.ant-image)
            &:after
              top: -30px
              right: -10px
          img
            @media screen and (max-width: 767px)
              width: 60px
      .itemImg
        //margin-bottom: 20px
        @media screen and (min-width: 576px)
          //height: 180px
          display: flex
          align-items: center
          justify-content: center
        :global(.ant-image)
          position: relative
          img
            position: relative
          &:before, &:after
            content: ''
            display: block
            position: absolute
            z-index: -1
          &:before
            top: 0
            left: 0
            right: 0
            bottom: 0
            //background: linear-gradient(180deg, #2FD4C5 0.31%, rgba(47, 138, 212, 0.6) 100%)
            filter: blur(55px)
            border-radius: 50%
          // &:after
          //   background: url("/assets/TournamentDetail/ellipse.svg") no-repeat top center
          //   background-size: cover
          //   width: 74px
          //   height: 71px
      h3
        font-weight: 500
        font-size: 20px
        margin-bottom: 5px
      p
        font-size: 20px
      .btnClaim
        width: auto !important
        height: 100% !important
        //padding: 9px 10px
        min-width: auto
      .claimWrap
        //margin-bottom: 20px
        @media screen and (min-width: 768px)
          // display: flex
          // flex-direction: column
          //align-items: flex-end
  .additionalInfo
    h4
      font-weight: 500
      font-size: 18px
      @media (max-width: 767px)
        font-size: 14px !important
    p
      font-weight: 400
      font-size: 16px
      img
        width: 16px
        margin-bottom: 2px
      @media (max-width: 767px)
        font-size: 12px !important
    &.additionalPrize
      @media screen and (min-width: 768px)
        text-align: left
    h4
      font-weight: 500
      font-size: 20px
    p
      &:last-of-type
        margin-bottom: 0
      :global(.ant-image)
        margin-right: 10px
        @media (max-width: 767px)
          margin-right: 5px
    button
      width: auto
      background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%)
      @include border-grad-1(linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%))
      border-radius: 4px
      border: none
      padding: 6px 20px
      font-size: 16px
      @media screen and (min-width: 768px)
        font-size: 18px
  .countdownWrap
    margin-top: 20px
    margin-bottom: 20px
    text-align: center
    *
      color: #0BEBD6
    @media screen and (min-width: 768px)
      //text-align: left
      margin-bottom: 30px
    :global(.show-counter)
      display: inline-flex
      //font-weight: 700
    p
      font-size: 20px !important
    :global(.show-counter)
      font-size: 20px
      *
        font-size: 20px
    .countdownRegistration
      color: white !important
      font-size: 18px
      @media screen and (max-width: 767px)
        font-size: 16px
.btn
  display: flex
  justify-content: flex-end

.rewards
  margin-bottom: 24px
  .rewardsPrize
    p
      text-align: left
      font-size: 20px !important
      @media screen and (min-width: 768px)
        font-size: 24px !important
  .rewardsClaimPrize
    display: flex
    justify-content: space-between
    @media screen and (max-width: 1023px)
      flex-direction: column
    h3
      font-size: 24px !important
      font-weight: 500
    @media screen and (min-width: 768px)
      h3
        font-size: 28px !important
    .rewardsClaimSymbol
      font-size: 18px !important
      color: #0BEBD6 !important
      font-weight: 500
      @media screen and (min-width: 768px)
        font-size: 22px !important
