.wrapper
  color: white
  font-size: 20px
.container
  width: 100%
  display: flex
  justify-content: space-around

.time
  display: flex
  justify-content: flex-end

.items
  display: flex
  flex-flow: column
  align-items: center
  gap: 10px 0
  justify-content: space-around

.footer
  padding: 0 100px
  display: flex
  justify-content: space-between

.prizes
  display: flex
  flex-flow: column

.join
  display: flex
  flex-flow: column
  gap: 10px 0
