@import styles/common
.registrationPhase
  @media screen and (min-width: 768px)
    margin-bottom: 70px
  *
    color: #ffffff
  button
    min-width: 162px
    padding: 12px
    font-size: 20px
    font-weight: 500
    @include box-glass
    background: rgba(0, 0, 0, 0.3)
    @include border-grad-1(linear-gradient(290.92deg,#0bebd6,#cd28e8))

  .startTime
    display: flex
    align-items: center
    font-size: 16px
    margin-bottom: 20px
    @media screen and (min-width: 768px)
      justify-content: flex-end
    :global(.ant-image)
      margin-right: 10px
      width: 38px
      height: 38px
      img
        width: 100%
        height: 100%
  .registrationPhaseMetadata
    display: flex
    flex-direction: row
    flex-wrap: wrap
    //align-items: center
    @media screen and (min-width: 768px)
      flex-direction: row
      justify-content: center
      align-items: flex-start
    @media screen and (min-width: 1200px)
      justify-content: space-between
    .item
      text-align: center
      width: 49%
      display: flex
      flex-direction: column
      @media screen and (min-width: 576px)
        //padding: 0px 10px
      @media screen and (min-width: 768px)
        min-width: calc(100% / 3)
        max-width: calc(100% / 3)
        //padding: 0px 15px
      &:first-of-type
        @media screen and (min-width: 1320px)
          padding-right: 120px
        .itemText
          h3
            text-transform: uppercase
            color: #FFD058 !important
            text-shadow: 0 0 25px #FFD058
            font-size: 22px
            font-weight: 500
            line-height: 115%
            margin-bottom: 0px
          p
            font-weight: 400
            font-size: 12px
            line-height: 150%
            margin-top: 5px
          @media screen and (min-width: 768px)
            h3
              font-size: 34px
            p
              font-size: 16px
          @media screen and (min-width: 1024px)
            h3
              font-size: 40px
            p
              font-size: 18px
        .itemImg
          margin-bottom: 17px
          :global(.ant-image)
            &:after
              bottom: -30px
              right: -10px
          img
            margin-top: 7px
            @media screen and (max-width: 767px)
              width: 120px
      .itemClosed
        display: flex
        flex-direction: row
        margin-top: 15px
        .itemImgClosed
          :global(.ant-image)
            width: 20px
            @media screen and (min-width: 768px)
              width: 22px
            img
              padding-bottom: 10px
              margin-right: 5px
        .itemParticipantClosed
          font-size: 40px
          text-transform: uppercase
          color: #32D2FF !important
          text-shadow: 0 0 20px #32D2FF
          font-weight: 500
          line-height: 115%
          margin-left: 10px
          @media screen and (min-width: 1320px)
            font-size: 48px
      &:nth-of-type(2)
        @media screen and (min-width: 1320px)
          padding-right: 120px
        .itemText
          h3
            text-transform: uppercase
            color: #32D2FF !important
            text-shadow: 0 0 25px #32D2FF
            font-size: 22px
            font-weight: 500
            line-height: 115%
            margin-bottom: 0px
          p
            font-weight: 400
            font-size: 12px
            line-height: 150%
            margin-top: 5px
          @media screen and (min-width: 768px)
            h3
              font-size: 34px
            p
              font-size: 16px
          @media screen and (min-width: 1024px)
            h3
              font-size: 40px
            p
              font-size: 18px
        .itemImg
          :global(.ant-image)
            &:after
              top: 50%
              right: -30px
              transform: translateY(-50%)
          @media screen and (max-width: 767px)
            //margin-top: 40px
          img
            margin-top: 7px
            @media screen and (max-width: 767px)
              width: 120px
      &:nth-of-type(3)
        position: relative
        padding: 20px
        @media screen and (max-width: 767px)
          margin-top: 20px
        @media screen and (max-width: 767px)
          width: 100%
        @media screen and (min-width: 1320px)
          padding: 34px 50px 28px 50px
        &:before
          content: ''
          background: linear-gradient(91.09deg, rgba(24, 137, 228, 0.2) 0.33%, rgba(11, 235, 214, 0.2) 99.88%)
          backdrop-filter: blur(40px)
          opacity: 0.8
          border-radius: 4px
          position: absolute
          top: 0
          bottom: 0
          left: 0
          right: 0
          z-index: 0
        *
          z-index: 1
        .itemTitle
          margin-bottom: 20px
          font-size: 16px
          font-weight: 400
          line-height: 150%
          @media screen and (min-width: 767px)
            font-size: 18px
            margin-bottom: 50px
        .itemText
          margin-bottom: 25px
          margin-top: 15px
          @media screen and (min-width: 768px)
            margin-bottom: 40px
          span
            text-transform: uppercase
            color: #32D2FF !important
            text-shadow: 0 0 20px #32D2FF
            font-weight: 500
            line-height: 115%
            font-size: 54px
            margin-bottom: 0px
            @media screen and (min-width: 767px)
              font-size: 60px

        .joinWrap
          button
            width: auto
            border-radius: 4px
            margin-bottom: 15px
        .itemImg
          :global(.ant-image)
            &:after
              top: -30px
              right: -10px
          img
            width: 50px
            @media screen and (min-width: 767px)
              width: 60px
      .itemImg
        //margin-bottom: 20px
        @media screen and (min-width: 576px)
          //height: 180px
          display: flex
          align-items: center
          justify-content: center
        :global(.ant-image)
          position: relative
          img
            position: relative
      h3
        font-weight: 500
        font-size: 20px
        margin-bottom: 5px
      p
        font-size: 20px
      .btnClaim
        width: auto !important
        height: 100% !important
        padding: 6px 24px
        min-width: auto
      :global(.ant-btn[disabled])
        background: grey !important
      .claimWrap
        .claimWrapTitle
          margin-top: 10px
          font-weight: 500
          font-size: 14px
          line-height: 150%
          text-align: left
          margin-bottom: 5px
          @media screen and (min-width: 768px)
            font-size: 20px !important
  .additionalInfo
    //margin-top: 20px
    text-align: center
    h4
      font-weight: 500
      font-size: 14px
      line-height: 150%
      margin-bottom: 10px
      @media screen and (min-width: 768px)
        margin-bottom: 16px
        font-size: 18px
    p
      font-weight: 400

      line-height: 150%
      img
        width: 18px
        margin-bottom: 2px
        margin-right: 12px
      // @media (max-width: 767px)
      //   font-size: 12px !important
    &.additionalPrize
      text-align: left
      p
        font-size: 12px !important
        @media screen and (min-width: 768px)
          font-size: 16px !important
    button
      width: auto
      background: linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%)
      @include border-grad-1(linear-gradient(91.09deg, #1889E4 0.33%, #0BEBD6 99.88%))
      border-radius: 4px
      border: none
      padding: 9px 23px
      font-size: 16px
      font-weight: 500
      line-height: 115%
      @media screen and (min-width: 768px)
        font-size: 20px
      //margin-bottom: 16px
      // @media screen and (min-width: 768px)
      //   font-size: 18px
  .countdownWrap
    text-align: center
    *
      color: #0BEBD6
    :global(.show-counter)
      display: inline-flex
      //font-weight: 700
    p
      font-size: 20px !important
    :global(.show-counter)
      font-size: 20px
      *
        font-size: 20px
    .countdownRegistration
      color: white !important
      font-weight: 400
      font-size: 18px
      line-height: 115%
      // @media screen and (max-width: 767px)
      //   font-size: 16px
    .countdownRegistrationTimer
      font-weight: 600
      font-size: 20px
      line-height: 115%
      color: #0BEBD6
.btn
  display: flex
  justify-content: flex-end

.rewards
  .rewardsPrize
    p
      text-align: left
      font-weight: 500
      font-size: 18px
      line-height: 150%
      //margin-bottom: 5px
    .rewardsClaimPrize
      display: flex
      justify-content: space-between
      //margin-top: 5px
      @media screen and (max-width: 1023px)
        flex-direction: column
      h3
        font-weight: 500
        font-size: 30px
        line-height: 115%
        @media screen and (min-width: 1320px)
          font-size: 34px
    // @media screen and (min-width: 768px)
    //   h3
    //     font-size: 28px !important
    .rewardsClaimSymbol
      font-size: 16px !important
      color: #0BEBD6 !important
      font-weight: 500
      line-height: 115%
      text-transform: uppercase
      @media screen and (min-width: 768px)
        font-size: 20px !important
    .rewardsPrizeTitle
      margin-top: 10px
      margin-bottom: 5px
