.editProfile
  padding-top: 20px
  h3
    color: #ffffff
  label
    color: #ffffff
  input[disabled]
    color: #919191
  .emailFieldWrap
    position: relative
    .emailField
      width: calc(100% - 85px)
    .btnVerify
      position: absolute
      top: 43px
      right: 0