.wrapper
  padding: 15px
  color: white !important
  font-size: 14px
  text-align: justify
  font-weight: 500
  h1, h2, h3, h4, h5, h6
    color: white !important

@media (min-width: 414px)
  .wrapper
    font-size: 16px

@media (min-width: 768px)
  .wrapper
    font-size: 20px

@media (min-width: 992px)
  .wrapper
    font-size: 24px
    padding: 30px
