.wrapper
  color: white
  .info
    display: flex
    flex-direction: row
    padding: 16px 20px
    height: 120px
    gap: 0 78px
    background: rgba(0, 0, 0, 0.4)
    .user
      .userInfo
        display: flex
        align-items: center
        gap: 0 8px
        img
          width: 48px
          border-radius: 49%
      .userName
        h2
          font-family: 'Lexend'
          font-style: normal
          font-weight: 400
          font-size: 16px
          line-height: 20px
          color: #FFFFFF
          margin-bottom: 4px
        h3
          font-family: 'Lexend'
          font-style: normal
          font-weight: 400
          font-size: 12px
          line-height: 15px
          color: #DBE0E8
          margin-bottom: 0
    .participants
      h3
        font-family: 'Lexend'
        font-style: normal
        font-weight: 300
        font-size: 14px
        line-height: 150%
        color: #FFFFFF
      .groupParticipants
        display: flex
        align-items: center
        gap: 0 4px
        span
          font-family: 'Lexend'
          font-style: normal
          font-weight: 500
          font-size: 24px
          line-height: 115%
          color: #00F9FF
    .btnGroup
      display: flex
      flex-direction: row
      height: fit-content
      gap: 0 4px
      .btnJoin
        padding: 0 30px



