.container
  //min-width: 650px
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  .logo
    margin-top: 22px
    margin-bottom: 20px
  :global(.ant-modal-body)
    padding: 0
    background-image: url("/assets/P2E/raffles/imagePopClaimRaffes.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    border-radius: 4px 4px 0px 0px
  :global(.ant-modal-close .ant-modal-close-x)
    color: #6c6b6b
    background: none
.wrapContainer
  max-width: 416px
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  .button
    margin-bottom: 22px
    color: #FFFFFF
  .desc
    font-family: 'Lexend'
    font-style: normal
    font-weight: 300
    font-size: 18px
    line-height: 22px
    letter-spacing: 0.04em
    text-align: center
    text-shadow: 0 4px 20px #000000
    letter-spacing: 0.04em
    margin-bottom: 22px
